@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1155px){
    header .header-desctop{position: relative;
        .header-tel{flex-direction: row; position: absolute; top: 0; right: 0;
           a{margin: 18px 0px 0px 0px;}
           a.button-line{order: 1; margin: 10px 0px 10px 40px;
           }
        }
        .navigation{
            nav{
                ul{  justify-content: space-between;
                }
            }
        }
    }
}
@media screen and (max-width: 1024px){
    header{
        .mbox{padding-top: 5px;
            .header-desctop{position: relative;padding-right: 19px;
                .logo{padding-left: 8px; margin-bottom: -3px;}
                .navigation{max-width: 660px;margin-right: -15px;
                    nav{
                        ul{
                            li{width: 20%;
                                a{font-size: 15px;

                                }
                            }
                        }

                    }
                    &>nav{
                        &>ul{
                            &>li{
                                &>a{
                                    span{letter-spacing: 2px;}
                                }
                            }
                        }
                    }
                }
                .header-tel{flex-direction: row; position: absolute; top: 0; right: 17px;
                    .button-line span:after{bottom: -7px;}
                   a{margin: 18px 0px 0px 0px;}
                   a.button-line{order: 1; margin: 10px 0px 7px 40px;
                        span{
                        }
                   }
                }
            }
        }
    }
}
@media screen and (max-width: 992px){
    /*header*/
    header{background-color: #2b81da;position: relative;z-index: 2;
        .header-desctop{display: none;}
        .header-mobile{display: flex;flex-direction:row;align-items:center;justify-content: space-between;height: 111px;
            .header-mobile-button{position: relative;height: 67px;width: 78px;background-color: #48fefc;cursor: pointer;z-index: 5;transition:right ease-out .2s;order:3;margin-right: -15px;
                span{height: 4px;width: 33px;position: absolute;left: 50%;top: 50%;background-color: #2b81da;border-radius: 5px;transform: translate(-50%,-50%);transition:all ease .2s;
                    &:nth-child(1){top: 39%;}
                    &:nth-child(2){}
                    &:nth-child(3){top: 62%;}

                    //&:after{width: 4px;height: 100%;content: '';background-color: #2b81da;border-radius: 50%;left: 0;top: 0;position: absolute;}
                    //&:before{width: 17px;height: 100%;content: '';background-color: #2b81da;border-radius: 10px;right: 0;top: 0;position: absolute;}
                }
                &.active{
                    span{
                        &:nth-child(1){top: 55%;transform: translate(-50%,-50%) rotate(45deg);}
                        &:nth-child(2){opacity: 0;}
                        &:nth-child(3){top: 55%;transform: translate(-50%,-50%) rotate(-45deg);}
                    }
                }
            }
            .header-mobile-logo{display: none;}
            .header-mobile-tell-img{padding: 10px;cursor: pointer;}
            .header-mobile-tell{position: absolute;top: 50%;transform: translateY(-50%);right: 35px;display: none;}
            .header-mobile-tell-modal{position: absolute;top: 50%;transform: translateY(-50%);width: 305px;background-color: #fff;right: -100%;padding: 14px 75px 14px 38px;text-align: center;transition: right ease-out .5s;
                &.active{right: 0;}
                .header-mobile-tell-img{position: absolute;transform: translateY(-50%);right: 35px;top: 50%;cursor: pointer;}
                a{text-decoration: none;color:#2b81da;font-size: 22px; margin-bottom: 10px;display: inline-block;}
                a.button{margin-bottom: 0;color: #fff;font-size: 13px;}
            }
            .header-mobile-logo svg{height: 100%;width: 100%;max-width: 128px;}
            .header-mobile-navigation{position: absolute;z-index: 3;left: 100%;background-color: #2b81da;color:#fff;padding: 27px 31px;font-family: 'Muller';width: 100%;transition:left ease-out .2s;font-weight: 300;
                &.active{left: 0;}
                &:after{position: absolute;width: 100%;height: 112px;top: 0;left: 0;pointer-events:none;background-color: #125dab;content: '';}
                &>ul{padding: 0;margin: 0;list-style-type: none;position: relative;z-index: 2;
                    &>li>a{font-size: 28px;}
                    &>li:nth-child(1)>a,&>li:nth-child(2)>a{font-family: "Open Sans",sans-serif;text-transform: uppercase;font-size: 16px;margin-bottom: 29px;display: inline-block;}

                    &>li:nth-child(3){margin-top: 30px;margin-bottom: 30px;}
                    &>li:nth-child(4){}

                    &>li>ul{list-style-type: none;padding-left: 0;
                        li{margin:17px 0px;
                            a{font-family: 'Muller';}
                        }
                    }
                }
                a{color: white;text-decoration: none;}
            }
        }
        .header-mobile-768-logo{display: block;}
        .header-mobile-768-tel.header-tel{display: block;margin-right: -7%;letter-spacing: 0.1px;
            a{text-transform: uppercase;color: white;text-decoration: none;font-size: 26px; font-weight :700;}
        }
    }
}
@media screen and (max-width: 768px){
    header .header-mobile-768-tel.header-tel{margin-right: -7.9%;}
}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){
    header .header-mobile-768-tel.header-tel {margin-right: 0%;letter-spacing: 0px;
        a{font-size: 23px;}
    }
}
@media screen and (max-width: 605px){
    header .header-mobile-768-tel.header-tel a{font-size: 19px;}
}
@media screen and (max-width: 479px){
    /*header pravki*/
    header .header-mobile-768-logo{display: none;}
    header .header-mobile .header-mobile-logo{display: block;}
    header .header-mobile-768-tel.header-tel{display: none;}
    header .header-mobile .header-mobile-button {height: 48px;width: 60px;}
    header .header-mobile .header-mobile-button span{width: 23px;}
    header .header-mobile .header-mobile-button span:nth-child(1){top: 36%;}
    header .header-mobile .header-mobile-button span:nth-child(3){top: 66%;}
    header .header-mobile .header-mobile-tell{display: block;right: 69px;}
    header .header-mobile .header-mobile-tell-img{padding: 10px 12px 15px;margin-top: 6px;
        &.active{background-color: #125eac;}
    }
    header .header-mobile .header-mobile-tell-modal{top: calc(100% - 31px);z-index: 10;transform: translateY(0);background-color: #125eac;color: white;width: calc(100% - 30px);padding: 27px 30px;}
    header .header-mobile .header-mobile-tell-modal.active {right: 17px;}
    header .header-mobile .header-mobile-tell-modal a{text-decoration: none;color: #FFFFFF;font-size: 22px;margin-bottom: 22px;display: inline-block;}
    header .header-mobile .header-mobile-tell-modal a.button{background-color: transparent;border:2px solid white;    line-height: 36px;}
}
@media screen and (max-width: 320px){

}