@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1200px){

    /* professional-services */

        .professional-sevices{
            .mbox{padding:0;}
        }

    /* professional-services */

}
@media screen and (max-width:1170px){

    /* blue-block */

        .blue-block-wrap{

            .blue-block-wrap-descript{
                .blue-block-wrap-descript-img{margin-right:-120px;
                    img{margin-bottom:-51px;}
                }
            }

        }

    /* /blue-block */

}
@media screen and (max-width: 1024px){

    /* footer */

        .footer{padding-bottom: 30px;padding-top: 29px;

            ul{
                ul{padding:19px 0 5px 20px;}
            }

            .mbox{padding-left: 0px;}

            .footer-wrap{ padding: 0 7px; justify-content: flex-start;
                .column{width: 33%;
                    &.first{ width: 29.3%;}
                    &.second{ width: 29.5%;}

                    &:nth-child(3){padding-left:27px;}

                    .column-list{margin-bottom: 0px;}

                    .show-on1024{ display: block;margin-top: 55px; margin-left: 5px;

                            .footer-contact{
                                .footer-contact-telefone-wrap{font-family: 'Open Sans'
                                }
                            }

                    }

                    &>.column-list{
                        &>ul{
                            &>li{margin-top: 16px;}
                        }
                    }

                }
                .column-title{margin-bottom: 24px;}
                .column-list{margin-top: 0;}
                .footer-logo { right: auto;   left: -30px;}
            }
        }

    /* /footer */

    /* about-company */

        .about-company{
            .about-company-text{
                h2{margin: 0 0 32px 0;}
            }
        }

    /* about-company */

    /* professional-for-home */

        .professional-for-home{
            .professional-for-home-col{
                .professional-for-home-col-wrap{width: calc(100% - 30px);
                    h2{font-size: 14px;}
                }
            }
        }

    /* /professional-for-home */

}
@media screen and (max-width: 992px){

    /* footer */

        .footer{padding-top: 55px;
            &.grey{
                padding-top: 40px;
            }
            .mbox{

            }
            .footer-wrap{display: none;}

            .footer-wrap-mobile{display:flex;}

        }

    /* /footer */

    /* left-column */

        .left-column-main{float:none;max-width: 290px;width: 100%;margin:0 auto;padding-top: 12px;
            .column-nav{position: relative;
                ul{max-width: none;
                    li{display: none;padding:15px 35px 14px 15px;border-width: 0 1px 1px 1px;border-style:solid;border-color:#dadada;
                        &.active{display: block;border-width: 0;cursor: pointer;position: absolute;top:0;left:0;width: 100%;
                            &:before{width: 100%;left:0;}
                            &:after{content:'';display: block;position: absolute;top:calc(50% - 3px);right:20px;width: 9px;height: 6px;background-image:url(../images/select-arrow.png);background-size:9px 6px;background-repeat: no-repeat;z-index: 2;transform-origin:50% 50%;transition:all 300ms ease;}
                            &.show{
                                &:after{transform:rotate(180deg);}
                            }
                        }

                    }
                }
            }
        }

    /* /left-column */

    /* blue-block */

        .blue-block-wrap{margin-bottom: 20px;padding-top: 19px;z-index: 2;

            h1{margin-left: -4px;line-height: 1;}

            .blue-block-nav{position: relative;height: 50px;

                .mobile-arrow{display: block;position: relative;width: 35px;height: 35px;margin: 0 auto;cursor:pointer;
                    &:before, &:after{content:'';display: block;width: 20px;height: 4px;background-color: #fff;position:absolute;top:calc(50% - 2px);transform-origin:50% 50%;transition:all 300ms ease;}
                    &:before{left:calc(50% - 17px);transform:rotate(45deg) translateZ(0px);}
                    &:after{left:calc(50% - 5px);transform:rotate(-45deg) translateZ(0px);}
                    &:hover, &.active{
                        &:before, &:after{background-color: #48fefc;}
                    }
                    &.active{
                        &:before{left:8px;}
                        &:after{left:calc(50% - 10px);}
                    }
                }

                nav{position: absolute;top:100%;left:0;width: calc(100% + 30px);margin:0 -15px;padding: 0 15px 15px 15px;background-color: #2b81da;display: none;
                    ul{display: block;
                        li{margin-right: 0;text-align: center;padding:10px 0;
                            a{padding-bottom: 0;
                                &:after{top:calc(100% + 10px);width: 60px;left:calc(50% - 30px);}
                            }
                        }
                    }
                }

            }

            .blue-block-wrap-descript{align-items: flex-start;

                h1{font-size: 55px;}

                .blue-block-wrap-descript-text{padding-bottom: 0;width: 368px;margin-bottom: 35px;}
                .blue-block-wrap-descript-img{width: calc(100% - 319px);margin-right: -61px;
                    img{margin-bottom: -81px;margin-right: 0px;}
                }
            }

        }

    /* /blue-block */

    /* breadcrumbs */

        .breadcrumbs{display: none;}

    /* /breadcrumbs */

    /* professional-repair-global */

        .profesional-repair-global{
            .blue-block-wrap{margin-bottom: 20px;}
        }

    /* /professional-repair-global */

    /* professional-form */

        .professional-form{padding-top: 15px;
            .professional-form-wrap{display: block;}
            .left-side{width: 100%;margin-bottom: 30px;margin-left: 0;}
            .right-side{max-width: 340px;width: 100%;margin:0 auto;
                .form-wrapper{padding:23px 38px 30px 38px;}
            }
        }

    /* /professional-form */

    /* professional-services */

        .professional-sevices{
            table, tbody, tr, td{display: block;}

            table{
                tr{
                    &:first-child{
                        td{
                            &:first-child{padding:0;
                                .profesional-services-img{position: static;
                                    img{right: 0;}
                                }
                            }

                        }
                    }
                    td{padding:20px 0 20px 0;width: 100%;
                        &:first-child{background-color: #f4f8fb!important;}
                        &.background-grey{background-color: #fff;}
                    }
                    &:nth-child(2){
                        td{
                            &:last-child{
                               .professional-services-text{width: calc(100% - 320px);}
                            }
                        }
                    }
                }
            }

            .professional-services-text{width: calc(100% - 320px);}
            .profesional-services-img{text-align: right;width: 300px;}

        }

    /* /professional-services */

    /* professional-services-description */

        .professional-services-description{

            .professional-description-wrap{display: block;
                .professional-description-col{width: 100%;margin-bottom: 50px;
                    &:last-child{margin-bottom: 0;padding-left: 0;}
                    .professional-description-text{
                        &.ctext{
                            h3{
                                br{display: none;}
                            }
                        }
                    }
                }
            }

        }

    /* /professional-services-description */

    /* about-company blue-block-wrap */

        .about-company-global{

            .blue-block-wrap{position: relative;z-index: 2;

                h1{margin-bottom: 15px;}

            }

        }

    /* /about-company blue-block-wrap */

    /* about-company-global */

        .about-company-global{

            .blue-block-wrap{margin-bottom: 20px;}

            .left-column-main{margin-bottom: 30px;}

        }

    /* /about-company-global */

    /* about-company-block */

        .about-company-block{
            .about-company-block-wrap{flex-wrap:wrap;justify-content: center;
                .about-company-block-column{width: 100%;max-width: 768px;
                    &:last-child{padding-left:0;margin-top: 0;}
                }
            }
        }

    /* /about-company-block */

    /* professional-for-home-global */

        .professional-for-home-global{

            .blue-block-wrap{padding-top: 37px;margin-bottom:50px;
                .blue-block-wrap-descript{
                    .blue-block-wrap-descript-text{padding-left: 7px;

                        h1{margin-bottom: 25px;}

                        p{margin-left: -3px;}
                    }
                }
            }

        }

    /* /professional-for-home-global */

    /* professional-for-home */

        .professional-for-home{margin-top:0;margin-left:auto;margin-right:auto;max-width: 618px;width: 100%;padding-top: 52px;margin-bottom: 84px;

            .col-w-1, .col-w-2{width: auto;}

            .professional-for-home-row{

                /* bad styles */

                    &.professional-for-home-row-top{
                        .professional-for-home-col{
                            &:nth-child(1){
                                &:first-child{
                                    .professional-for-home-col-wrap{left:14px;}
                                }
                            }
                            &:nth-child(2){
                                .professional-for-home-col-wrap{left:13px;}
                            }
                            &:nth-child(3){
                                .professional-for-home-col-wrap{left:13px;}
                            }
                            &:nth-child(4){
                                .professional-for-home-col-wrap{
                                    h2{max-width: 185px;}
                                }
                            }
                        }
                    }

                    &.professional-for-home-row-bottom{
                        .professional-for-home-col{
                            &:first-child{
                                .professional-for-home-col-wrap{left:15px;}
                            }
                        }
                    }

                /* /bad styles */

                &.professional-for-home-row-top, &.professional-for-home-row-bottom{flex-wrap:wrap;}
                &.professional-for-home-row-top{
                    &>.professional-for-home-col{width: 50%;
                        &:last-child{width:100%;}
                    }
                }
                &.professional-for-home-row-bottom{
                    .professional-for-home-col{width: 100%;}
                }
            }

            .professional-for-home-col{
                .professional-for-home-col-wrap{
                    h2{font-size: 16px;}
                }
            }

        }

    /* /professional-for-home */

    /* professional-blog-global */

        .professional-blog-global{

            .blue-block-wrap{margin-bottom:50px;
                h1{font-size: 55px;margin-bottom:20px;}
            }

            .left-column-main{padding-top:0;max-width:100%;margin-bottom:40px;padding:0 4px;
                .column-nav{
                    ul{
                        li{padding:15px 35px 17px 19px;font-size:18px;letter-spacing: 1px;
                            &.active{
                                &:after{width:14px;height:9px;background-size:14px 9px;}
                            }
                        }
                    }
                }
            }

            .blog{margin-top: 0;margin-right: 0;}

        }

    /* /professional-blog-global */

    /* professional-blog */

        .blog{

            .blog-tags{
                ul{
                    li{margin-right:9px;
                        .tag{font-size: 12px;letter-spacing:.6px;padding:4px 5px 4px 3px;}
                    }
                }
            }

            .blog-items-main{margin-bottom: 49px;

                .blog-items-row{
                    .blog-item-col{
                        &.col-6{width:calc(56.8% - 10px);}
                        &.col-3{width:calc(43.33% - 10px);}
                    }
                    .blog-item{
                        .blog-item-footer{
                            .item-tag-line{margin-bottom: 4px;
                                .tag{padding:5px 8px 5px 5px;}
                            }
                            .blog-item-text{line-height:27px;}
                        }
                    }
                }

            }

            .blog-footer{padding-bottom: 60px;}

        }

    /* /professional-blog */

}

@media screen and (max-width: 768px){

    /* about-company */

        .about-company{padding: 115px 0 20px 0;
            .mbox{padding: 0 10px;
                .about-company-text{margin: 7px auto 72px auto;
                    h2 {font-size: 40px;}
                }
                .line-slider{padding: 0;}
            }
        }

    /* /about-company */

    /* footer */

        .footer{ padding:74px 0 27px 0;
            .footer-wrap-mobile{padding-left: 13px;}
        }

    /* footer */

    /* line-slider */

        .line-slider{
            .line-item-wrap{
                .line-img{margin-right: 16px;}
                .line-text{font-size: 16px;max-width: 206px;}
            }
        }

    /* /line-slider */

}

@media screen and (max-width:767px){

    /* blue-block-wrap */

        .blue-block-wrap{

            .blue-block-wrap-descript{align-items: flex-end;
                
                .blue-block-wrap-descript-img{
                    img{margin-bottom:-48px;}
                }
                
            }

        }

    /* /blue-block-wrap */

}

@media screen and (max-width: 666px){

    /* ctext */

        .ctext{
            h1{font-size: 42px;}
            h2{font-size: 30px;}
            h3{font-size: 28px;}
            h4{font-size: 24px;}
            h5{font-size: 18px;}
            h6{font-size: 16px;}
        }

    /* /ctext */

    /* blue-block-wrap */

        .blue-block-wrap{

            h1{font-size: 40px;line-height: 1.2;}

            .blue-block-wrap-descript{

                h1{font-size: 30px;}

                .blue-block-wrap-descript-text{width: 100%;
                    p{display: none;}
                }

                .blue-block-wrap-descript-img{display: none;}

            }

        }

    /* /blue-block-wrap */

    /* professional-form */

        .professional-form{

            .left-side{margin-bottom: 24px;
                .ctext{
                    h3{font-size: 24px;margin-bottom: 17px;}
                    p{font-size: 14px;}
                }
            }

            .professional-form-wrap{padding-bottom: 44px;}

        }

    /* /professional-form */

    /* professional-sevices */

        .professional-sevices{margin-bottom: 34px;
            table{
                tr{
                    &:first-child{
                        td{
                            &:first-child{
                                .professional-services-text{
                                    .ctext{
                                        p{font-size: 14px;line-height: 1.45;}
                                    }
                                }
                                .profesional-services-img{position: absolute;height: 100%;transform:translate(0, 0);width: 140px;}
                            }
                            &:last-child{
                                .professional-services-text{padding:15px 0 1px 14px;
                                    .ctext{
                                        h3{line-height: 1;margin-bottom: 18px;}
                                    }
                                }
                                .profesional-services-img{
                                    img{top:0;right:0;max-width: none;position: absolute;}
                                }
                            }
                        }
                    }
                    &:nth-child(2){
                        td{
                            &:first-child{
                                .professional-services-text{padding:10px 0 2px 15px;
                                    .ctext{
                                        h3{line-height: 1;}
                                    }
                                }
                                .profesional-services-img{
                                    img{top:0;right:0;position: absolute;}
                                }
                            }
                            &:last-child{
                                .professional-services-text{padding:15px 0 24px 14px;width: calc(100% - 140px);
                                    .ctext{
                                        h3{margin-bottom: 32px;}
                                    }
                                }
                                .profesional-services-img{
                                    img{top:0px;right:0;position: absolute;}
                                }
                            }
                        }
                    }
                    &:nth-child(3){
                        td{
                            &:first-child{
                                .professional-services-text{padding:14px 0 22px 15px;
                                    .ctext{
                                        h3{margin-bottom: 32px;}
                                    }
                                }
                                .profesional-services-img{
                                    img{top: 0px;right:0;position: absolute;}
                                }
                            }
                        }
                    }
                    &:nth-last-child(1){

                        .profesional-services-img{
                            img{transform:rotateY(180deg);position: absolute;}
                        }

                    }
                    &:nth-last-child(2){
                        td{
                            &:last-child{
                                .profesional-services-img{
                                    img{transform:rotateY(180deg);position: absolute;}
                                }
                            }
                        }
                    }

                }
            }

            .professional-services-text{padding:38px 0 25px 15px;width: calc(100% - 140px);position: relative;z-index: 1;
                .ctext{
                    h3{line-height: 0.8;margin-bottom: 22px;}
                }
            }
            .profesional-services-img{position: absolute;right:0;top:50%;transform:translate(30%, -50%);height: calc(100% + 40px);width: 180px;
                a{display: block;max-height: 100%;height: 100%;}
                img{min-height: 0;max-height: 100%;max-width: none;}
            }
        }

    /* /professional-sevices */

    /* professional-services-description */

        .professional-services-description{
            .professional-description-col{
                .professional-description-text{
                    &.ctext{
                        h3{font-size: 24px;margin-bottom: 19px;line-height: 1.05;}
                        p{line-height: 1.5;}
                    }
                }
            }
        }

    /* /professional-services-description */

    /* professional-for-home-global */

        .professional-for-home-global{

            .blue-block-wrap{margin-bottom:20px;}

            .blue-block-wrap{padding-top: 19px;
                .blue-block-wrap-descript{
                    .blue-block-wrap-descript-text{padding-left: 4px;margin-bottom: 49px;}
                }
            }

        }

    /* professional-for-home-global */

    /* professional-for-home */

        .professional-for-home{padding-top: 0;margin-top: -58px;margin-bottom: 58px;

            .col-h-1, .col-h-2{height: auto;min-height: 293px;}

            .professional-for-home-row{

                /* bad styles */

                    &.professional-for-home-row-top{
                        .professional-for-home-col{
                            &:nth-child(1){
                                .professional-for-home-col{
                                    &:first-child{
                                        .professional-for-home-col-wrap{left: 8px;}
                                    }
                                    &:last-child{padding:34px 0 0 0;
                                        .professional-for-home-col-wrap{left:6px;
                                            h2{margin:0 0 19px 0;}
                                            p{margin:0 0 0 -2px;
                                                .button{
                                                    span{max-width:none;}
                                                }
                                            }
                                        }
                                        .professional-for-home-col-img{top: 19px;left: 2px;}
                                    }
                                }
                            }
                            &:nth-child(2){padding:30px 0 28px 0;
                                .professional-for-home-col-wrap{left:6px;}
                                .professional-for-home-col-img{top:101px;}
                            }
                            &:nth-child(3){min-height: 223px;
                                .professional-for-home-col-wrap{left:7px;}
                                .professional-for-home-col-img{top:-1px;}
                            }
                            &:nth-child(4){min-height: 181px;
                                .professional-for-home-col-img{top:34px;}
                            }
                        }
                    }

                    &.professional-for-home-row-bottom{
                        .professional-for-home-col{
                            &:first-child{padding:28px 0 40px 0;
                                .professional-for-home-col-wrap{left:8px;}
                                .professional-for-home-col-img{top:6px;left:-1px;}
                            }
                            &:last-child{padding:31px 0 40px 0;
                                .professional-for-home-col-wrap{left:6px;
                                    h2{max-width: 166px;}
                                }
                                .professional-for-home-col-img{top:33px;left:-107px;}
                            }
                        }
                    }

                /* bad styles */

            }

            .professional-for-home-col{width: 100%!important;
                &.hover{padding:30px 0 31px 0;min-height: 213px;
                    &:before{opacity: 1;}

                    &.blue-block{
                        .professional-for-home-col-wrap{
                            p{
                                span{display: inline-block;color:#fff;max-width: none;width: 100%;height: 39px;line-height: 39px;border-radius: 25px;text-align: center;text-transform: uppercase;font-size: 12.5px;}
                            }
                        }
                    }

                }
                &.blue-block{
                    &:before{opacity: 0;}
                }
                .professional-for-home-col-wrap{left: 8px;

                    h2{
                        &:before{height: 3px;}
                    }

                    a{text-decoration: underline;}
                }
            }

        }

    /* /professional-for-home */

    /* professional-blog-global */

        .professional-blog-global{
            .blue-block-wrap{
                h1{font-size: 40px;}
            }
        }

    /* /professional-blog-global */

    /* blog */

        .blog{

            .blog-items-main{
                .blog-items-row{
                    .blog-item{
                        .blog-item-footer{
                            .blog-item-text{font-size: 18px;line-height: 20px;}
                        }
                        &.blog-item-no-background{
                            .blog-item-text{font-size: 16px;}
                        }
                    }
                }
            }

        }

    /* /blog */

}
@media screen and (max-width: 479px){

    /* about-company */

        .about-company{padding: 63px 0 28px 0;
            .mbox{ padding: 0 10px;}
        }
        .about-company{
            .mbox{
                .line-slider{
                    .line-item{margin-bottom: 17px;padding-left: 27px;}
                    .line-item-wrap{
                        .line-img{margin-right: 23px;}
                        .line-text{font-size: 14px;}
                    }
                }
                .about-company-text{margin: 0 auto 36px auto;
                    h2{margin: 0 0 13px 0;font-size: 30px;}
                    p{line-height: 1.45;margin-top: 0;font-size: 14px;}
                }
            }
        }

    /* /about-company */

    /* footer */

        .footer{padding-top: 0px;
            .footer-wrap-mobile{padding-top: 0;
                .mobile-footer{margin-bottom: 10px;
                    a{font-size :20px;}
                }
                .mobile-middle{margin-bottom: 25px;}
            }
        }

        .footer .footer-wrap-mobile { padding-top: 10px;
            .foo-menu {display: none;}
        }
        .footer-contact-button{display: none;}
        .footer-wrap-mobile .mobile-footer-2 a { font-size: 20px;}

        .mobile-middle{
            p{max-width: 210px; margin: 0 auto;}
        }
        .footer-wrap-mobile .mobile-top {margin-bottom: 21px!important;}
        .footer-wrap-mobile .mobile-middle { margin-bottom: 10px !important; font-weight: 400;
            p span{font-weight: 700 !important;font-size: 14px;}
        }
        .footer .footer-wrap-mobile .mobile-middle p span{font-weight: 700;}
        .footer { padding-top: 0px; padding-bottom: 20px;}

    /* /footer */

    /* blue-block-wrap */

        .blue-block-wrap{
            h1{font-size: 30px;}
        }

    /* /blue-block-wrap */

    /* profesional-repair-global */

        .profesional-repair-global{

            .blue-block-wrap{padding-top: 4px;
                h1{margin-left: 0;margin-bottom: 19px;}
            }

        }

    /* /profesional-repair-global */

    /* professional-sevices */

        .professional-sevices{

            table{
                tr{
                    &:first-child{
                        td{
                            &:last-child {
                                .profesional-services-img{
                                    img{right:-60px;}
                                }
                            }
                        }
                    }
                    &:nth-child(2){
                        td{
                            &:first-child{
                                .profesional-services-img{
                                    img{right:-60px;}
                                }
                            }
                            &:last-child{
                                .profesional-services-img{
                                    img{right:-60px;}
                                }
                            }
                        }
                    }
                    &:last-child{
                        td{
                            &:first-child{
                                .profesional-services-img{
                                    img{right:-60px;}
                                }
                            }
                        }
                    }
                }
            }

        }

    /* /professional-sevices */

    /* professional-blog-global */

        .professional-blog-global{

            .blue-block-wrap{margin-bottom: 32px;
                h1{font-size: 30px;}
            }

            .left-column-main{padding:0;margin-bottom: 30px;
                .column-nav{
                    ul{
                        li{
                            &.active{
                                &:after{width:9px;height:6px;background-size:9px 6px;}
                            }
                        }
                    }
                }
            }

            .blog{padding-left:0;}

        }

    /* /professional-blog-global */

    /* professional-for-home */

        .professional-for-home{

            .professional-for-home-col{
                .professional-for-home-columns{display: block;
                    .professional-for-home-column-wrap{width:100%;padding:0;}
                }
            }

            .professional-for-home-row{

                /* bad styles */

                    &.professional-for-home-row-top{
                        .professional-for-home-col:nth-child(3){
                            .professional-for-home-col-wrap{
                                .professional-for-home-columns{
                                    .professional-for-home-column-wrap{
                                        &:last-child{padding:0;}
                                    }
                                }
                            }
                        }
                    }

                /* /bad styles */

            }

        }

    /* /professional-for-home */

    /* blog */

        .blog{

            .blog-tags{display:none;}

            .blog-items-main{margin-bottom:33px;
                .blog-items-row{margin-bottom:10px;
                    .blog-items-row-wrap{display: block;
                        .blog-item-col{
                            &.col-6, &.col-3, &.col-5{width:100%;}
                        }
                    }

                    .blog-item{height:auto;min-height:200px;margin-bottom:10px;
                        &.blog-item-no-background{margin-bottom: 10px;height:auto;min-height:120px;padding:17px 15px 5px 19px;
                            &:last-child{margin-bottom: 10px;}
                            .item-tag-line{display:none;}
                            .blog-item-text{font-size: 20px;line-height:23px;}
                        }

                        .blog-item-footer{padding:0 25px 14px 19px;
                            .item-tag-line{display:none;}
                            .blog-item-text{font-size: 20px;line-height:23px;}
                        }

                    }

                }
            }

            .blog-footer{flex-direction:column;align-items: center;justify-content: center;padding-bottom:55px;
                .blog-load-more{margin-bottom:24px;}
                .paginator{
                    .paginator-prev, .paginator-next{height:36px;width:36px;
                        a{height:36px;width:36px;}
                    }
                    ul{
                        li{height:36px;width:36px;
                            a{height:36px;width:36px;}
                        }
                    }
                }
            }

        }

    /* /blog */

}
@media screen and (max-width: 320px){

}