.slider-biznes{
	.mbox{display: relative;
		.biznes-heading{text-transform: uppercase; font-family: 'Museo'; font-weight: 900; font-size: 60px;
			h2{color:#2b3bda;  text-align: center;
				span{color: #48fefc;}
			}
		}
		.biznes-slider{display: flex; justify-content: flex-end; max-width: 75%; float: right;
			.slide{border: 1px solid #e9e9e9; margin: 0 20px 0 0;
				&:nth-child(1){
					.images-for-slider{padding: 42px 0 0 0 ;}
				}
				&:nth-child(3){
					.images-for-slider{padding: 44px 0 0 0 ;}
				}
				&:hover{ box-shadow:inset 0 0 10px 0 rgba(0, 0, 0, 0.5)}
				.images-for-slider{text-align: center;padding: 40px 0 0 0 ;
					svg{
						.cls-1{fill:#2b80d9;}
					}
				}
				.text-content{padding: 0 20px 40px 20px; max-width: 250px; margin: 0 auto; 
					p{text-align: center;}
				}
			}
			.slick-dots{bottom: 200px; left: 0px; text-align: right;
				li{
					button{
						&:before{width: 15px; height: 15px;content: ''; border-radius: 50%;  border: 3px solid #2b81da; background: transparent; opacity: 0.75;
							
						}
					}
				}
				.slick-active{
					button{
						&:before{  background: #2b81da;
							
						}
					}
				}
			}
		}
		.wrapper-for-button{ display: flex; justify-content: flex-end; padding: 20px 0  25px 0; clear: both; position: relative; z-index: 1;
			.button{
				span{}
			}
		}
		.it-man-image{position: absolute; display: block;left: -250px; top: 100px; pointer-events: none;}
	}
}

.slider-home{background-color:#2b81da;
	.mbox{display: relative;
		.home-heading{text-transform: uppercase; font-family: 'Museo'; font-weight: 900; font-size: 60px;padding-top: 30px;
			h2{color:#fff;  text-align: left;margin-top: 0px;
				span{color: #48fefc;}
			}
		}
		.home-slider{display: flex; justify-content: flex-start; max-width: 75%; float: left; position: relative; z-index: 1;
			.slide{border: 1px solid #e9e9e9; margin: 0 20px 0 0;background: #fff; border:3px solid transparent;
				&:hover{ background: transparent; border:3px solid #2b3bda;
					.images-for-slider{
						svg{
							.cls-1{fill:#fff;}
						}
					}
				}
				.images-for-slider{text-align: center;padding: 40px 0 0 0 ;
					svg{
						.cls-1{fill:#2b80d9;}
					}
				}
				.text-content{padding: 0 20px 40px 20px; max-width: 250px; margin: 0 auto; 
					p{text-align: center;min-height: 32px;}
				}
			}
			.slick-dots{bottom: 200px; left: 0px; text-align: right;
				li{
					button{
						&:before{width: 15px; height: 15px;content: ''; border-radius: 50%;  border: 3px solid #47fbfb; background: transparent; opacity: 0.75;
							
						}
					}
				}
				.slick-active{
					button{
						&:before{  background: #fff; border: 3px solid #fff;
							
						}
					}
				}
			}
		}
		.wrapper-for-button{ display: flex; justify-content: flex-start; padding: 20px 0  25px 0; clear: both; position: relative; z-index: 1; 
			.button{max-width: 250px;
				span{}
			}
		}
		.it-woman-image{position: absolute; display: block; right: -30px; top: 114px; pointer-events: none;}
	}
}


