@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

    /* footer */

        .footer{padding-bottom: 30px;padding-top: 29px;

            ul{
                ul{padding:19px 0 5px 20px;}
            }

            .mbox{padding-left: 0px;}

            .footer-wrap{ padding: 0 7px; justify-content: flex-start;
                .column{width: 33%;
                    &.first{ width: 29.3%;}
                    &.second{ width: 29.5%;}

                    &:nth-child(3){padding-left:27px;}

                    .column-list{margin-bottom: 0px;}

                    .show-on1024{ display: block;margin-top: 55px; margin-left: 5px;

                            .footer-contact{
                                .footer-contact-telefone-wrap{font-family: 'Open Sans'
                                }
                            }

                    }

                    &>.column-list{
                        &>ul{
                            &>li{margin-top: 16px;}
                        }
                    }

                }
                .column-title{margin-bottom: 24px;}
                .column-list{margin-top: 0;}
                .footer-logo { right: auto;   left: -30px;}
            }
        }

    /* /footer */

    /* about-company */

        .about-company{
            .about-company-text{
                h2{margin: 0 0 32px 0;}
            }
        }

    /* about-company */

}
@media screen and (max-width: 992px){

    /* footer */

        .footer{padding-top: 55px;
            .mbox{

            }
            .footer-wrap{display: none;}

            .footer-wrap-mobile{display:flex;}

        }

    /* /footer */

    /* ctext */

        .ctext{
            h1{font-size: 62px;}
            h2{font-size: 50px;}
            h3{font-size: 38px;}
            h4{font-size: 26px;}
            h5{font-size: 20px;}
            h6{font-size: 16px;}
        }

    /* /ctext */

}
@media screen and (max-width: 768px){

    .about-company{padding: 115px 0 20px 0;
        .mbox{padding: 0 10px;
            .about-company-text{margin: 7px auto 72px auto;
                h2 {font-size: 40px;}
            }
            .line-slider{padding: 0;}
        }
    }

    .footer{ padding:74px 0 27px 0;
        .footer-wrap-mobile{padding-left: 13px;}
    }

    .line-slider{
        .line-item-wrap{
            .line-img{margin-right: 16px;}
            .line-text{font-size: 16px;max-width: 206px;}
        }
    }

}
@media screen and (max-width: 666px){

    /* ctext */

        .ctext{
            h1{font-size: 42px;}
            h2{font-size: 30px;}
            h3{font-size: 28px;}
            h4{font-size: 24px;}
            h5{font-size: 18px;}
            h6{font-size: 16px;}
        }

    /* /ctext */

}
@media screen and (max-width: 479px){

    .about-company{padding: 75px 0 0px 0;
        .mbox{ padding: 0 10px;}
    }
    .about-company{
        .mbox{
            .line-slider{
                .line-item{margin-bottom: 17px;padding-left: 27px;}
                .line-item-wrap{
                    .line-img{margin-right: 23px;}
                    .line-text{font-size: 14px;}
                }
            }
            .about-company-text{margin: 0 auto 36px auto;
                h2{margin: 0 0 13px 0;font-size: 30px;}
                p{line-height: 1.45;margin-top: 0;font-size: 14px;}
            }
        }
    }

    .footer{padding-top: 0px;
        .footer-wrap-mobile{padding-top: 0;
            .mobile-footer{margin-bottom: 10px;
                a{font-size :20px;}
            }
            .mobile-middle{margin-bottom: 25px;}
        }
    }

}
@media screen and (max-width: 320px){

}