@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){
    .line-slider{flex-wrap: wrap; justify-content: space-around; max-width: 600px; margin: 0 auto; padding: 0 12px 0 0;
        .line-item:nth-child(1),.line-item:nth-child(2){margin-bottom: 60px;}
         .line-item:nth-child(3),.line-item:nth-child(4){margin-bottom: 10px;}
    }
    .interest_stat{padding-bottom: 97px;

        .title{
            h2{ padding-bottom: 33px; padding-top: 67px;}
        }
        .interest_stat .conteiner .item{

        }
    }
    .interest_stat .conteiner {padding-right: 10px;
        .item {padding: 17px 0px 4px 27px; width: 49%;
            .contein .titl{font-size:20px; bottom: 20px;padding-right: 0px; left: 25px;
            }
        }
    }
}
@media screen and (max-width: 992px){
    .interest_stat { padding-bottom: 71px; background-color: #f6f6f6;}

    .interest_stat .conteiner .item .contein .titl {  position: absolute; bottom: 20px; left: 20px; font-weight: 500; font-size: 20px;}

}
@media screen and (max-width: 768px){
    .interest_stat {padding-bottom:68px;
        .title h2{padding-bottom: 25px; padding-top: 57px;}

        .conteiner.desktop-cd{padding-right: 15px;
            .item {padding: 15px 0px 3px 20px;
                .contein {
                    .titl{font-size:20px; bottom: 17px;padding-right: 0px; left: 15px;}
                }
            }
        }

    }

}
@media screen and (max-width: 600px){
    .line-slider{flex-wrap: wrap; justify-content: space-around; max-width: 600px; margin: 0 auto; padding: 0 15px 0 0;
        .line-item:nth-child(1),.line-item:nth-child(2){margin-bottom: 20px;}
         .line-item:nth-child(3),.line-item:nth-child(4){margin-bottom: 10px;}
    }
}
@media screen and (max-width: 560px){
    .interest_stat .conteiner.desktop-cd { display: none;}
    .interest_stat .conteiner.mobile-sd { display: block;
        .slick-dots { text-align: left;  bottom: 30%; left: 25px; width: auto;
            li{width: 8px; height: 8px; border-radius: 50%; border: 2px solid #46f7f5; transition: all 0.3s;
                button:before{display: none;}
                &.slick-active{background: white; border-color: white;}
                &:hover{border-color: white;}

            }
         }
    }
    .interest_stat{ padding-bottom: 0;
        .title {padding:0px 0px 0px;
            h2 {font-size: 40px;  line-height: 1.6;}
        }
        &:before{display: none;}
        .mbox{padding: 0;}
        .conteiner .item {padding: 0; width: 768px; min-height: 250px;}
        .contein { height: 250px;
            img{ min-height: 250px; width: 100%;}
            .titl{font-size: 20px; font-family: 'Museo';}
        }
    }
    .footer .footer-wrap-mobile { padding-top: 10px;
        .foo-menu {display: none;}
    }
    .footer-contact-button{display: none;}
    .footer-wrap-mobile .mobile-footer-2 a { font-size: 20px;}

    .mobile-middle{
        p{max-width: 210px; margin: 0 auto;}
    }
    .footer-wrap-mobile .mobile-top {margin-bottom: 20px !important;}
    .footer-wrap-mobile .mobile-middle { margin-bottom: 10px !important; font-weight: 400;
        p span{font-weight: 700 !important;}
    }
    .footer .footer-wrap-mobile .mobile-middle p span{font-weight: 700 !important;}
    .footer { padding-top: 0px; padding-bottom: 20px;}

}
@media screen and (max-width: 479px){
    .interest_stat{
        .title{
            h2{line-height: 1.2; font-size:30px;
            }
        }
    }
    .interest_stat .conteiner.mobile-sd{margin-bottom: 10px;
        .slick-dots{
            li{margin: 3px;

            }
        }
    }
    .interest_stat .conteiner .item .contein .titl{padding-left: 10px;bottom: 30px;}


}
@media screen and (max-width: 320px){

}

