@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

    /* footer */

        .footer{

            .footer-wrap{display: none;}

            .footer-wrap-mobile{display:flex;}

        }

    /* /footer */

    /* ctext */

        .ctext{
            h1{font-size: 62px;}
            h2{font-size: 50px;}
            h3{font-size: 38px;}
            h4{font-size: 26px;}
            h5{font-size: 20px;}
            h6{font-size: 16px;}
        }

    /* /ctext */

}
@media screen and (max-width: 767px){
    .about-company{padding: 130px 0 20px 0;
        .mbox{padding: 0 10px;
            .about-company-text{margin: 9px auto 55px auto;
                    h2 {
                font-size: 40px;
                }
            }
        }    
    }
}
@media screen and (max-width: 666px){

    /* ctext */

        .ctext{
            h1{font-size: 42px;}
            h2{font-size: 30px;}
            h3{font-size: 28px;}
            h4{font-size: 24px;}
            h5{font-size: 18px;}
            h6{font-size: 16px;}
        }

    /* /ctext */

}
@media screen and (max-width: 479px){
    .about-company{padding: 40px 0 0px 0;
        .mbox{ padding: 0 10px;}
    }
    .about-company .about-company-text{margin: 0 auto 35px auto;
        h2{margin: 0 0 20px 0;
        }
        p{line-height: 1.45;}
    }

    .footer{padding-top: 0px;
        .footer-wrap-mobile { padding-top: 0;
            .mobile-footer {margin-bottom: 10px;
                a {font-size :20px;
                }  
            }
            .mobile-middle{margin-bottom: 25px;
                
            }
        }
    }
    

}
@media screen and (max-width: 320px){

}