.interest_stat{ position: relative; padding-bottom: 45px; overflow: hidden;
    .mbox{padding: 0px 0px}
    &:before{content: ''; position: absolute; left: 0; right: 0; top: 0; bottom: 20%; background-color: #f6f6f6;}
    .title h2{text-align: center; margin: 0; padding: 115px 0 35px 0 ;  font-size: 40px;font-family: "Museo", sans-serif; color: rgb(43, 59, 218); text-transform: uppercase; line-height: 1.2; font-weight: 900; }
    
    .conteiner{ width: 100%;
        &.mobile-sd{display: none;}
        &.desktop-cd {display: block;}
        .item{padding: 15px 0px 10px 10px; width: 50%; float: left; margin-right: 0px; 
            .contein{position: relative;overflow: hidden; display: block;
                .conv img{ transform: scale(1); transition: all 0.3s; }
                .titl{position: absolute; bottom: 30px; left: 30px; right: 30px; font-size: 24px; font-family: "MuseoSans", sans-serif; color: rgb(255, 255, 255); line-height: 1.2; text-align: left; font-weight: 500; padding-right: 10px;}
            }
            &:hover{
                .contein .conv img{ transform: scale(1.2); }
            }
        }          
    }
}
