/* button */

    .button{display: inline-block;height: 40px;line-height: 40px;font-weight: 700;color:#fff;text-align: center;background-color: #2b3bda;max-width: 165px;width: 100%;border-radius:50px;text-decoration: none;text-transform: uppercase;font-size: 13px;transition:background-color 300ms ease;
        &:hover{background-color: #1d2bb3;}
    }

/* /button */

/* ctext */

    .ctext{
        h6, h5, h4, h3, h2, h1{color:#000;margin: 0 0 20px 0;}
        h1{font-size: 62px;}
        h2{font-size: 40px;}
        h3{font-size: 38px;}
        h4{font-size: 30px;}
        h5{font-size: 22px;}
        h6{font-size: 16px;}
        p{font-size: 14px;color:#000;line-height: 1.75;}
    }

/* /ctext */

/* footer */

    .footer{padding-top: 20px; padding-bottom: 45px;
        .mbox{padding: 0;}
        ul{padding:0;margin:0;list-style:none;
            li{margin-bottom: 10px;
                &:last-child{margin-bottom: 0;}
            }
            a{font-size: 14px;color:#000;line-height: 1.45;
                &:hover{text-decoration: none;color:#2b81da;}
            }
            ul{padding: 15px 0 5px 20px;}
        }

        .footer-wrap{position: relative;display: flex;justify-content: space-between;align-items: flex-start;padding-top: 0px;padding-bottom: 0px;
            .column{width: 25%;padding-right: 15px;padding-left:12px; 
                &:nth-child(2){
                    .column-list{padding-right: 0px; 
                        
                    }
                }
                .column-list{margin-top: 30px;}
                &:last-child{padding-right: 0px;text-align: right;}
                &>.column-list>ul>li{margin-top: 15px; margin-bottom: 0px;
                    // &:last-child{margin-top: 0px;}
                     &:first-child{margin-top: 10px;}
                     //&:nth-child(2){margin-top: 10px;}
                    // &:nth-child(3){margin-top: 20px;}
                }
            }

            .company-name{font-size: 14px;color:#9a9a9a;margin-bottom: 32px;  padding-top: 2px;}
            .column-title{font-family:'Muller', sans-serif;font-size: 30px;color:#000;margin-bottom: 20px;margin-top: -10px;  padding-top: 2px;}

            .footer-contact{ padding-right: 20px;
                .footer-contact-telefone-wrap{margin-bottom: 20px;margin-top: -5px; }
                .footer-contact-telefone{font-weight: 700;color:#2b81da;font-size: 24px;text-decoration: none;margin-bottom: 20px;transition:color 300ms ease;
                    // &:hover{color:#000;}
                }
            }

            .footer-logo{position: absolute;bottom: 0px;right: 10px;width: 25%;
                a{display: flex;justify-content: flex-end;align-items: center;text-decoration: none;
                    &:hover{
                        .footer-logo-svg{
                            svg{opacity: 0;
                                &.hover-svg{opacity: 1;}
                            }
                        }
                        .footer-logo-text{
                            p{
                                &.text-top{
                                    &:after{transform:scale(0);}
                                }
                            }
                        }
                    }
                }
                .footer-logo-svg{position: relative;
                    svg{position: relative;z-index: 0;transition:opacity 300ms ease;
                       &.hover-svg{position: absolute;top:-1px;left:-2px;z-index: 1;opacity: 0;}
                    }
                }
                .footer-logo-text{margin-left: 10px;font-family:'Muller', sans-serif;font-size: 16px;color:#494949;
                    p{margin: 0 0 8px 0;
                        &.text-top{position: relative;
                            &:after{content:'';display: block;position: absolute;top:100%;left:0;width: 100%;height: 1px;background-color: #494949;transition:transform 300ms ease;}
                        }
                    }
                }
            }

        }

        .footer-wrap-mobile{display: none;justify-content: flex-start;align-items: center;flex-direction:column;text-align: center;padding-bottom: 25px;font-size: 14px;padding-top: 25px;
            .mobile-top{margin-bottom: 25px;}
            .mobile-middle{margin-bottom: 25px;
                p{margin: 0 0 5px 0;
                    span{font-weight: 700;}
                }
            }
            .mobile-footer{
                a{font-size: 30px;color:#000;text-decoration: none;font-weight: 600;transition:color 300ms ease;
                    &:hover{color:#2b81da;}
                }
            }
        }

    }

/* /footer */

/* about-company */

    .about-company{background-color:#f6f6f6;padding: 100px 0 20px 0;
        .about-company-text{max-width: 780px;width: 100%;margin: 9px auto 70px auto;
            h2{font-weight: 900; margin: 0 0 40px 0;  letter-spacing: -0.9px; }
            p{ }
        }
    }

    .line-slider{display: flex;justify-content: space-between;align-items: center;flex-wrap:wrap;margin-left: -20px;
        .line-item{padding:0 15px;margin-bottom: 20px;}
        .line-item-wrap{display: flex;align-items: center;justify-content: center;
            .line-img{margin-right: 10px;}
            .line-text{text-transform: uppercase;font-weight: 600;max-width: 205px;width: 100%;line-height: 1.25;}
        }


    }

/* /about-company */