/* button */

    .button{display: inline-block;height: 40px;line-height: 40px;font-weight: 700;color:#fff;text-align: center;background-color: #2b3bda;max-width: 165px;width: 100%;border-radius:50px;text-decoration: none;text-transform: uppercase;font-size: 13px;transition:background-color 300ms ease;
        &:hover{background-color: #1d2bb3;}
    }

/* /button */

/* ctext */

    .ctext{
        h6, h5, h4, h3, h2, h1{color:#000;margin: 0 0 20px 0;}
        h1{font-size: 62px;}
        h2{font-size: 40px;}
        h3{font-size: 38px;}
        h4{font-size: 30px;}
        h5{font-size: 22px;}
        h6{font-size: 16px;}
        p{font-size: 14px;color:#000;line-height: 1.75;}
    }

/* /ctext */

/* footer */

    .footer{padding-top: 20px; padding-bottom: 45px;
        .mbox{padding: 0;}
        ul{padding:0;margin:0;list-style:none;
            li{margin-bottom: 10px;
                &:last-child{margin-bottom: 0;}
            }
            a{font-size: 14px;color:#000;line-height: 1.45;
                &:hover{text-decoration: none;color:#2b81da;}
            }
            ul{padding: 15px 0 5px 20px;}
        }

        .footer-wrap{position: relative;display: flex;justify-content: space-between;align-items: flex-start;padding-top: 0px;padding-bottom: 0px;
            .column{width: 25%;padding-right: 15px;padding-left:22px;
                &:nth-child(2){
                    .column-list{padding-right: 0px;

                    }
                }
                .column-list{margin-top: 30px;}
                &:last-child{padding-right: 0px;text-align: right;}
                &>.column-list>ul>li{margin-top: 15px; margin-bottom: 0px;
                    // &:last-child{margin-top: 0px;}
                     &:first-child{margin-top: 10px;}
                     //&:nth-child(2){margin-top: 10px;}
                    // &:nth-child(3){margin-top: 20px;}
                }
            }

            .company-name{font-size: 14px;color:#9a9a9a;margin-bottom: 32px;  padding-top: 2px;}
            .column-title{font-family: 'Museo', sans-serif;font-weight: 300;font-size: 30px;color:#000;margin-bottom: 20px;margin-top: -10px;  padding-top: 2px;}

            .footer-contact{ padding-right: 7px;
                .footer-contact-telefone-wrap{margin-bottom: 20px;margin-top: -5px;
                    font-family: 'Museo'
                }
                .footer-contact-telefone{font-weight: 700;color:#2b81da;font-size: 24px;text-decoration: none;margin-bottom: 20px;transition:color 300ms ease;
                    // &:hover{color:#000;}
                }
            }
            .return-address{max-width: 250px; float: right;margin-top: 10px;
                p{white-space: pre-line; line-height: 1.3;

                }

            }
            .footer-logo{position: absolute;bottom: 0px;right: 0px;width: 25%;
                a{display: flex;justify-content: flex-end;align-items: center;text-decoration: none;
                    &:hover{
                        .footer-logo-svg{
                            svg{opacity: 0;
                                &.hover-svg{opacity: 1;}
                            }
                        }
                        .footer-logo-text{
                            p{
                                &.text-top{
                                    &:after{transform:scale(0);}
                                }
                            }
                        }
                    }
                }
                .footer-logo-svg{position: relative;
                    svg{position: relative;z-index: 0;transition:opacity 300ms ease;
                       &.hover-svg{position: absolute;top:0px;left:0px;z-index: 1;opacity: 0;}
                    }
                }
                .footer-logo-text{margin-left: 10px;font-family:'Muller', sans-serif;font-size: 15px;color:#494949;
                    p{margin: 7px 10px 9px 0;
                        &.text-top{position: relative;
                            &:after{content:'';display: block;position: absolute;top:100%;left:0;width: 100%;height: 1px;background-color: #494949;transition:transform 300ms ease;}
                        }
                    }
                }
            }

        }

        .footer-wrap-mobile{display: none;justify-content: flex-start;align-items: center;flex-direction:column;text-align: center;padding-bottom: 25px;font-size: 14px;padding-top: 25px;
            .mobile-top{margin-bottom: 25px;}
            .mobile-middle{margin-bottom: 25px;
                p{margin: 0 0 5px 0;
                    span{font-weight: 700;}
                }
            }
            .mobile-footer{
                a{font-size: 30px;color:#000;text-decoration: none;font-weight: 600;transition:color 300ms ease;
                    &:hover{color:#2b81da;}
                }
            }
        }

    }

/* /footer */

/* about-company */

    .about-company{background-color:#f6f6f6;padding: 100px 0 20px 0;
        .about-company-text{max-width: 780px;width: 100%;margin: 8px auto 85px auto;
            h2{font-weight: 900; margin: 0 0px 33px 15px;  letter-spacing: 0.1px; font-family: 'Museo';}
            p{ font-size: 15px; line-height: 1.6; letter-spacing: 0.1px; word-spacing: -1px; font-weight: 400;}
        }
    }

    .line-slider{display: flex;justify-content: space-between;align-items: center;margin-left: -15px;
        .line-item{padding:0 15px;margin-bottom: 20px;}
        .line-item-wrap{display: flex;align-items: center;justify-content: center;
            .line-img{margin-right: 20px;}
            .line-text{text-transform: uppercase;font-weight: 600;max-width: 180px;width: 100%;line-height: 1.4; font-size: 14px;margin-top: -4px;}
        }


    }

/* /about-company */

/* popup */

    .fancybox-overlay{background-image:none;}

    .fancybox-wrap.fancybox-form{width: 300px!important;left:calc(50% - 150px)!important;
        &.fancybox-opened{
            .fancybox-skin{box-shadow: none;}
        }
        .fancybox-inner{width: 300px!important;}
    }

    #call-popup{width: 300px;height: 228px;background-color:#125eac;padding:41px 23px 28px 24px;
        .form_input{margin-bottom: 20px;
            input{width: 100%;height: 38px;line-height: 38px;font-size: 14px;color:#464646;padding:0 12px;border-style:solid;border-color:transparent;border-width: 1px;transition:all 300ms ease;
                &.error{border-color:#e51b06;
                    &+label{display: none!important;color:transparent;font-size: 0;}
                    &::-webkit-input-placeholder {color:#e51b06;}
                    &:-moz-placeholder {color:#e51b06;opacity:1;}
                    &::-moz-placeholder {color:#e51b06;opacity:1;}
                    &:-ms-input-placeholder {color:#e51b06;}
                }
            }
        }
        .contact-form-row{margin-bottom: 5px;
            &:last-child{margin-bottom: 0;}
        }
        .submit-form-row{
            .contact-form-item{text-align: center;
                button{border-style:solid;border-color:#fff;line-height: 36px;background-color: transparent;transition:all 300ms ease;
                    &:hover{color:#125eac;background-color:#fff;}
                }
            }
        }
    }

/* popup */

/* blue-block-wrap */

    .blue-block-wrap{background-color: #2b81da;
        h1{margin: 0;font-size: 60px;text-transform: uppercase;font-family: 'Museo', sans-serif;font-weight: 900;margin-bottom: 20px;}
    }

/* /blue-block-wrap */

/* breadcrumbs */

    .breadcrumbs{margin-bottom: 20px;
        ul{list-style:none;padding:0;margin: 0;
            li{display: inline-block;position: relative;color:#fff;font-family: 13px;
                &:after{content:'/';display: inline-block;}
                a{text-decoration: none;color:#fff;position: relative;
                    &:after{content:'';display: block;position: absolute;top:calc(100% - 2px);left: 0;width: 100%;height: 1px;background-color: #fff;transition:width 300ms ease;}
                    &:hover{
                        &:after{width: 0;}
                    }
                }
                &:last-child{
                    &:after{display: none;}
                }

            }
        }
    }

/* /breadcrumbs */