@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 767px){

    .interest_stat .conteiner.desktop-cd { display: none;}
    .interest_stat .conteiner.mobile-sd { display: block;
        .slick-dots { text-align: left;  bottom: 65%; width: auto;
            li{width: 10px; height: 10px; border-radius: 50%; border: 2px solid #46f7f5; transition: all 0.3s;
                button:before{display: none;}
                &.slick-active{background: white; border-color: white;}
                &:hover{border-color: white;}
            
            }
         }
        
    }


    
    .interest_stat{ padding-bottom: 0;
        .title h2 { padding: 30px 0; font-size: 30px;  line-height: 1.6;}
        &:before{display: none;}
        .mbox{padding: 0;}
        .conteiner .item {padding: 0; width: 768px; min-height: 250px;}
        .contein { height: 250px;
            img{ min-height: 250px; width: 100%;}
            .titl{font-size: 20px;}
        }
    }

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){
    .interest_stat .title h2{line-height: 1.2; }
    .interest_stat .conteiner.mobile-sd{margin-bottom: 10px;
        .slick-dots{bottom: 40%;}
    }

}
@media screen and (max-width: 320px){

}

