.add{display: flex;
    align-items: center;
    align-content: center;
    height: 62px;
    }

/*contacts ----------------------------------------*/
    .contacts{
        .mbox{max-width: 1190px;}
        .txt-box{ position: relative;}
        ul,p,h2{ margin: 0;}
        .title{padding: 44px 0 28px 5px;
            h2{ font:900 60px/1.2 'Museo'; color: #fff; text-transform: uppercase;}
        }
        .content{ background-color: #2b81da;    padding-bottom: 36px;}
        .txt{width: 100%; max-width: 350px; padding-left: 5px;
            table{font:600 17px/23px 'Open Sans'; color: #fff;}
            a{font:600 17px/1.2 'Open Sans'; color: #fff; text-decoration: none; }
            td{ vertical-align: top; padding-bottom: 17px;
                &:first-child{ vertical-align: top;width: 31px;}
                img{max-width: none;}
            }
        }
        .white-box{padding: 46px 0 142px 7px;
            .text-w{font:500 25px/1.2 'Museo'; color: #000; width: 100%; max-width: 370px;

            }
            .button{max-width: 200px; margin-top: 22px;
                a{font:700 13px/1.2 'Open Sans'; color: #fff; text-decoration: none; text-transform: uppercase;}
            }

        }
        #map{ width: 670px; height: 413px; position: absolute; top: 4px; right: 0;}

    }
    .contacts-global .footer{ background-color: #f0f0f0;padding-top: 75px;}
/*END contacts ----------------------------------------*/