@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){
	.slider-home{
		.mbox{
			.home-heading{
				h2{
					span{
					}
				}
			}
			.home-slider{ 
				.slide{
					.images-for-slider{
						svg{
							.cls-1{
							}
						}
					}
					.text-content{
						p{
						}
					}
				}
				.slick-dots{
					li{
						button{
							&:before{
								
							}
						}
					}
					.slick-active{
						button{
							&:before{
								
							}
						}
					}
				}
			}
			.wrapper-for-button{
				.button{
					span{}
				}
			}
			.it-woman-image{
			}
		}
	}
	.slider-biznes{
		.mbox{
			.biznes-heading{
				h2{
					span{
					}
				}
			}
			.biznes-slider{ 
				.slide{ margin: 0 0 0 30px;
					.images-for-slider{
						svg{
							.cls-1{
							}
						}
					}
					.text-content{
						p{
						}
					}
				}
				.slick-dots{
					li{
						button{
							&:before{
								
							}
						}
					}
					.slick-active{
						button{
							&:before{
								
							}
						}
					}
				}
			}
			.wrapper-for-button{
				.button{
					span{}
				}
			}
			.it-woman-image{
			}
		}
	}
}
@media screen and (max-width: 1024px){
	.slider-home{
		.mbox{
			.home-heading{
				h2{
					span{
					}
				}
			}
			.home-slider{ max-width: 600px;
				.slide{
					.images-for-slider{
						svg{
							.cls-1{
							}
						}
					}
					.text-content{
						p{
						}
					}
				}
				.slick-dots{
					li{
						button{
							&:before{
								
							}
						}
					}
					.slick-active{
						button{
							&:before{
								
							}
						}
					}
				}
			}
			.wrapper-for-button{
				.button{
					span{}
				}
			}
			.it-woman-image{right: -30px;
			}
		}
	}
	.slider-biznes{
		.mbox{padding: 0 110px;
			.biznes-heading{  padding: 50px 0px 0px 50px;
				h2{
					span{
					}
				}
			}
			.biznes-slider{ max-width: 600px;
				.slide{ margin: 0 0 0 30px;
					.images-for-slider{
						svg{
							.cls-1{
							}
						}
					}
					.text-content{
						p{
						}
					}
				}
				.slick-dots{
					li{
						button{
							&:before{
								
							}
						}
					}
					.slick-active{
						button{
							&:before{
								
							}
						}
					}
				}
			}
			.wrapper-for-button{
				.button{
					span{}
				}
			}
			.it-woman-image{
			}
		}
	}
}
@media screen and (max-width: 992px){
	
}
@media screen and (max-width: 900px){
	.slider-biznes{
		.mbox{padding: 0 10px;
			.biznes-heading{
				h2{
					span{
					}
				}
			}
			.biznes-slider{
				.slide{
					.images-for-slider{
						svg{
							.cls-1{
							}
						}
					}
					.text-content{
						p{
						}
					}
				}
				.slick-dots{
					li{
						button{
							&:before{
								
							}
						}
					}
					.slick-active{
						button{
							&:before{
								
							}
						}
					}
				}
			}
			.wrapper-for-button{
				.button{
					span{}
				}
			}
			.it-man-image{
			}
		}
	}
	.slider-home{
		.mbox{
			.home-heading{
				h2{
					span{
					}
				}
			}
			.home-slider{  
				.slide{
					.images-for-slider{
						svg{
							.cls-1{
							}
						}
					}
					.text-content{
						p{
						}
					}
				}
				.slick-dots{bottom: 180px;
					li{
						button{
							&:before{
								
							}
						}
					}
					.slick-active{
						button{
							&:before{
								
							}
						}
					}
				}
			}
			.wrapper-for-button{
				.button{
					span{}
				}
			}
			.it-woman-image{
			}
		}
	}
}

@media screen and (max-width: 767px){
	.slider-biznes{
		.mbox{
			.biznes-heading{
				h2{font-size: 55px;padding: 0px 70px 5px 0px;
					span{
					}
				}
			}
			.biznes-slider{ 
				.slide{
					.images-for-slider{
						svg{
							.cls-1{
							}
						}
					}
					.text-content{
						p{
						}
					}
				}
				.slick-dots{
					li{
						button{
							&:before{
								
							}
						}
					}
					.slick-active{
						button{
							&:before{
								
							}
						}
					}
				}
			}
			.wrapper-for-button{  
				.button{
					span{}
				}
			}
			.it-man-image{left: -350px;
			}
		}
	}
	.slider-home{
		.mbox{
			.home-heading{padding-top: 40px;
				h2{font-size: 55px; margin-bottom: 45px; 
					span{
					} 
				}
			}
			.home-slider{ 
				.slide{
					.images-for-slider{
						svg{
							.cls-1{
							}
						}
					}
					.text-content{
						p{
						}
					}
				}
				.slick-dots{bottom: 183px; left: -10px;
					li{margin: 0 10px;
						button{
							&:before{
								
							}
						}
					}
					.slick-active{
						button{
							&:before{
								
							}
						}
					}
				}
			}
			.wrapper-for-button{   clear: both; position: relative; z-index: 3; 
				.button{
					span{}
				}
			}
			.it-woman-image{ right: -150px;
			}
		}
	}
}
@media screen and (max-width: 680px){
	.slider-biznes{
		.mbox{
			.biznes-heading{padding-top: 30px;
				h2{ font-size:30px; text-align: center; padding:0; margin-bottom: 20px;
					span{
					}
				}
			}
			.biznes-slider{ max-width: 290px; float: none; margin: 0 auto 30px;
				.slide{max-width: 290px; min-height: 165px;max-height: 165px; margin: 0;
					.images-for-slider{padding: 35px 0 0 0 ;
						svg{
							.cls-1{
							}
						}
					}
					.text-content{
						p{
						}
					}
				}
				.slick-dots{bottom: -50px; z-index: 5; 
					li{margin: 0;
						button{max-width: 12px; max-height: 12px;
							&:before{max-width: 12px; max-height: 12px;
								
							}
						}
					}
					.slick-active{
						button{
							&:before{
								
							}
						}
					}
				}
			}
			.wrapper-for-button{ clear: both; position: relative; z-index: 3; justify-content: center;    padding: 120px 0 10px 0px;
				.button{
					span{}
				}
			}
			.it-man-image{left: 80px; top: 270px; max-width: 378px; max-height: 340px; z-index:1;
			}
		}
	}
	.slider-home{
		.mbox{ padding: 0 10px 0 35px;
			.home-heading{
				h2{font-size: 30px; margin-bottom: 30px; text-align: center;
					span{
					} 
				}
			}
			.home-slider{ max-width: 290px; float: none; margin: 0 auto 30px;
				.slide{max-width: 290px; min-height: 165px;max-height: 165px; margin: 0;
					.images-for-slider{padding: 25px 0 0 0;
						svg{
							.cls-1{
							}
						}
					}
					.text-content{
						p{
						}
					}
				}
				.slick-dots{bottom: -50px; z-index: 5; 
					li{margin: 0;
						button{
							&:before{
								
							}
						}
					}
					.slick-active{
						button{
							&:before{
								
							}
						}
					}
				}
			}
			.wrapper-for-button{   clear: both; position: relative; z-index: 3; justify-content: center;    padding: 110px 0 10px 0px;
				.button{
					span{}
				}
			}
			.it-woman-image{ right: 220px; top: 250px; max-width: 288px; max-height: 250px; z-index:1;
			}
		}
	}
}
// @media screen and (max-width: 550px){
// 	.slider-biznes{
// 		.mbox{
// 			.biznes-heading{
// 				h2{font-size: 50px;
// 					span{
// 					}
// 				}
// 			}
// 			.biznes-slider{ max-width: 80%; 
// 				.slide{
// 					.images-for-slider{
// 						svg{
// 							.cls-1{
// 							}
// 						}
// 					}
// 					.text-content{
// 						p{
// 						}
// 					}
// 				}
// 				.slick-dots{
// 					li{
// 						button{
// 							&:before{
								
// 							}
// 						}
// 					}
// 					.slick-active{
// 						button{
// 							&:before{
								
// 							}
// 						}
// 					}
// 				}
// 			}
// 			.wrapper-for-button{ 
// 				.button{
// 					span{}
// 				}
// 			}
// 			.it-man-image{
// 			}
// 		}
// 	}

// 	.slider-home{
// 		.mbox{
// 			.home-heading{
// 				h2{
// 					span{
// 					}
// 				}
// 			}
// 			.home-slider{ max-width: 90%;
// 				.slide{
// 					.images-for-slider{
// 						svg{
// 							.cls-1{
// 							}
// 						}
// 					}
// 					.text-content{
// 						p{
// 						}
// 					}
// 				}
// 				.slick-dots{
// 					li{
// 						button{
// 							&:before{
								
// 							}
// 						}
// 					}
// 					.slick-active{
// 						button{
// 							&:before{
								
// 							}
// 						}
// 					}
// 				}
// 			}
// 			.wrapper-for-button{ padding: 260px 0  45px 0;
// 				.button{
// 					span{}
// 				}
// 			}
// 			.it-woman-image{left: 5%;  z-index: 2;
// 			}
// 		}
// 	}	
// }
// @media screen and (max-width: 479px){
// 	.slider-biznes{
// 		.mbox{
// 			.biznes-heading{
// 				h2{font-size: 32px; margin-top: 15px; margin-bottom: 30px;
// 					span{
// 					}
// 				}
// 			}
// 			.biznes-slider{ max-width: 100%; 
// 				.slide{ min-width: 230px; min-height: 200px;margin: 0 5px!important;
// 					.images-for-slider{
// 						svg{
// 							.cls-1{
// 							}
// 						}
// 					}
// 					.text-content{
// 						p{font-size: 16px; line-height: 1.4;
// 						}
// 					}
// 				}
// 				.slick-dots{bottom: -40px; 
// 					li{margin: 0;
// 						button{
// 							&:before{width: 10px; height: 10px;
								
// 							}
// 						}
// 					}
// 					.slick-active{
// 						button{
// 							&:before{
								
// 							}
// 						}
// 					}
// 				}
// 			}
// 			.wrapper-for-button{ margin-top:15px; padding-top: 120px;
// 				.button{
// 					span{}
// 				}
// 			}
// 			.it-man-image{ top: 280px; max-width: 400px; max-height: 250px; left: -100px;
// 			}
// 		}
// 	}

// 	.slider-home{
// 		.mbox{
// 			.home-heading{ padding: 10px 0px 0px 0px;
// 				h2{font-size: 32px; margin-bottom: 30px;
// 					span{
// 					}
// 				}
// 			}
// 			.home-slider{ max-width: 100%;
// 				.slide{min-width: 240px; margin: 0 5px; min-height: 180px;
// 					.images-for-slider{
// 						svg{
// 							.cls-1{
// 							}
// 						}
// 					}
// 					.text-content{padding: 0 20px 20px 20px;
// 						p{
// 						}
// 					}
// 				}
// 				.slick-dots{bottom: -50px; 
// 					li{margin: 0;
// 						button{
// 							&:before{width: 10px; height: 10px;
								
// 							}
// 						}
// 					}
// 					.slick-active{
// 						button{
// 							&:before{
								
// 							}
// 						}
// 					}
// 				}
// 			}
// 			.wrapper-for-button{ padding: 120px 0  20px 0; margin-top: 20px;
// 				.button{
// 					span{}
// 				}
// 			}
// 			.it-woman-image{left: 12%; top: 243px; z-index: 2; max-width: 289px; max-height: 236px; pointer-events: none;
// 			}
// 		}
// 	}	
// }
@media screen and (max-width: 320px){
	

}