/* button */

    .button{display: inline-block;height: 40px;line-height: 40px;font-weight: 700;color:#fff;text-align: center;background-color: #2b3bda;max-width: 165px;width: 100%;border-radius:50px;text-decoration: none;text-transform: uppercase;font-size: 13px;transition:background-color 300ms ease;
        &:hover{background-color: #1d2bb3;}
    }

/* /button */

/* footer */

    .footer{padding-top: 20px; padding-bottom: 45px;
        &.gray{padding-top: 69px;background-color: #f6f5f5;

        }
        .mbox{padding: 0;}
        ul{padding:0;margin:0;list-style:none;
            li{margin-bottom: 10px;
                &:last-child{margin-bottom: 0;}
            }
            a{font-size: 14px;color:#000;line-height: 1.45;
                &:hover{text-decoration: none;color:#2b81da;}
            }
            ul{padding: 15px 0 5px 20px;}
        }

        .footer-wrap{position: relative;display: flex;justify-content: space-between;align-items: flex-start;padding-top: 0px;padding-bottom: 0px;
            .column{width: 25%;padding-right: 15px;padding-left:22px;
                &:nth-child(2){
                    .column-list{padding-right: 0px;

                    }
                }
                .column-list{margin-top: 30px;}
                &:last-child{padding-right: 0px;text-align: right;}
                &>.column-list>ul>li{margin-top: 15px; margin-bottom: 0px;
                    // &:last-child{margin-top: 0px;}
                     &:first-child{margin-top: 10px;}
                     //&:nth-child(2){margin-top: 10px;}
                    // &:nth-child(3){margin-top: 20px;}
                }
            }

            .company-name{font-size: 14px;color:#9a9a9a;margin-bottom: 32px;  padding-top: 2px;}
            .column-title{font-family: 'Museo', sans-serif;font-weight: 300;font-size: 30px;color:#000;margin-bottom: 20px;margin-top: -10px;  padding-top: 2px;}

            .footer-contact{ padding-right: 7px;
                .footer-contact-telefone-wrap{margin-bottom: 20px;margin-top: -5px;
                    font-family: 'Museo'
                }
                .footer-contact-telefone{font-weight: 700;color:#2b81da;font-size: 24px;text-decoration: none;margin-bottom: 20px;transition:color 300ms ease;
                    // &:hover{color:#000;}
                }
            }
            .return-address{max-width: 250px; float: right;margin-top: 10px;
                p{white-space: pre-line; line-height: 1.3;

                }

            }
            .footer-logo{position: absolute;bottom: 0px;right: 0px;width: 25%;
                a{display: flex;justify-content: flex-end;align-items: center;text-decoration: none;
                    &:hover{
                        .footer-logo-svg{
                            svg{opacity: 0;
                                &.hover-svg{opacity: 1;}
                            }
                        }
                        .footer-logo-text{
                            p{
                                &.text-top{
                                    &:after{transform:scale(0);}
                                }
                            }
                        }
                    }
                }
                .footer-logo-svg{position: relative;
                    svg{position: relative;z-index: 0;transition:opacity 300ms ease;
                       &.hover-svg{position: absolute;top:0px;left:0px;z-index: 1;opacity: 0;}
                    }
                }
                .footer-logo-text{margin-left: 10px;font-family:'Muller', sans-serif;font-size: 15px;color:#494949;
                    p{margin: 7px 10px 9px 0;
                        &.text-top{position: relative;
                            &:after{content:'';display: block;position: absolute;top:100%;left:0;width: 100%;height: 1px;background-color: #494949;transition:transform 300ms ease;}
                        }
                    }
                }
            }

        }

        .footer-wrap-mobile{display: none;justify-content: flex-start;align-items: center;flex-direction:column;text-align: center;padding-bottom: 25px;font-size: 14px;padding-top: 25px;
            .mobile-top{margin-bottom: 25px;}
            .mobile-middle{margin-bottom: 25px;
                p{margin: 0 0 5px 0;
                    span{font-weight: 700;}
                }
            }
            .mobile-footer{
                a{font-size: 30px;color:#000;text-decoration: none;font-weight: 600;transition:color 300ms ease;
                    &:hover{color:#2b81da;}
                }
            }
        }

    }

/* /footer */

/* about-company */

    .about-company{background-color:#f6f6f6;padding: 100px 0 20px 0;
        .about-company-text{max-width: 780px;width: 100%;margin: 8px auto 85px auto;
            h2{font-weight: 900; margin: 0 0px 33px 15px;  letter-spacing: 0.1px; font-family: 'Museo';}
            p{ font-size: 15px; line-height: 1.6; letter-spacing: 0.1px; word-spacing: -1px; font-weight: 400;}
        }
    }

    .line-slider{display: flex;justify-content: space-between;align-items: center;margin-left: -15px;
        .line-item{padding:0 15px;margin-bottom: 20px;}
        .line-item-wrap{display: flex;align-items: center;justify-content: center;
            .line-img{margin-right: 20px;}
            .line-text{text-transform: uppercase;font-weight: 600;max-width: 180px;width: 100%;line-height: 1.4; font-size: 14px;margin-top: -4px;}
        }


    }

/* /about-company */

/* popup */

    .fancybox-overlay{background-image:none;}

    .fancybox-wrap.fancybox-form{width: 300px!important;left:calc(50% - 150px)!important;
        &.fancybox-opened{
            .fancybox-skin{box-shadow: none;}
        }
        .fancybox-inner{width: 300px!important;}
    }

    #call-popup{width: 300px;height: 228px;background-color:#125eac;padding:41px 23px 28px 24px;
        .form_input{margin-bottom: 20px;
            input{width: 100%;height: 38px;line-height: 38px;font-size: 14px;color:#464646;padding:0 12px;border-style:solid;border-color:transparent;border-width: 1px;transition:all 300ms ease;
                &.error{border-color:#e51b06;
                    &+label{display: none!important;color:transparent;font-size: 0;}
                    &::-webkit-input-placeholder {color:#e51b06;}
                    &:-moz-placeholder {color:#e51b06;opacity:1;}
                    &::-moz-placeholder {color:#e51b06;opacity:1;}
                    &:-ms-input-placeholder {color:#e51b06;}
                }
            }
        }
        .contact-form-row{margin-bottom: 5px;
            &:last-child{margin-bottom: 0;}
        }
        .submit-form-row{
            .contact-form-item{text-align: center;
                button{border-style:solid;border-color:#fff;line-height: 36px;background-color: transparent;transition:all 300ms ease;
                    &:hover{color:#125eac;background-color:#fff;}
                }
            }
        }
    }

/* popup */

/* blue-block-wrap */

    .blue-block-wrap{background-color: #2b81da;padding-top: 49px;margin-bottom: 67px;

        h1{margin: 0;font-size: 60px;text-transform: uppercase;font-family: 'Museo', sans-serif;font-weight: 900;margin-bottom: 21px;}

        .blue-block-nav{
            ul{display: flex;list-style:none;padding:0;margin:0;
                li{margin-right: 35px;
                    &:last-child{margin-right: 0;}
                    a{font-size: 18px;color:#fff;font-family: 'Museo', sans-serif;text-decoration: none;padding-bottom: 21px;display: block;position: relative;
                        &:after{content:'';display: block;position: absolute;bottom: 0;left:0;width: 100%;height: 4px;background-color: #48fefc;transform:scale(0);transition:all 300ms ease;}
                        &:hover{
                            &:after{transform:scale(1);}
                        }
                    }
                    &.active{
                        a{
                            &:after{transform:scale(1);}
                        }
                    }
                }
            }
        }

        .blue-block-wrap-descript{display: flex;justify-content: space-between;align-items: flex-end;
            .blue-block-wrap-descript-text{width: 587px;color:#fff;padding-bottom: 216px;
                h1{margin-bottom: 32px;}
                p{font-size: 14px;line-height: 1.75;margin:0;}
            }
            .blue-block-wrap-descript-img{width: calc(100% - 613px);text-align: right;
                img{margin-bottom: -51px;margin-right: -15px;}
            }
        }

    }

/* /blue-block-wrap */

/* breadcrumbs */

    .breadcrumbs{margin-bottom: 23px;padding-left:7px;
        ul{list-style:none;padding:0;margin: 0;
            li{display: inline-block;position: relative;color:#fff;font-size: 13px;
                &:after{content:'/';display: inline-block;margin: 0 2px 0 3px;}
                a{text-decoration: none;color:#fff;position: relative;
                    &:after{content:'';display: block;position: absolute;top:calc(100% - 2px);left: 0;width: 100%;height: 1px;background-color: #fff;transition:width 300ms ease;}
                    &:hover{
                        &:after{width: 0;}
                    }
                }
                &:last-child{
                    &:after{display: none;}
                }

            }
        }
    }

/* /breadcrumbs */

/* left-column-nav */

    .column-nav-wrap{

        .column-nav-mobile-arrow{display: none;}

        .column-nav{
            ul{list-style:none;padding:0;margin:0;max-width: 207px;
                li{position: relative;padding:16px 5px 16px 0;
                    &:before{content:'';display: none;position: absolute;z-index: 0;top:0;left:-15px;width: calc(100% + 15px);height: 100%;background-color: #2b81da;}
                    a{display: inline-block;position: relative;z-index: 1;text-decoration: none;font-family: "Museo", sans-serif;color:#000000;font-size: 18px;
                        &:after{content:'';display: block;position: absolute;top:100%;width: 100%;height: 2px;background-color: #2b81da;transform:scale(0);transition:all 300ms ease;}
                    }
                    &.active{
                        &:before{display: block;}
                        a{color:#fff;cursor: default;}
                    }
                    &:not(.active){
                        a{
                            &:hover{
                                &:after{transform:scale(1);}
                            }
                        }
                    }
                }
            }
        }

    }

/* /left-column-nav */

/* profesional-repair-global */

    .profesional-repair-global{

        .blue-block-wrap{margin-bottom: 69px;
            h1{margin-left:5px;margin-bottom: 14px;}
        }

        .breadcrumbs{margin-bottom: 33px;
            ul{
                li{letter-spacing:0.5px;
                    &:after{margin:0 3px 0 4px;}
                }
            }
        }

    }

/* /profesional-repair-global */

/* professional-form */

    .professional-form{

        .professional-form-wrap{display: flex;justify-content: space-between;align-items: flex-start;padding-bottom: 61px;}

        .left-side{width: calc(100% - 370px);margin-left:5px;
            .ctext{
                h1, h2, h3, h4, h5, h6{line-height: 1;margin-bottom: 35px;font-family: 'Museo', sans-serif;}
                h3{font-size: 36px;font-weight: 500;margin-bottom: 28px;margin-top: 0;}
                p{font-size: 16px;line-height: 1.5;}
            }
        }

        .right-side{width: 300px;position: relative;top:3px;margin-right: -4px;
            .form-wrapper{background-color: #eeeeee;padding:24px 42px 29px;}
            h3{text-align: center;color:#858585;font-size: 21px;margin: 0 0 20px 0;}
            input{width: 100%;border-color:#b0b0b0;border-style:solid;border-radius: 25px;padding:0 16px;height: 40px;line-height: 40;transition:border-color 300ms ease, box-shadow 300ms ease;
                &::-webkit-input-placeholder {font-family:'Open Sans', sans-serif;font-size: 14px;color:#000;transition:color 300ms ease;}
                &:-moz-placeholder {font-family:'Open Sans', sans-serif;font-size: 14px;color:#000;opacity:1;transition:color 300ms ease;}
                &::-moz-placeholder {font-family:'Open Sans', sans-serif;font-size: 14px;color:#000;opacity:1;transition:color 300ms ease;}
                &:-ms-input-placeholder {font-family:'Open Sans', sans-serif;font-size: 14px;color:#000;transition:color 300ms ease;}
                &.error{border-color:#ff0000;box-shadow:0 0 5px 0 rgba(255, 0, 0, .75);
                    &::-webkit-input-placeholder {color:#ff0000;}
                    &:-moz-placeholder {color:#ff0000;opacity:1;}
                    &::-moz-placeholder {color:#ff0000;opacity:1;}
                    &:-ms-input-placeholder {color:#ff0000;}
                    &+.errorText{display: none!important;}
                }
            }

            .form_row{margin-bottom: 12px;
                &.submit_row{margin-bottom: 0;
                    .button{width: 100%;max-width: none;border:none;background-color: #2c81db;font-size: 14px;
                        &:hover{background-color: #16599f;}
                    }
                }
            }

        }

    }

/* /professional-form */

/* professional-services */

    .professional-sevices{margin-bottom: 74px;

        table{width: 100%;
            tr{vertical-align: middle;
                td{height: 100%;width: 50%;
                    &.background-grey{background-color: #f4f8fb;}
                }
                &:first-child{
                    td{
                        &:first-child{
                            .profesional-services-img{position: absolute;top:0;right: 0;bottom: 0;overflow: hidden;
                                img{max-width: none;min-height: 100%;position: relative;}
                            }
                        }
                        &:last-child{
                            .professional-services-text{padding:18px 0 38px 48px;
                                .ctext{
                                    p{font-size: 14px;line-height: 1.45;}
                                }
                                .professional-services-price{padding-top: 26px;}
                            }
                            .profesional-services-img{
                                img{position: relative;}
                            }
                        }
                    }
                }
                &:nth-child(2){
                    td{
                        &:first-child{
                            .professional-services-text{padding:45px 0 38px 48px;
                                .ctext{
                                    h3{margin-bottom: 21px;}
                                    p{font-size: 14px;line-height: 1.45;}
                                }
                            }
                            .profesional-services-img{
                                img{position: relative;}
                            }
                        }
                        &:last-child{
                            .professional-services-text{width: 300px;padding:39px 0 38px 48px;
                                .ctext{
                                    h3{margin-bottom: 30px;}
                                    p{font-size: 14px;line-height: 1.45;}
                                }
                            }
                            .profesional-services-img{
                                img{position: relative;}
                            }
                        }
                    }
                }
                &:nth-child(3){
                    td{
                        &:first-child{
                            .professional-services-text{padding:50px 0 48px 49px;
                                .ctext{
                                    h3{margin-bottom: 26px;}
                                    p{font-size: 14px;line-height: 1.45;}
                                }
                            }
                            .profesional-services-img{
                                img{position: relative;}
                            }
                        }
                    }
                }
            }
        }

        .professional-serices-item{display: flex;justify-content: space-between;align-items: center;position: relative;}
        .professional-services-text{padding:45px 0 29px 48px;width: 300px;
            .ctext{
                h3{font-family: 'Museo', sans-serif;font-weight: 500;font-size: 30px;line-height: 0.8;margin-bottom: 23px;margin-top: 0;
                    a{text-decoration: none;color:#000;transition:color 300ms ease;
                        &:hover{color:#2b81da;}
                    }
                }
                p{font-size: 14px;line-height:1.65;}
            }
            .professional-services-price{padding-top: 26px;font-size:20px;font-weight: 700;color:#2b81da;}
        }
        .profesional-services-img{width: calc(100% - 300px);text-align: center;
            a{display: block;overflow: hidden;}
        }

    }

/* /professional-services */

/* professional-services-description */

    .professional-services-description{padding-bottom: 85px;

        .professional-description-wrap{display: flex;justify-content: space-between;align-items: flex-start;}

        .professional-description-col{width: calc(50% - 30px);
            &:last-child{padding-left:27px;}
            .professional-description-text{margin-bottom: 50px;
                &:last-child{margin-bottom: 0;}
                &.ctext{
                    h3{font-size: 36px;font-family: 'Museo', sans-serif;font-weight: 500;line-height: 1.05;margin-bottom: 23px;}
                    p{line-height: 1.65;}
                }
            }
        }

    }

/* /professional-services-description */

/* about-company-global */

    .about-company-global{

        .blue-block-wrap{margin-bottom: 75px;
            h1{margin-bottom: 44px;}
        }

        .another-line-slider{margin-bottom: 77px;}

    }

/* /about-company-global */

/* about-company-block */

    .about-company-block{
        .about-company-block-wrap{display: flex;justify-content: space-between;align-items: flex-start;
            .about-company-block-column{width: 50%;
                &:last-child{padding-left:44px;margin-top: -10px;
                    .ctext{
                        &:first-child{margin-bottom: 60px;}
                    }
                }
            }
            .ctext{margin-bottom: 72px;
                h3{font-size: 30px;margin-bottom: 26px;font-weight: 500;line-height: 1;}
                h2{font-size: 36px;margin-bottom: 19px;}
                p{font-size: 16px;line-height: 1.5;}
                ul{padding: 15px 0 0 0;}

            }
        }

    }

/* /about-company-block */

/* professional-for-home */

    .professional-for-home{margin-top: -217px;margin-bottom: 66px;

        .col-w-1{width: 25%;}
        .col-w-2{width: 50%;}
        .col-h-1{height: 293px;}
        .col-h-2{height: 586px;}

        .professional-for-home-row{display: flex;justify-content: space-between;align-items: flex-end;

            /* bad styles */

                &.professional-for-home-row-top{

                    .professional-for-home-col{

                        &:nth-child(1){
                            .professional-for-home-col{

                                &:last-child{padding:53px 0 0 0;
                                    .professional-for-home-col-wrap{
                                        h2{margin:0 0 28px 0;}
                                    }
                                }
                            }
                        }
                        &:nth-child(2){
                            .professional-for-home-col-wrap{
                                h2{margin:0 0 35px 0;}
                            }
                        }

                        &:nth-child(4){

                            .professional-for-home-col-wrap{
                                p{padding-left:0;font-size: 16px;}
                            }

                        }

                    }

                }

                &.professional-for-home-row-bottom{

                    .professional-for-home-col{

                        &:nth-child(1){
                           .professional-for-home-col-wrap{

                                h2{max-width: 200px;margin: 0 0 40px 0;}

                           }
                        }
                        &:nth-child(2){

                            .professional-for-home-col-wrap{
                                h2{margin:0 0 27px 0;}
                            }

                        }

                    }

                }

            /* /bad styles */

        }

        .professional-for-home-col{position: relative;overflow: hidden;

            &.hover{padding:50px 0px 0 0px;
                &:before{content:'';display: block;position: absolute;top:0;left:0;bottom:0;right:0;z-index: 1;opacity:0;transition:opacity 300ms ease;}
                &.light-blue-hover{
                    &:before{background-color: rgba(12, 51, 21, .4);}
                }
                &.dark-blue-hover{
                    &:before{background-color: rgba(23, 32, 120, .8);}
                }
                &:hover{
                    &:before{opacity: 1;}
                }

                &.aqua-block{

                    .professional-for-home-col-wrap{
                        h2{
                            &:before{background-color: #48fefc;}
                        }
                        p{
                            span{color:#48fefc;}
                        }
                    }

                }

                &.blue-block{

                    .professional-for-home-col-wrap{
                        h2{
                            a{color:#2b81da;}
                            &:before{background-color: #2b81da;}
                        }
                        p{color:#000000;font-weight: 700;font-size: 16px;
                            span{color:#a6a6a6;}
                        }
                    }

                    &:hover{

                        .professional-for-home-col-wrap{
                            h2{
                                &:before{background-color: #fff;}
                                a{color:#fff;}
                            }
                            p, p span{color:#fff;}
                        }

                    }

                }

            }
            .professional-for-home-col-wrap{position: relative;z-index: 2;width: calc(100% - 38px);margin:0 auto;left:12px;
                a{text-decoration: none;color:#fff;
                    &:hover{text-decoration: underline;}
                }
                h2{position: relative;padding-top: 17px;text-transform: uppercase;font-size: 16px;line-height: 1.5;margin:0 0 42px 0;max-width: 250px;
                    a{transition:color 300ms ease;}
                    &:before{content:'';display: block;position: absolute;top:0;left:0;width: 80px;height: 4px;transition:background-color 300ms ease;}
                }
                p{font-weight: 600;font-size: 14px;margin:0 0 20px 0;transition:color 300ms ease;
                    span{font-weight: 700;transition:color 300ms ease;}
                    &:last-child{margin-bottom: 0;}
                }
            }
            .professional-for-home-col-img{position: absolute;width: 100%;height: 100%;top:0;left:0;z-index: 0;
                img{min-width: 100%;max-width:none;min-height: 100%;transform:translate(-50%, -50%);position: absolute;left:50%;top:50%;}
            }
        }

    }

/* /professional-for-home */

/* professional-blog */

    .blog{

        .blog-tags{margin-bottom:20px;
            ul{display:flex;justify-content: flex-start;align-items: center;flex-wrap:wrap;list-style:none;padding:0;margin:0;
                li{margin-right:8px;position:relative;transition:all 300ms ease;
                    &:last-child{margin-right: 0;}
                    .tag{display:inline-block;text-decoration: none;color:#fff;padding:6px 7px 4px 8px;font-weight: 300;font-family:'Museo', sans-serif;font-size:14px;background-color:#666666;transition:all 300ms ease;
                        &.active{background-color:#6672e3;
                            &+.close-tag{background-color:#6672e3;}
                        }
                        &:hover:not(.active){background-color:#333333;
                            &+.close-tag{background-color: #333333;}
                        }
                        &+.close-tag{background-color:#666666;}
                    }
                    &:hover{opacity:1;/*padding-right:15px;*/
                        .close-tag{width:15px;}
                    }
                    .close-tag{position: absolute;top:0;right:0%;height:100%;width:0;overflow: hidden;cursor:pointer;transition:all 300ms ease;
                        &:before, &:after{content:'';display: block;position: absolute;left:1px;top:calc(50% - 1px);width: 11px;height:1px;background-color: #fff;transform-origin:50% 50%;}
                        &:before{transform:rotate(45deg) translateZ(0px);}
                        &:after{transform:rotate(-45deg) translateZ(0px);}
                    }
                }
            }
        }


        .blog-items-main{margin-bottom:58px;

            .blog-items-row{margin-bottom:20px;
                .blog-items-row-wrap{display:flex;justify-content: space-between;align-items: flex-start;}
                &:last-child{margin-bottom: 0;}
                &.added{display:none;}
                .blog-item-col{
                    &.col-6{width:calc(64.8% - 10px);}
                    &.col-3{width:calc(35.33%  - 10px);}
                    &.col-5{width:calc(50% - 10px);}
                }

                .blog-item{display:block;position: relative;height: 300px;overflow: hidden;text-decoration: none;
                    &:after{content:'';display: block;position: absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(0, 0, 0, .4);z-index: 1;}
                    &:before{content:'';position: absolute;left:0;bottom:0;right:0;height: 96px;z-index:2;background-image:url(../images/blog-item-shadow.png);}
                    img{position:absolute;z-index:0;max-width: none;min-width:100%;min-height:100%;left:50%;top:50%;transform:translate(-50%, -50%);}
                    .blog-item-footer{position: absolute;bottom:0;left:0;right:0;padding:0 25px 28px 28px;z-index: 3;
                        .item-tag-line{display: flex;justify-content: flex-start;align-items: center;flex-wrap:wrap;margin-bottom: 10px;
                            .tag{display: block;padding:5px 8px;color:#fff;font-family:'Museo', sans-serif;font-size: 11px;font-weight: 300;background-color:rgba(0, 0, 0, .6);cursor:pointer;transition:all 300ms ease;
                                &:hover{background-color:rgba(43, 59, 218, .7);}
                            }
                        }
                        .blog-item-text{color:#fff;font-weight: 700;font-size: 24px;font-family:'Museo', sans-serif;text-decoration: none;transition:color 300ms ease;
                            &:hover{color:#6a75e5;}
                        }
                    }

                    &.blog-item-no-background{height:140px;background-color:#f1f5f8;padding:20px 15px 5px 22px;margin-bottom:20px;
                        &:after, &:before{display: none;}
                        &:last-child{margin-bottom: 0;}
                        .item-tag-line{display: flex;justify-content: flex-start;align-items: center;margin-bottom:7px;
                            .tag{display:block;color:#fff;padding:5px 6px 4px 5px;font-family:'Museo', sans-serif;font-weight: 300;font-size: 11px;background-color:rgba(0, 0, 0, .6);cursor:pointer;transition:all 300ms ease;
                                &:hover{background-color: rgba(43, 59, 218, .7);}
                            }
                        }
                        .blog-item-text{color:#000;font-size: 21px;font-family:'Museo', sans-serif;font-weight:700;text-decoration: none;transition:all 300ms ease;
                            &:hover{color:#1db1e7;}
                        }
                    }

                }

            }

        }

        .blog-footer{display:flex;justify-content: space-between;align-items: center;padding-bottom: 78px;

            .blog-load-more{
                .blog-load-more-button{display:flex;align-items: center;justify-content: flex-start;text-decoration: none;font-size: 19px;transition:all 300ms ease;
                    img{transform-origin:50% 50%;transition:all 300ms ease;}
                    span{color:#2b81da;margin-left:10px;margin-top:-3px;position:relative;
                        &:before{content:'';display: block;position:absolute;top:calc(100% + 2px);left:0;width:100%;border-bottom:1px dashed #2b81da;transition:all 300ms ease;}
                    }

                    &.no-items{opacity: 0;cursor:default;}

                    &:hover, &.loading{
                        img{/*animation-play-state:running;*/animation-name:rotateImg;animation-duration:300ms;animation-timing-function:linear;/*animation-play-state:paused;*/animation-fill-mode:both;/*animation-iteration-count: infinite;*/}
                        span{
                            &:before{transform:scale(0);}
                        }
                    }

                }
            }

            .paginator{display:flex;align-items: center;

                ul{display:flex;align-items: center;list-style:none;margin:0;padding:0;
                    li{display: flex;justify-content: center;align-items: center;width: 33px;height: 33px;font-size: 15px;color:#000;margin:0 2px;transition:all 300ms ease;
                        &.active{background-color: #46f8ff;}
                        a{width:33px;height: 33px;display:flex;justify-content: center;align-items: center;text-decoration: none;color:#000;background-color:#e6ecf1;transition:all 300ms ease;}
                        &:hover:not(.active){
                            a{background-color: #2b81da;color:#fff;}
                        }
                    }
                }

                .paginator-prev, .paginator-next{display: flex;width: 33px;height: 33px;
                    a{display:flex;justify-content: center;align-items:center;width:33px;height:33px;position:relative;background-color:#e6ecf1;transition:all 300ms ease;
                        &:before, &:after{content:'';display:block;width:8px;height:14px;position:absolute;left:calc(50% - 4px);top:calc(50% - 7px);background-image:url(../images/pagination-arrows.png);transition:all 300ms ease;}
                        &:after{opacity:0;}
                        &:hover{
                            &:before{opacity:0;}
                            &:after{opacity:1;}
                        }
                    }
                }

                .paginator-prev{margin-right:5px;
                    a{
                        &:before{background-position:0px -14px;}
                        &:after{background-position:0px 0px;}
                    
                    }
                }

                .paginator-next{margin-left:5px;
                    a{
                        &:before{background-position:-8px -14px;}
                        &:after{background-position:-8px 0;}
                    }
                }

            }

        }

    }

/* /professional-blog */

/* professional-blog-global */

    .professional-blog-global{

        .blue-block-wrap{padding-top:41px;margin-bottom: 75px;
            h1{padding-left:7px;margin-bottom:13px;}
            .breadcrumbs{margin-bottom:20px;}
        }

        .blog{margin-top:-36px;padding-left:7px;margin-right:-8px;}

    }

/* /professional-blog-global */

/* animations */

@keyframes  rotateImg{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

/* animations */