<section class="about-company-block">
    <div class="mbox">

        <div class="left-column-main">
            //= left-column-nav.html
        </div>
        <div class="right-column-main">
            <div class="about-company-block-wrap">

                <div class="about-company-block-column">
                    <div class="ctext">
                        <img src="images/about-company-img.jpg" alt="" />
                        <h2>Наши услуги</h2>
                        <p>Консультанты АйТи, обладающие значительным практическим опытом в области ИТ-консалтинга, помогут решить многие задачи стоящие перед руководителями организаций, компаний и предприятий:</p>
                        <ul>
                            <li>оценка соответствия действующих на предприятии систем специфике и потребностям бизнеса</li>
                            <li>организация эффективной структуры управления ИТ</li>
                            <li>построение оптимальной архитектуры корпоративных информационных систем, вычислительной и телекоммуникационной инфраструктуры</li>
                            <li>оценка объема и эффективности инвестиций в ИТ потребностям организации</li>
                            <li>выбор ИТ-решений, наиболее адекватных задачам предприятия</li>
                        </ul>
                    </div>

                    <div class="ctext">
                        <h3>Разработка стратегии развития IT</h3>
                        <p>Разработка рекомендаций по направлениям развития существующей ИТ-системы заказчика на заданном горизонте планирования с учетом текущих и перспективных бизнес-задач, а также тенденций развития информационных технологий. Разработка ИТ-стратегии ведется на основе результатов тщательного аудита и анализа используемых информационных систем, инфраструктуры, подходов к управлению в сфере ИТ.</p>
                    </div>
                </div>

                <div class="about-company-block-column">
                    <div class="ctext">
                        <h3>Аудит в области информационных технологий</h3>
                        <p>В зависимости от целей, стоящих перед заказчиком в отношении использования информационных технологий, имеющихся систем и технических средств, специалисты АйТи проведут детальный аудит в интересующей области. Результаты аудита позволят заказчику оценить степень соответствия ИТ потребностям бизнеса, эффективность и обоснованность вложений в ИТ, достаточность ресурсного обеспечения в ИТ и т.д.</p>
                    </div>

                    <div class="ctext">
                        <h3>Оценка эффективности использования корпоративных информационных систем</h3>
                        <p>Оценка текущего уровня инвестиций в ИТ и обеспечение их управляемости на базе методологии оценки совокупной стоимости владения (TCO, Gartner), в том числе аудит текущего уровня ИТ, анализ степени адекватности структуры и объемов инвестиций требованиям бизнеса, оценка эффективности организации ИТ-службы и технологий управления ИТ, а также процессов обслуживания корпоративных ИТ-систем.</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>