<section class="about-company">

    <div class="mbox">

        <div class="about-company-text ctext">
            <h2 style="text-align:center;color:#2b3bda;">О КОМПАНИИ</h2>
            <p style="text-align:center;">Инициатор форума, Д-р Фредерик ПАУЛСЕН, Председатель совета директоров фармацевтической компании Ferring Pharmaceuticals и Почетный консул Российской Федерации в Лозанне, кантон Во, Швейцария – крупный предпиниматель, признанный ученый и исследователь полюсов, меценат и дипломат.</p>
        </div>

        <div class="line-slider">

            <div class="line-item">
                <div class="line-item-wrap">
                    <div class="line-img">
                        <img src="images/line-img1.png" alt="" />
                    </div>
                    <div class="line-text">СРОЧНЫЙ ВЫЕЗД В ТЕЧЕНИИ ЧАСА</div>
                </div>
            </div>
            <div class="line-item">
                <div class="line-item-wrap">
                    <div class="line-img">
                        <img src="images/line-img2.png" alt="" />
                    </div>
                    <div class="line-text">Профессиональные Обученые мастера</div>
                </div>
            </div>
            <div class="line-item">
                <div class="line-item-wrap">
                    <div class="line-img">
                        <img src="images/line-img3.png" alt="" />
                    </div>
                    <div class="line-text">Честные открытые цены на услуги</div>
                </div>
            </div>
            <div class="line-item">
                <div class="line-item-wrap">
                    <div class="line-img">
                        <img src="images/line-img4.png" alt="" />
                    </div>
                    <div class="line-text">Гарантия качественно выполненной работы</div>
                </div>
            </div>

            <!--<div class="line-item">
                <div class="line-item-wrap">
                    <div class="line-img">
                        <img src="images/line-img1.png" alt="" />
                    </div>
                    <div class="line-text">СРОЧНЫЙ ВЫЕЗД В ТЕЧЕНИИ ЧАСА</div>
                </div>
            </div>
            <div class="line-item">
                <div class="line-item-wrap">
                    <div class="line-img">
                        <img src="images/line-img2.png" alt="" />
                    </div>
                    <div class="line-text">Профессиональные Обученые мастера</div>
                </div>
            </div>
            <div class="line-item">
                <div class="line-item-wrap">
                    <div class="line-img">
                        <img src="images/line-img3.png" alt="" />
                    </div>
                    <div class="line-text">Честные открытые цены на услуги</div>
                </div>
            </div>
            <div class="line-item">
                <div class="line-item-wrap">
                    <div class="line-img">
                        <img src="images/line-img4.png" alt="" />
                    </div>
                    <div class="line-text">Гарантия качественно выполненной работы</div>
                </div>
            </div>

            <div class="line-item">
                <div class="line-item-wrap">
                    <div class="line-img">
                        <img src="images/line-img1.png" alt="" />
                    </div>
                    <div class="line-text">СРОЧНЫЙ ВЫЕЗД В ТЕЧЕНИИ ЧАСА</div>
                </div>
            </div>
            <div class="line-item">
                <div class="line-item-wrap">
                    <div class="line-img">
                        <img src="images/line-img2.png" alt="" />
                    </div>
                    <div class="line-text">Профессиональные Обученые мастера</div>
                </div>
            </div>
            <div class="line-item">
                <div class="line-item-wrap">
                    <div class="line-img">
                        <img src="images/line-img3.png" alt="" />
                    </div>
                    <div class="line-text">Честные открытые цены на услуги</div>
                </div>
            </div>
            <div class="line-item">
                <div class="line-item-wrap">
                    <div class="line-img">
                        <img src="images/line-img4.png" alt="" />
                    </div>
                    <div class="line-text">Гарантия качественно выполненной работы</div>
                </div>
            </div>

            <div class="line-item">
                <div class="line-item-wrap">
                    <div class="line-img">
                        <img src="images/line-img1.png" alt="" />
                    </div>
                    <div class="line-text">СРОЧНЫЙ ВЫЕЗД В ТЕЧЕНИИ ЧАСА</div>
                </div>
            </div>
            <div class="line-item">
                <div class="line-item-wrap">
                    <div class="line-img">
                        <img src="images/line-img2.png" alt="" />
                    </div>
                    <div class="line-text">Профессиональные Обученые мастера</div>
                </div>
            </div>
            <div class="line-item">
                <div class="line-item-wrap">
                    <div class="line-img">
                        <img src="images/line-img3.png" alt="" />
                    </div>
                    <div class="line-text">Честные открытые цены на услуги</div>
                </div>
            </div>
            <div class="line-item">
                <div class="line-item-wrap">
                    <div class="line-img">
                        <img src="images/line-img4.png" alt="" />
                    </div>
                    <div class="line-text">Гарантия качественно выполненной работы</div>
                </div>
            </div>-->

        </div>

    </div>

</section>