<section class="blog">

    <div class="blog-tags">
        <ul>
            <li>
                <a href="#" class="active">ВСЕ ТЕМЫ</a>
            </li>
            <li>
                <a href="#">ЛАЙФКАХ</a>
            </li>
        </ul>
    </div>

    <div class="blog-items-main">

        <div class="blog-items-row">

            <div class="blog-item-col col-9">
                <a href="#" class="blog-item">
                    <img src="images/blog-item-img1.jpg" alt="" />
                    <div class="blog-item-footer">
                        <div class="item-tag-line">
                            <span class="tag" style="background-color:#48494a">РЕМОНТ</span>
                        </div>
                        <div class="blog-item-text">Как заменить процессор в Macbook PRO</div>
                    </div>
                </a>
            </div>

            <div class="blog-item-col col-3">

                <a href="#" class="blog-item blog-item-no-background">
                    <div class="item-tag-line">
                        <span class="tag" style="background-color:#6672e3">ЛАЙФКАХ</span>
                    </div>
                    <div class="blog-item-text">Как убрать шум от компьютера</div>
                </a>

                <a href="#" class="blog-item blog-item-no-background">
                    <div class="item-tag-line">
                        <span class="tag" style="background-color:#48494a">ЛАЙФКАХ</span>
                    </div>
                    <div class="blog-item-text">Это ховер. Статья без превью. Есть текст максимум на три строки.</div>
                </a>

            </div>

        </div>

        <div class="blog-items-row">

            <div class="blog-item-col col-5">
                <a href="#" class="blog-item">
                    <img src="images/blog-item-img2.png" alt="" />
                    <div class="blog-item-footer">
                        <div class="item-tag-line">
                            <span class="tag" style="background-color:#48494a">БЕЗОПАСНОСТЬ</span>
                        </div>
                        <div class="blog-item-text">Устанавливаем системы безопасности в квартире</div>
                    </div>
                </a>
            </div>

            <div class="blog-item-col col-5">
                <a href="#" class="blog-item">
                    <img src="images/blog-item-img3.png" alt="" />
                    <div class="blog-item-footer">
                        <div class="item-tag-line">
                            <span class="tag" style="background-color:#6672e3">ПОЛЕЗНЫЕ СОВЕТЫ</span>
                        </div>
                        <div class="blog-item-text">Как ухаживать за домашним компьютером</div>
                    </div>
                </a>
            </div>

        </div>

    </div>

</section>