<section class="blog">

    <div class="blog-tags">
        <ul>
            <li>
                <a href="#" class="tag active" data-tag="show_all">ВСЕ ТЕМЫ</a>
                <!--<span class="close-tag"></span>-->
            </li>
            <li>
                <a href="#" class="tag" data-tag="lifehuck">ЛАЙФКАХ</a>
                <!--<span class="close-tag"></span>-->
            </li>
        </ul>
    </div>

    <div class="blog-items-main append-here">

        <div class="blog-items-row">
            <div class="blog-items-row-wrap">

                <div class="blog-item-col col-6">
                    <div class="blog-item">
                        <img src="images/blog-item-img1.jpg" alt="" />
                        <div class="blog-item-footer">
                            <div class="item-tag-line">
                                <span class="tag">РЕМОНТ</span>
                            </div>
                            <a href="#" class="blog-item-text">Как заменить процессор в Macbook PRO</a>
                        </div>
                    </div>
                </div>

                <div class="blog-item-col col-3">

                    <div class="blog-item blog-item-no-background">
                        <div class="item-tag-line">
                            <span class="tag">ЛАЙФКАХ</span>
                        </div>
                        <a href="#" class="blog-item-text">Как убрать шум от компьютера</a>
                    </div>

                    <div class="blog-item blog-item-no-background">
                        <div class="item-tag-line">
                            <span class="tag">ЛАЙФКАХ</span>
                        </div>
                        <a href="#" class="blog-item-text">Это ховер. Статья без превью. Есть текст максимум на три строки.</a>
                    </div>

                </div>

            </div>

        </div>

        <div class="blog-items-row">

            <div class="blog-items-row-wrap">

                <div class="blog-item-col col-5">
                    <div class="blog-item">
                        <img src="images/blog-item-img2.jpg" alt="" />
                        <div class="blog-item-footer">
                            <div class="item-tag-line">
                                <span class="tag">БЕЗОПАСНОСТЬ</span>
                            </div>
                            <a href="#" class="blog-item-text">Устанавливаем системы безопасности в квартире</a>
                        </div>
                    </div>
                </div>

                <div class="blog-item-col col-5">
                    <div class="blog-item">
                        <img src="images/blog-item-img3.jpg" alt="" />
                        <div class="blog-item-footer">
                            <div class="item-tag-line">
                                <span class="tag">ПОЛЕЗНЫЕ СОВЕТЫ</span>
                            </div>
                            <a href="#" class="blog-item-text">Как ухаживать за домашним компьютером</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="blog-items-row">

            <div class="blog-items-row-wrap">

                <div class="blog-item-col col-3">
                    <div class="blog-item blog-item-no-background">
                        <div class="item-tag-line">
                            <span class="tag">ЛАЙФКАХ</span>
                        </div>
                        <a href="#" class="blog-item-text">3D-принтер - что это такое и как он работает</a>
                    </div>

                    <div class="blog-item blog-item-no-background">
                        <div class="item-tag-line">
                            <span class="tag">ЛАЙФКАХ</span>
                        </div>
                        <a href="#" class="blog-item-text">Как работает WI-FI роутер</a>
                    </div>
                </div>

                <div class="blog-item-col col-6">
                    <div class="blog-item">
                        <img src="images/blog-item-img4.jpg" alt="" />
                        <div class="blog-item-footer">
                            <div class="item-tag-line">
                                <span class="tag">ПОЛЕЗНЫЕ СОВЕТЫ</span>
                            </div>
                            <a href="#" class="blog-item-text">Разгон компьютера</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="blog-footer">

        <div class="blog-load-more">
            <a href="ajax-blog.json" class="blog-load-more-button" data-next-page="next-page-2">
                <img src="images/load-more.png" alt="" />
                <span>Показать еще</span>
            </a>
        </div>

        <div class="paginator">
            <div class="paginator-prev">
                <a href="#"></a>
            </div>
            <ul>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li class="active">3</li>
                <li>...</li>
                <li>
                    <a href="#">8</a>
                </li>
            </ul>
            <div class="paginator-next">
                <a href="#"></a>
            </div>
        </div>

    </div>

</section>