<section class="contacts" id="contacts">

    <div class="content">
        <div class="mbox">
            <div class="title">
                <h2>Контакты</h2>
            </div>
        </div>
        <div class="txt-box">
            <div class="mbox">
                <div class="txt">
                    <table>
                        <tr>
                            <td><img src="images/pin01.png" alt=""></td>
                            <td><span>г. Москва, Спартаковский переулок,
дом.2, строение 1, офис 17</span></td>
                        </tr>
                        <tr>
                            <td><img src="images/pin02.png" alt=""></td>
                            <td><a href="tel:+7(495)3000880"><span>тел.: +7 (495) 300-08-80</span></a></td>
                        </tr>
                        <tr>
                            <td><img src="images/pin03.png" alt=""></td>
                            <td><a href="mailto:info@idotechnologies.ru"><span style="text-decoration: underline;">info@idotechnologies.ru</span></a></td>
                        </tr>
                    </table>
                </div>

                 <div id="map"></div>
            </div>
        </div>
    </div>
    <div class="mbox">
        <div class="white-box">
            <div class="text-w">
                <p>Напишите нам и мы свяжемся с вами в течении часа</p>
            </div>
            <div class="button"><a href="#call-popup3" class="fancybox-form2"><span>ОСТАВИТЬ СООБЩЕНИЕ</span></a></div>
        </div>
    </div>
</section>