<div class="fixing-computers">
    <div class="fixing-computers-top">
        <div class="fixing-computers-mobile-img">
            <img src="images/fixing-computers-img.jpg" alt="">
        </div>
        <div class="fixing-computers-title">
            <h3>Срочный ремонт компьютеров</h3>
        </div>
        <div class="fixing-computers-text">
            Ваш компьютер или ноутбук перестал работать? Требуется профессиональный ремонт? Лучший способ устранить неисправность — обратиться в быстрый компьютерный сервис «Евросервис» — устранение неисправности компьютера в предельно короткие сроки!
        </div>
    </div>
    <div class="fixing-computers-center">
        <div class="fixing-computers-left">
            <div class="fixing-computers-title">
                <h3>Услуги и цены</h3>
            </div>
            <div class="fixing-computers-table">
                <table>
                    <tr>
                        <td>Диагностика компьютера:</td>
                        <td>Бесплатно</td>
                    </tr>
                    <tr>
                        <td>Чистка компьютера: </td>
                        <td>270 руб.</td>
                    </tr>
                    <tr>
                        <td>Нанесение защитной термопасны: </td>
                        <td>340 руб.</td>
                    </tr>
                    <tr>
                        <td>Замена видеокарты: </td>
                        <td>1320 руб.</td>
                    </tr>
                    <tr>
                        <td>Замена блока питания: </td>
                        <td>980 руб.</td>
                    </tr>
                    <tr>
                        <td>Замена кулера: </td>
                        <td>740 руб.</td>
                    </tr>
                    <tr>
                        <td>Установка операционной системы: </td>
                        <td>1000 руб.</td>
                    </tr>
                    <tr>
                        <td>Установка набора драйверов: </td>
                        <td>970 руб.</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="fixing-computers-right">
            <div class="fixing-computers-right-img">
                <img src="images/fixing-computers-img.jpg" alt="">
            </div>
            <div class="fixing-computers-button">
                <a href="#" class="button grey">
                    <img src="images/fixing-computers-button.png" alt="">
                    <span>прайс-лист </span>
                </a>
                <a href="#" class="button">
                    <span>ОСТАВИТЬ ЗАЯВКУ </span>
                </a>
            </div>
            <div class="fixing-computers-button-bottom">
                <p>или </p>
                <a href="mailto:"><span>написать нам на почту</span></a>
            </div>
        </div>
    </div>

</div>