<!-- HEADER -->
<header>
    <div class="mbox">
        <div class="header-desctop">
            <div class="logo">
                <a href="#">
                    <svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="250px" height="70px"
                         viewBox="0 0 252 73.5" style="enable-background:new 0 0 252 73.5;" xml:space="preserve">
                    <style type="text/css">
                        #logo .st0{fill:#FFFFFF;}
                        #logo .st1{fill:#46f8ff;}
                    </style>
                    <g>
                        <rect x="1.4" y="32.2" class="st0" width="15.4" height="23.7"/>
                        <polygon class="st0" points="61.1,17.4 61.1,32.1 46.6,32.1 46.6,56 31.2,56 31.2,32.1 16.8,32.1 16.8,17.4    "/>
                        <rect x="1.4" y="2" class="st0" width="15.4" height="15.4"/>
                        <rect x="46.6" y="56" class="st1" width="15.4" height="15.4"/>
                        <rect x="76.1" y="29.5" class="st0" width="7.4" height="18.6"/>
                        <path class="st1" d="M106.6,17.6c2.7,0,5.1,0.4,7.1,1.1c2,0.8,3.7,1.8,5,3.2c1.3,1.3,2.3,3,2.9,4.8c0.6,1.9,1,3.9,1,6.1
                            c0,2.2-0.3,4.3-1,6.1c-0.6,1.9-1.6,3.5-2.9,4.8c-1.3,1.3-3,2.4-5,3.2c-2,0.8-4.4,1.1-7.1,1.1H94.5V17.6H106.6z M114.3,32.8
                            c0-2.9-0.7-5-2-6.3c-1.3-1.3-3.2-2-5.7-2h-4.1v16.5h4.1c2.4,0,4.3-0.7,5.7-2C113.6,37.8,114.3,35.7,114.3,32.8"/>
                        <path class="st1" d="M125.1,32.8c0-2.1,0.3-4.1,1-6c0.7-1.9,1.7-3.6,3.1-5.1c1.4-1.5,3.1-2.6,5.1-3.5c2-0.9,4.4-1.3,7.1-1.3
                            c2.7,0,5.1,0.4,7.1,1.3c2,0.9,3.7,2,5.1,3.5c1.4,1.5,2.4,3.2,3.1,5.1c0.7,1.9,1,3.9,1,6c0,2.1-0.3,4.1-1,6
                            c-0.7,1.9-1.7,3.6-3.1,5.1c-1.4,1.5-3.1,2.6-5.1,3.5c-2,0.9-4.4,1.3-7.1,1.3c-2.7,0-5.1-0.4-7.1-1.3c-2-0.9-3.7-2-5.1-3.5
                            c-1.4-1.5-2.4-3.2-3.1-5.1C125.5,37,125.1,34.9,125.1,32.8 M149.5,32.8c0-1.2-0.2-2.3-0.5-3.4c-0.3-1-0.9-1.9-1.5-2.7
                            c-0.7-0.8-1.5-1.4-2.5-1.8c-1-0.4-2.2-0.6-3.5-0.6c-1.3,0-2.5,0.2-3.5,0.6c-1,0.4-1.9,1-2.5,1.8c-0.7,0.8-1.2,1.7-1.5,2.7
                            c-0.3,1-0.5,2.2-0.5,3.4c0,1.2,0.2,2.3,0.5,3.4c0.3,1,0.9,1.9,1.5,2.7c0.7,0.8,1.5,1.4,2.5,1.8c1,0.4,2.2,0.6,3.5,0.6
                            c1.3,0,2.5-0.2,3.5-0.6c1-0.4,1.9-1,2.5-1.8c0.7-0.8,1.2-1.7,1.5-2.7C149.3,35.2,149.5,34,149.5,32.8"/>
                        <polygon class="st0" points="86.3,56.3 86.3,59.8 82.1,59.8 82.1,71.3 78.1,71.3 78.1,59.8 73.8,59.8 73.8,56.3    "/>
                        <polygon class="st0" points="99.7,56.3 99.7,59.7 92.8,59.7 92.8,62 99.1,62 99.1,65.5 92.8,65.5 92.8,67.9 99.8,67.9 99.8,71.3
                            88.9,71.3 88.9,56.3     "/>
                        <path class="st0" d="M102.3,64c0-1.4,0.2-2.6,0.7-3.7c0.5-1,1.1-1.9,1.9-2.5c0.8-0.7,1.6-1.1,2.6-1.4c1-0.3,2-0.5,3-0.5
                            c0.8,0,1.5,0.1,2.3,0.2c0.7,0.2,1.4,0.4,2.1,0.7v3.8c-0.5-0.4-1-0.7-1.7-0.9c-0.7-0.2-1.3-0.3-2-0.3c-0.6,0-1.2,0.1-1.8,0.3
                            c-0.6,0.2-1.1,0.4-1.5,0.8c-0.4,0.4-0.8,0.8-1.1,1.4c-0.3,0.6-0.4,1.3-0.4,2.1c0,0.7,0.1,1.4,0.4,1.9c0.3,0.5,0.6,0.9,1.1,1.3
                            c0.4,0.3,0.9,0.6,1.5,0.7c0.6,0.2,1.1,0.2,1.7,0.2c0.8,0,1.5-0.1,2.2-0.3c0.7-0.2,1.2-0.6,1.7-1v3.9c-1.3,0.6-2.8,0.9-4.4,0.9
                            c-1,0-2-0.1-3-0.4c-1-0.3-1.9-0.7-2.6-1.4c-0.8-0.6-1.4-1.4-1.9-2.4C102.5,66.5,102.3,65.4,102.3,64"/>
                        <polygon class="st0" points="131.9,56.3 131.9,71.3 128,71.3 128,65.6 122.4,65.6 122.4,71.3 118.4,71.3 118.4,56.3 122.4,56.3
                            122.4,62.1 128,62.1 128,56.3    "/>
                        <path class="st0" d="M135.6,71.3V56.3h3.8l5.9,8.6c0-0.4-0.1-0.8-0.1-1.2c0-0.4,0-0.9,0-1.3v-6.2h4v15.1h-3.8l-5.9-8.6
                            c0,0.4,0.1,0.8,0.1,1.2c0,0.4,0,0.9,0,1.3v6.2H135.6z"/>
                        <path class="st0" d="M151.6,63.8c0-1,0.2-2,0.5-3c0.3-0.9,0.8-1.8,1.5-2.5c0.7-0.7,1.5-1.3,2.5-1.7c1-0.4,2.2-0.6,3.5-0.6
                            c1.3,0,2.5,0.2,3.5,0.6c1,0.4,1.8,1,2.5,1.7c0.7,0.7,1.2,1.6,1.5,2.5c0.3,0.9,0.5,1.9,0.5,3c0,1-0.2,2-0.5,3
                            c-0.3,0.9-0.8,1.8-1.5,2.5c-0.7,0.7-1.5,1.3-2.5,1.7c-1,0.4-2.2,0.6-3.5,0.6c-1.3,0-2.5-0.2-3.5-0.6c-1-0.4-1.8-1-2.5-1.7
                            c-0.7-0.7-1.2-1.6-1.5-2.5C151.8,65.9,151.6,64.9,151.6,63.8 M163.7,63.8c0-0.6-0.1-1.2-0.3-1.7c-0.2-0.5-0.4-1-0.8-1.3
                            c-0.3-0.4-0.7-0.7-1.2-0.9c-0.5-0.2-1.1-0.3-1.7-0.3s-1.2,0.1-1.7,0.3c-0.5,0.2-0.9,0.5-1.2,0.9c-0.3,0.4-0.6,0.8-0.8,1.3
                            c-0.2,0.5-0.3,1.1-0.3,1.7c0,0.6,0.1,1.2,0.3,1.7c0.2,0.5,0.4,1,0.8,1.3c0.3,0.4,0.7,0.7,1.2,0.9c0.5,0.2,1.1,0.3,1.7,0.3
                            s1.2-0.1,1.7-0.3c0.5-0.2,0.9-0.5,1.2-0.9c0.3-0.4,0.6-0.8,0.8-1.3C163.6,65,163.7,64.4,163.7,63.8"/>
                        <polygon class="st0" points="174.3,56.3 174.3,67.8 181.1,67.8 181.1,71.3 170.3,71.3 170.3,56.3  "/>
                        <path class="st0" d="M182.1,63.8c0-1,0.2-2,0.5-3c0.3-0.9,0.8-1.8,1.5-2.5c0.7-0.7,1.5-1.3,2.5-1.7c1-0.4,2.2-0.6,3.5-0.6
                            c1.3,0,2.5,0.2,3.5,0.6c1,0.4,1.8,1,2.5,1.7c0.7,0.7,1.2,1.6,1.5,2.5c0.3,0.9,0.5,1.9,0.5,3c0,1-0.2,2-0.5,3
                            c-0.3,0.9-0.8,1.8-1.5,2.5c-0.7,0.7-1.5,1.3-2.5,1.7c-1,0.4-2.2,0.6-3.5,0.6c-1.3,0-2.5-0.2-3.5-0.6c-1-0.4-1.8-1-2.5-1.7
                            c-0.7-0.7-1.2-1.6-1.5-2.5C182.2,65.9,182.1,64.9,182.1,63.8 M194.1,63.8c0-0.6-0.1-1.2-0.3-1.7c-0.2-0.5-0.4-1-0.8-1.3
                            c-0.3-0.4-0.7-0.7-1.2-0.9c-0.5-0.2-1.1-0.3-1.7-0.3c-0.6,0-1.2,0.1-1.7,0.3c-0.5,0.2-0.9,0.5-1.2,0.9c-0.3,0.4-0.6,0.8-0.8,1.3
                            c-0.2,0.5-0.3,1.1-0.3,1.7c0,0.6,0.1,1.2,0.3,1.7c0.2,0.5,0.4,1,0.8,1.3c0.3,0.4,0.7,0.7,1.2,0.9c0.5,0.2,1.1,0.3,1.7,0.3
                            c0.6,0,1.2-0.1,1.7-0.3c0.5-0.2,0.9-0.5,1.2-0.9c0.3-0.4,0.6-0.8,0.8-1.3C194,65,194.1,64.4,194.1,63.8"/>
                        <path class="st0" d="M199.5,63.8c0-1.4,0.2-2.6,0.7-3.6c0.5-1,1.1-1.8,1.9-2.4c0.8-0.6,1.7-1.1,2.7-1.4c1-0.3,2-0.4,3.1-0.4
                            c0.8,0,1.6,0.1,2.4,0.2c0.8,0.2,1.5,0.4,2.3,0.7v3.8c-0.6-0.4-1.2-0.7-1.9-0.9c-0.7-0.2-1.5-0.3-2.2-0.3c-0.6,0-1.2,0.1-1.8,0.2
                            c-0.6,0.2-1.1,0.4-1.5,0.8c-0.4,0.3-0.8,0.8-1.1,1.3c-0.3,0.6-0.4,1.2-0.4,2c0,0.9,0.2,1.7,0.5,2.3c0.3,0.6,0.7,1,1.1,1.3
                            c0.5,0.3,0.9,0.5,1.5,0.7c0.5,0.1,1,0.2,1.4,0.2c0.4,0,0.7,0,1-0.1v-5.1h3.8v7.6c-0.8,0.3-1.6,0.6-2.4,0.8
                            c-0.8,0.2-1.7,0.3-2.6,0.3c-1.1,0-2.1-0.2-3.1-0.5c-1-0.3-1.9-0.8-2.7-1.4c-0.8-0.6-1.4-1.5-1.9-2.4
                            C199.8,66.4,199.5,65.2,199.5,63.8"/>
                        <rect x="216.2" y="56.3" class="st0" width="4" height="15.1"/>
                        <polygon class="st0" points="235.1,56.3 235.1,59.7 228.3,59.7 228.3,62 234.5,62 234.5,65.5 228.3,65.5 228.3,67.9 235.2,67.9
                            235.2,71.3 224.3,71.3 224.3,56.3    "/>
                        <path class="st0" d="M238.3,60.4c0-0.7,0.2-1.4,0.5-2c0.3-0.6,0.7-1,1.2-1.4c0.5-0.4,1.1-0.6,1.8-0.8c0.7-0.2,1.4-0.3,2.2-0.3
                            c0.9,0,1.9,0.1,2.7,0.3c0.9,0.2,1.7,0.5,2.3,0.9v3.7c-0.6-0.5-1.4-0.8-2.2-1.1c-0.8-0.2-1.7-0.3-2.5-0.3c-0.7,0-1.2,0.1-1.5,0.3
                            c-0.3,0.2-0.4,0.4-0.4,0.7c0,0.3,0.2,0.6,0.6,0.8c0.4,0.2,0.9,0.4,1.5,0.6c0.6,0.2,1.2,0.4,1.9,0.7c0.7,0.2,1.3,0.5,1.9,0.9
                            c0.6,0.4,1.1,0.9,1.5,1.5c0.4,0.6,0.6,1.3,0.6,2.2c0,0.9-0.2,1.6-0.5,2.2c-0.3,0.6-0.7,1.1-1.3,1.4c-0.6,0.4-1.2,0.6-1.9,0.7
                            c-0.7,0.1-1.5,0.2-2.3,0.2c-1.1,0-2.1-0.1-3.1-0.4c-1-0.2-1.9-0.6-2.7-1v-3.8c0.9,0.6,1.8,1.1,2.8,1.3c0.9,0.3,1.9,0.4,2.7,0.4
                            c0.8,0,1.4-0.1,1.7-0.2c0.4-0.2,0.5-0.4,0.5-0.8c0-0.4-0.2-0.7-0.6-0.9c-0.4-0.2-0.9-0.4-1.5-0.7c-0.6-0.2-1.2-0.4-1.9-0.7
                            c-0.7-0.2-1.3-0.5-1.9-0.9c-0.6-0.4-1.1-0.9-1.5-1.5C238.5,62,238.3,61.3,238.3,60.4"/>
                        <rect x="76.1" y="17.4" class="st0" width="7.4" height="7.3"/>
                    </g>
                    </svg>
                </a>
            </div>
            <div class="navigation">
                <nav>
                    <ul>
                        <li><a href="#"><span data-hover="Для дома">Для дома</span></a>
                            <ul>
                                <li><a href="#">
                                        <span>
                                            <svg version="1.1" id="cls-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="25" width="25"
                                                 viewBox="0 0 39.4 37" style="enable-background:new 0 0 39.4 37;" xml:space="preserve">
                                            <style type="text/css">
                                                #cls-1 .st0{fill:#C6C6C6;}
                                                #cls-1 .new-icon-kluch{width: 25px;height: 25px;transform: scale(1.65);}
                                            </style>
                                            <g>
                                                <g>
                                                    <path class="st0 new-icon-kluch" d="M25.4,11.5c0-0.4-0.4-0.6-0.8-0.6c-1.1,0-2.2-0.7-2.6-1.7c-0.4-1.1-0.2-2.3,0.7-3.1c0.3-0.2,0.3-0.7,0.1-0.9
                                                    c-0.6-0.7-1.3-1.4-2-2c-0.3-0.2-0.7-0.2-1,0.1c-0.7,0.8-2.1,1.1-3.1,0.7c-1.1-0.5-1.8-1.5-1.7-2.7c0-0.4-0.2-0.7-0.6-0.7
                                                    c-0.9-0.1-1.9-0.1-2.8,0c-0.4,0-0.6,0.4-0.6,0.7c0,1.2-0.6,2.2-1.7,2.7C8.2,4.3,6.9,4,6.2,3.2C5.9,2.9,5.5,2.9,5.2,3.1
                                                    c-0.7,0.6-1.4,1.3-2,2C3,5.4,3,5.8,3.3,6c0.9,0.8,1.2,2,0.7,3.1c-0.4,1-1.5,1.7-2.7,1.7c-0.4,0-0.7,0.3-0.7,0.6
                                                    c-0.1,0.9-0.1,1.9,0,2.8c0,0.4,0.5,0.6,0.8,0.6c1.1,0,2.1,0.6,2.6,1.7c0.4,1.1,0.2,2.3-0.7,3.1c-0.3,0.2-0.3,0.7-0.1,0.9
                                                    c0.6,0.7,1.2,1.4,2,2c0.3,0.2,0.7,0.2,1-0.1c0.7-0.8,2.1-1.1,3.1-0.7c1.1,0.5,1.8,1.5,1.7,2.7c0,0.4,0.2,0.7,0.6,0.7
                                                    c0.5,0.1,1,0.1,1.4,0.1c0.5,0,0.9,0,1.4-0.1c0.4,0,0.6-0.4,0.6-0.7c0-1.2,0.6-2.2,1.7-2.7c1-0.4,2.4-0.1,3.1,0.7
                                                    c0.2,0.3,0.7,0.3,0.9,0.1c0.7-0.6,1.4-1.3,2-2c0.2-0.3,0.2-0.7-0.1-1c-0.9-0.8-1.2-2-0.7-3.1c0.4-1,1.5-1.7,2.6-1.7l0.2,0
                                                    c0.4,0,0.7-0.2,0.7-0.6C25.5,13.4,25.5,12.5,25.4,11.5z M12.9,20.1c-4,0-7.2-3.2-7.2-7.2c0-4,3.2-7.2,7.2-7.2c4,0,7.2,3.2,7.2,7.2
                                                    c0,1.4-0.4,2.6-1,3.7L16,13.5c0.2-0.5,0.3-1.1,0.3-1.7c0-1.2-0.5-2.3-1.3-3.1c-0.8-0.8-1.9-1.3-3.1-1.3c-0.4,0-0.8,0.1-1.2,0.2
                                                    c-0.2,0-0.3,0.2-0.3,0.3c0,0.2,0,0.3,0.1,0.5c0,0,1.6,1.6,2.1,2.1c0.1,0.1,0.1,0.2,0,0.2l0,0c-0.1,0.6-0.2,1.3-0.2,1.5c0,0,0,0,0,0
                                                    c0,0,0,0,0,0c-0.3,0.1-1,0.2-1.5,0.2l0,0l0,0c0,0,0,0,0,0c-0.1,0-0.2,0-0.2-0.1c-0.5-0.5-2-2-2-2c-0.1-0.1-0.3-0.2-0.4-0.2
                                                    c-0.2,0-0.4,0.2-0.5,0.4c-0.4,1.5,0,3.2,1.1,4.3c0.8,0.8,1.9,1.3,3.1,1.3c0.6,0,1.2-0.1,1.7-0.3l3.2,3.2
                                                    C15.7,19.7,14.4,20.1,12.9,20.1z"/>
                                                </g>
                                            </g>
                                            </svg>
                                        </span>
                                        <span>Ремонт и обслуживание компьютера</span>
                                    </a></li>
                                <li><a href="#">
                                        <span>
                                            <svg version="1.1" id="cls-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25" height="25"
                                                 viewBox="0 0 37.6 41.7" style="enable-background:new 0 0 37.6 41.7;" xml:space="preserve">
                                            <style type="text/css">
                                                .navigation #cls-2 .st0{fill:#C6C6C6;}
                                                .new-icon-inet{width: 25px;height: 25px;transform: scale(1.65) translateY(18%);}
                                            </style>
                                            <g>
                                                <g>
                                                    <path class="st0 new-icon-inet" d="M18.8,0.5H2.4c-1,0-1.8,0.8-1.8,1.8v16.5c0,1,0.8,1.8,1.8,1.8h16.5c1,0,1.8-0.8,1.8-1.8V2.3
    C20.6,1.3,19.8,0.5,18.8,0.5z M16.7,16.3c0,0.6-0.5,1-1.1,1h-2v-5.7h-1v5.7h-1.5v-5.7h-1v5.7H8.6v-5.7h-1v5.7H5.7
    c-0.6,0-1.1-0.5-1.1-1V7.6c0-0.6,0.5-1,1.1-1h1.4V4.4c0-0.3,0.3-0.6,0.7-0.6h5.6c0.4,0,0.6,0.3,0.6,0.6v2.2h1.5c0.6,0,1.1,0.4,1.1,1
    V16.3z"/>
                                                </g>
                                            </g>
                                            </svg>
                                            <!-- <img src="images/heade-item-2.png" alt="">
                                            <img src="images/heade-item-hover-2.png" alt=""> -->
                                        </span>
                                        <span>Настройка доступа в интернет</span>
                                    </a></li>
                                <li><a href="#">
                                        <span>
                                            <svg version="1.1" id="cls-5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 33.9 36.3" style="enable-background:new 0 0 33.9 36.3;" xml:space="preserve" height="25" width="25">
                                            <style type="text/css">
                                                #cls-5 .st0{fill:#C6C6C6;}
                                            </style>
                                            <path class="st0" d="M30.6,12.9H30c-0.7-5.6-6.4-10-13.3-10c-6.9,0-12.6,4.4-13.3,10c-1.6,0.1-2.8,1.4-2.8,3v8c0,1.7,1.4,3,3,3h3.5
                                                c1.7,0,3-1.4,3-3v-8c0-1.7-1.4-3-3-3H5.5C6.2,8.5,11,5,16.7,5c5.7,0,10.5,3.5,11.2,7.9h-0.8c-1.7,0-3,1.4-3,3v8c0,1.7,1.4,3,3,3h0.7
                                                c-0.2,1.4-0.7,2.5-1.5,3.3c-1.8,1.7-4.7,1.6-4.8,1.6h-1.1c0-1.7-1.4-3-3-3h-2.4c-1.7,0-3,1.4-3,3v1c0,1.7,1.4,3,3,3h2.4
                                                c1.3,0,2.4-0.8,2.8-2l1.2,0c0,0,0.1,0,0.3,0c0.9,0,3.8-0.2,5.9-2.2c1.3-1.2,2-2.8,2.2-4.8h0.7c1.7,0,3-1.4,3-3v-8
                                                C33.6,14.3,32.2,12.9,30.6,12.9z"/>
                                            </svg>

                                           <!--  <img src="images/heade-item-5.png" alt="">
                                            <img src="images/heade-item-hover-5.png" alt=""> -->
                                        </span>
                                        <span>Консультации онлайн</span>
                                    </a></li>
                                <li><a href="#">
                                        <span>
                                            <svg version="1.1" id="cls-4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 35.4 34.1" style="enable-background:new 0 0 35.4 34.1;" xml:space="preserve" height="25" width="25">
                                            <style type="text/css">
                                                #cls-4 .st0{fill:#C6C6C6;}
                                            </style>
                                            <g>
                                                <g>
                                                    <path class="st0" d="M9.3,27.4v6.7h16.8v-6.7v-4.5H9.3V27.4z M11.4,25.1H24v2.2H11.4V25.1z M11.4,29.6H24v2.2H11.4V29.6z
                                                         M26.1,7.3V0.6H9.3v6.7v4.5h16.8V7.3z M30.3,7.3h-2.1v4.5V14H7.2v-2.2V7.3H5.1c-2.1,0-4.2,2.2-4.2,4.5v11.2c0,2.2,2.1,4.5,4.2,4.5
                                                        h2.1v-4.5v-2.2h20.9v2.2v4.5h2.1c2.1,0,4.2-2.2,4.2-4.5V11.7C34.4,9.5,32.4,7.3,30.3,7.3z"/>
                                                </g>
                                            </g>
                                            </svg>

                                            <!-- <img src="images/heade-item-4.png" alt="">
                                            <img src="images/heade-item-hover-4.png" alt=""> -->
                                        </span>
                                        <span>Подключение переферийных устройств</span>
                                    </a></li>

                                    <li><a href="#">
                                        <span>
                                            <svg version="1.1" id="cls-3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 35.5 41.3" style="enable-background:new 0 0 35.5 41.3;" xml:space="preserve" width="25" height="25">
                                            <style type="text/css">
                                                #cls-3 .st0{fill:#C6C6C6;}
                                            </style>
                                            <g>
                                                <g>
                                                    <path class="st0" d="M8.5,20.7c0-0.7-0.6-1.2-1.2-1.2C6.6,19.5,6,20,6,20.7v0.6h2.5V20.7z M32.3,21.3c0.1-0.2,0.2-0.4,0.2-0.6
                                                        c0-0.7-0.6-1.2-1.2-1.2h-1.1V7.1c0-0.7-0.6-1.2-1.2-1.2s-1.2,0.5-1.2,1.2v12.4h-1.1c-0.7,0-1.2,0.5-1.2,1.2c0,0.2,0.1,0.4,0.2,0.6
                                                        H32.3z M3.9,20.7c0-0.7-0.6-1.2-1.2-1.2c-0.7,0-1.2,0.5-1.2,1.2v0.6h2.5V20.7z M21.8,14c0.5-0.4,0.5-1.2,0-1.6
                                                        c-2.9-2.8-7.5-2.8-10.4,0c-0.5,0.5-0.5,1.2,0,1.6c0.2,0.2,0.5,0.3,0.8,0.3s0.6-0.1,0.8-0.3c2-1.9,5.1-1.9,7.1,0
                                                        C20.6,14.5,21.3,14.5,21.8,14z M13.8,15.9c-0.5,0.5-0.5,1.2,0,1.6c0.5,0.4,1.2,0.4,1.7,0c0.3-0.3,0.7-0.5,1.1-0.5
                                                        c0.4,0,0.8,0.2,1.1,0.5c0.2,0.2,0.5,0.3,0.8,0.3c0.3,0,0.6-0.1,0.8-0.3c0.5-0.5,0.5-1.2,0-1.6c-0.8-0.7-1.7-1.1-2.8-1.1
                                                        C15.5,14.8,14.5,15.2,13.8,15.9z M10.7,10.7c1.6-1.6,3.7-2.4,5.9-2.4c2.2,0,4.4,0.9,5.9,2.4c0.2,0.2,0.5,0.3,0.8,0.3
                                                        c0.3,0,0.6-0.1,0.8-0.3c0.5-0.4,0.5-1.2,0-1.6c-2-2-4.7-3.1-7.6-3.1C13.7,6,11,7.1,9,9.1c-0.5,0.4-0.5,1.2,0,1.6
                                                        C9.5,11.1,10.2,11.1,10.7,10.7z M0,23v13.5c0,2.3,1.9,4.2,4.3,4.2h26.2c2.4,0,4.3-1.9,4.3-4.2V23H0z M8.2,36.2H5.9
                                                        c-0.7,0-1.2-0.5-1.2-1.2s0.6-1.2,1.2-1.2h2.3c0.7,0,1.2,0.5,1.2,1.2S8.9,36.2,8.2,36.2z M15.1,36.2h-2.3c-0.7,0-1.2-0.5-1.2-1.2
                                                        s0.6-1.2,1.2-1.2h2.3c0.7,0,1.2,0.5,1.2,1.2S15.8,36.2,15.1,36.2z M22,36.2h-2.3c-0.7,0-1.2-0.5-1.2-1.2s0.6-1.2,1.2-1.2H22
                                                        c0.7,0,1.2,0.5,1.2,1.2S22.7,36.2,22,36.2z"/>
                                                </g>
                                            </g>
                                            </svg>
                                            <!-- <img src="images/heade-item-3.png" alt="">
                                            <img src="images/heade-item-hover-3.png" alt=""> -->
                                        </span>
                                        <span>Создание домашней сети</span>
                                    </a></li>
                            </ul>
                        </li>
                        <li><a href="#"><span data-hover="Для бизнеса">Для бизнеса  </span></a>
                            <ul>
                                <li><a href="#">
                                        <span>
                                            <svg version="1.1" id="cls-2-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 37.9 36.4" style="enable-background:new 0 0 37.9 36.4;" xml:space="preserve" width="25" height="25">
                                            <style type="text/css">
                                                #cls-2-1 .st0{fill:#C6C6C6;}
                                            </style>
                                            <path class="st0" d="M36.2,15.9c-0.1-0.1-0.2-0.2-0.3-0.2C34.8,8.4,29.1,2.6,21.8,1.5c-0.1-0.1-0.1-0.1-0.2-0.2
                                                c-0.6-0.6-1.3-0.9-2.2-0.9h-0.6c-0.8,0-1.6,0.3-2.2,0.9c-0.1,0.1-0.1,0.1-0.2,0.2C9.2,2.6,3.4,8.4,2.2,15.7C2.2,15.8,2,15.9,2,15.9
                                                c-0.6,0.6-0.9,1.3-0.9,2.1v0.6c0,0.8,0.3,1.5,0.9,2.1C2,20.9,2.1,21,2.2,21c1.1,7.3,6.9,13.1,14.2,14.2c0.1,0.1,0.1,0.1,0.2,0.2
                                                c0.6,0.6,1.3,0.9,2.2,0.9h0.6c0.8,0,1.6-0.3,2.2-0.9c0.1-0.1,0.1-0.1,0.2-0.2C29.1,34.1,34.8,28.3,36,21c0.1-0.1,0.2-0.2,0.3-0.2
                                                c0.6-0.6,0.8-1.3,0.8-2.1V18C37.1,17.3,36.8,16.5,36.2,15.9z M35.2,18v0.6c0,0.6-0.5,1.1-1.1,1.1c0,0,0,0-0.1,0l-2.6-0.2
                                                c-0.7,0-1.2-0.6-1.2-1.3s0.5-1.2,1.2-1.3l2.6-0.2c0,0,0,0,0.1,0C34.8,16.9,35.2,17.4,35.2,18z M20.6,3.4L20.4,6
                                                c0,0.7-0.6,1.2-1.3,1.2c-0.7,0-1.2-0.5-1.3-1.2l-0.2-2.6c0-0.7,0.5-1.2,1.1-1.2h0.7C20.1,2.2,20.6,2.7,20.6,3.4z M7.9,18.4
                                                c0,0.7-0.5,1.2-1.2,1.3l-2.6,0.2c0,0-0.1,0-0.1,0c-0.6,0-1.1-0.5-1.1-1.1V18c0-0.6,0.5-1.1,1.1-1.1c0,0,0.1,0,0.1,0l2.6,0.2
                                                C7.4,17.1,7.9,17.7,7.9,18.4z M18.8,34.5c-0.7,0-1.2-0.5-1.1-1.2l0.2-2.6c0-0.7,0.6-1.2,1.3-1.2c0.7,0,1.2,0.5,1.3,1.2l0.2,2.6
                                                c0,0.7-0.5,1.2-1.1,1.2H18.8z M19.1,25.7c-4,0-7.3-3.3-7.3-7.3c0-4,3.3-7.3,7.3-7.3c4,0,7.3,3.3,7.3,7.3
                                                C26.4,22.4,23.1,25.7,19.1,25.7z"/>
                                            </svg>
                                            <!-- <img src="images/heade-item-1.png" alt="">
                                            <img src="images/heade-item-hover-1.png" alt=""> -->
                                        </span>
                                        <span>Обслуживание IT инфраструктуры</span>
                                    </a>
                                </li>
                                <li><a href="#">
                                        <span>
                                            <svg version="1.1" id="cls-2-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 34.5 33.5" style="enable-background:new 0 0 34.5 33.5;" xml:space="preserve" width="25" height="25">
                                            <style type="text/css">
                                                #cls-2-2 .st0{fill:#C6C6C6;}
                                            </style>
                                            <path class="st0" d="M18.6,4.3l15.9,3.5l-0.7,3L17.9,7.2L18.6,4.3z M28.7,2.2l-6.6-1.5l-0.7,3L28,5.2L28.7,2.2z M14.3,10.7l15.9,3.5
                                                l0.7-3L15,7.7L14.3,10.7z M4.9,32.8l1.5-1.5l1.4,1.4l7.9-3.4l4.9-4.8L17.1,21l1-1l5.1,1.1l0.7-3l-6.8-1.5l-2.2,2.2l-2.4-2.3l1.6-1.6
                                                l12.6,2.8l0.7-3l-14.2-3.2l-2.8,2.8L9,12.9l-4.9,4.8l-3.4,7.8L2,26.9l-1.5,1.5L4.9,32.8L4.9,32.8z"/>
                                            </svg>
                                           <!--  <img src="images/heade-item-1.png" alt="">
                                            <img src="images/heade-item-hover-1.png" alt=""> -->
                                        </span>
                                        <span>Внедрение новых IT систем</span>
                                    </a>
                                </li>
                                <li><a href="#">
                                        <span>
                                            <svg version="1.1" id="cls-2-3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 37.1 36.3" style="enable-background:new 0 0 37.1 36.3;" xml:space="preserve" width="25" height="25">
                                            <style type="text/css">
                                                #cls-2-3 .st0{fill:#C6C6C6;}
                                            </style>
                                            <path class="st0" d="M33,15.3h-0.5v-0.5c0-7.7-6.3-13.9-14-13.9c-7.7,0-14,6.3-14,13.9v0.5H3.9c-1.8,0-3.2,1.4-3.2,3.2v4.7
                                                c0,1.8,1.4,3.2,3.2,3.2h1.8c0.3,0,0.6-0.2,0.8-0.5c2.1,4.2,5.2,7,5.4,7.2c0.1,0.1,0.3,0.1,0.4,0.1c0,0,0,0,0,0
                                                c0.3,0,0.6-0.3,0.6-0.6c0-0.1,0-0.1,0-0.2c0-0.1,0-0.1-0.1-0.3c1.4,1.8,3,2.9,4.2,3.5c0.9,0.5,1.9,0.7,2.8,0.7s2-0.2,2.8-0.7
                                                c1.1-0.6,2.6-1.6,4-3.3c2.6-1,4.6-3.2,5.2-6H33c1.8,0,3.2-1.4,3.2-3.2v-4.7C36.2,16.7,34.8,15.3,33,15.3z M7.1,9.9
                                                C9,5.5,13.4,2.5,18.5,2.5c5.6,0,10.3,3.7,11.9,8.8c-0.7-0.6-1.4-1-2-1.1c-0.5-1.3-1.1-2.1-1.3-2.2c-0.3-0.4-2.9-3.6-8.2-3.6
                                                c-1.8,0-3.8,0.4-5.8,1.2C11.7,6,9.1,7.3,7.1,9.9z M22.1,34.6c-0.7,0.4-1.5,0.6-2.3,0.6c-0.8,0-1.6-0.2-2.3-0.6
                                                c-1.4-0.8-3.5-2.3-5.1-5.2c0-0.1-0.1-0.1-0.1-0.2c-0.2-2.2-0.1-5.1,1.7-6.5c1.4-1.2,3.7-1.7,5.9-2.2c2.8-0.6,5.7-1.3,7.3-3.2
                                                c0.5,0.5,0.9,1.1,1.1,1.8c0.6,2.5-0.2,4.7-0.2,4.7c-0.1,0.2,0,0.5,0.2,0.6c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3-0.1c0,0,0,0,0,0
                                                c-0.4,1.7-0.9,3.4-1.8,4.9c-0.2,0.4-0.5,0.9-0.8,1.2c-0.8,0.4-1.7,0.6-2.6,0.6H23c-0.3-0.9-1.2-1.5-2.2-1.5h-2.3
                                                c-1.3,0-2.4,1.1-2.4,2.4c0,1.3,1.1,2.4,2.4,2.4h2.3c1,0,1.9-0.6,2.2-1.5h0.9c0.3,0,0.5,0,0.8,0C23.7,33.6,22.8,34.2,22.1,34.6z
                                                 M28.8,28.9c0.7-1.6,1.2-3.4,1.5-5.2v1C30.3,26.3,29.8,27.8,28.8,28.9z"/>
                                            </svg>
                                            <!-- <img src="images/heade-item-1.png" alt="">
                                            <img src="images/heade-item-hover-1.png" alt=""> -->
                                        </span>
                                        <span>Консалтинг и аудит инфраструктуры</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#"><span data-hover="О компании">О компании</span></a></li>
                        <li><a href="#"><span data-hover="Контакты">Контакты</span></a></li>
                    </ul>
                </nav>
            </div>
            <div class="header-tel">
                <a href="#" class="button-line"><span>Заказать звонок </span></a>
                <a href="callto:+74953000880">+7 (495) 300-08-80</a>
            </div>
        </div>
        <div class="header-mobile">
            <div class="header-mobile-button">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="header-mobile-logo">
                <a href="#">
                    <svg version="1.1" id="mini_logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 128.2 49.9" style="enable-background:new 0 0 128.2 49.9;" xml:space="preserve">
                    <style type="text/css">
                        #mini_logo .st0{fill:#FFFFFF;}
                        #mini_logo .st1{fill:#9CD0DF;}
                    </style>
                    <rect x="1.6" y="22.6" class="st0" width="10.8" height="16.6"/>
                    <polygon class="st0" points="43.3,12.2 43.3,22.5 33.2,22.5 33.2,39.2 22.4,39.2 22.4,22.5 12.3,22.5 12.3,12.2 "/>
                    <rect x="1.6" y="1.4" class="st0" width="10.8" height="10.8"/>
                    <rect x="33.2" y="39.2" class="st1" width="10.8" height="10.8"/>
                    <rect x="55.3" y="22.8" class="st0" width="6.5" height="16.2"/>
                    <path class="st1" d="M82,12.4c2.4,0,4.5,0.3,6.2,1c1.8,0.7,3.2,1.6,4.3,2.8c1.1,1.2,2,2.6,2.5,4.2c0.6,1.6,0.8,3.4,0.8,5.3
                        c0,2-0.3,3.7-0.8,5.4c-0.6,1.6-1.4,3-2.5,4.2c-1.1,1.2-2.6,2.1-4.3,2.8c-1.7,0.7-3.8,1-6.2,1H71.4V12.4H82z M88.7,25.8
                        c0-2.5-0.6-4.3-1.8-5.5c-1.2-1.2-2.8-1.7-4.9-1.7h-3.6V33H82c2.1,0,3.8-0.6,4.9-1.7C88.1,30.1,88.7,28.3,88.7,25.8"/>
                    <path class="st1" d="M98.2,25.8c0-1.9,0.3-3.6,0.9-5.3c0.6-1.7,1.5-3.2,2.7-4.4c1.2-1.3,2.7-2.3,4.5-3c1.8-0.7,3.9-1.1,6.2-1.1
                        c2.4,0,4.5,0.4,6.2,1.1c1.8,0.7,3.3,1.8,4.5,3c1.2,1.3,2.1,2.8,2.7,4.4c0.6,1.7,0.9,3.4,0.9,5.3c0,1.9-0.3,3.6-0.9,5.3
                        c-0.6,1.7-1.5,3.2-2.7,4.4c-1.2,1.3-2.7,2.3-4.5,3c-1.8,0.7-3.9,1.1-6.2,1.1c-2.4,0-4.5-0.4-6.2-1.1c-1.8-0.7-3.3-1.8-4.5-3
                        c-1.2-1.3-2.1-2.8-2.7-4.4C98.5,29.4,98.2,27.6,98.2,25.8 M119.5,25.8c0-1.1-0.2-2-0.5-2.9c-0.3-0.9-0.7-1.7-1.3-2.4
                        c-0.6-0.7-1.3-1.2-2.2-1.6c-0.9-0.4-1.9-0.6-3-0.6c-1.1,0-2.2,0.2-3,0.6c-0.9,0.4-1.6,0.9-2.2,1.6c-0.6,0.7-1,1.5-1.3,2.4
                        c-0.3,0.9-0.5,1.9-0.5,2.9c0,1.1,0.2,2,0.5,2.9c0.3,0.9,0.7,1.7,1.3,2.4c0.6,0.7,1.3,1.2,2.2,1.6c0.9,0.4,1.9,0.6,3,0.6
                        c1.1,0,2.2-0.2,3-0.6c0.9-0.4,1.6-0.9,2.2-1.6c0.6-0.7,1-1.5,1.3-2.4C119.3,27.8,119.5,26.8,119.5,25.8"/>
                    <rect x="55.3" y="12.3" class="st0" width="6.5" height="6.4"/>
                    </svg>
                </a>
            </div>
            <div class="header-mobile-tell">
                <div class="header-mobile-tell-img"><img src="images/header-mobile-tell.png" alt=""></div>
            </div>
             <div class="header-mobile-tell-modal">
                 <div class="header-mobile-tell-modal-row">
                     <a href="callto:+74953000880"><b>+7 (495) 300 08 80</b></a>
                 </div>
                 <div class="header-mobile-tell-modal-row">
                    <a href="#" class="button"><span>Заказать звонок   </span></a>
                 </div>
             </div>
             <div class="header-mobile-navigation">
                 <ul>
                    <li><a href="#"><span>О компании</span></a></li>
                    <li><a href="#"><span>Контакты</span></a></li>
                    <li>
                        <a href="#"><span>Для дома</span></a>
                        <ul>
                            <li>
                                <a href="#">
                                    <span>Ремонт и обслуживание компьютера</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Настройка доступа в интернет</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Создание домашней сети</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Подключение переферийных устройств</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Консультации онлайн</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span>Для бизнеса  </span></a>
                        <ul>
                            <li>
                                <a href="#">
                                    <span>Обслуживание IT инфраструктуры</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Внедрение новых IT систем</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Консалтинг и аудит инфраструктуры</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
             </div>
             <div class="header-mobile-768-logo">
                 <a href="#">
                     <svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="250px" height="70px"
                          viewBox="0 0 252 73.5" style="enable-background:new 0 0 252 73.5;" xml:space="preserve">
                     <style type="text/css">
                         #logo .st0{fill:#FFFFFF;}
                         #logo .st1{fill:#9CD0DF;}
                     </style>
                     <g>
                         <rect x="1.4" y="32.2" class="st0" width="15.4" height="23.7"/>
                         <polygon class="st0" points="61.1,17.4 61.1,32.1 46.6,32.1 46.6,56 31.2,56 31.2,32.1 16.8,32.1 16.8,17.4    "/>
                         <rect x="1.4" y="2" class="st0" width="15.4" height="15.4"/>
                         <rect x="46.6" y="56" class="st1" width="15.4" height="15.4"/>
                         <rect x="76.1" y="29.5" class="st0" width="7.4" height="18.6"/>
                         <path class="st1" d="M106.6,17.6c2.7,0,5.1,0.4,7.1,1.1c2,0.8,3.7,1.8,5,3.2c1.3,1.3,2.3,3,2.9,4.8c0.6,1.9,1,3.9,1,6.1
                             c0,2.2-0.3,4.3-1,6.1c-0.6,1.9-1.6,3.5-2.9,4.8c-1.3,1.3-3,2.4-5,3.2c-2,0.8-4.4,1.1-7.1,1.1H94.5V17.6H106.6z M114.3,32.8
                             c0-2.9-0.7-5-2-6.3c-1.3-1.3-3.2-2-5.7-2h-4.1v16.5h4.1c2.4,0,4.3-0.7,5.7-2C113.6,37.8,114.3,35.7,114.3,32.8"/>
                         <path class="st1" d="M125.1,32.8c0-2.1,0.3-4.1,1-6c0.7-1.9,1.7-3.6,3.1-5.1c1.4-1.5,3.1-2.6,5.1-3.5c2-0.9,4.4-1.3,7.1-1.3
                             c2.7,0,5.1,0.4,7.1,1.3c2,0.9,3.7,2,5.1,3.5c1.4,1.5,2.4,3.2,3.1,5.1c0.7,1.9,1,3.9,1,6c0,2.1-0.3,4.1-1,6
                             c-0.7,1.9-1.7,3.6-3.1,5.1c-1.4,1.5-3.1,2.6-5.1,3.5c-2,0.9-4.4,1.3-7.1,1.3c-2.7,0-5.1-0.4-7.1-1.3c-2-0.9-3.7-2-5.1-3.5
                             c-1.4-1.5-2.4-3.2-3.1-5.1C125.5,37,125.1,34.9,125.1,32.8 M149.5,32.8c0-1.2-0.2-2.3-0.5-3.4c-0.3-1-0.9-1.9-1.5-2.7
                             c-0.7-0.8-1.5-1.4-2.5-1.8c-1-0.4-2.2-0.6-3.5-0.6c-1.3,0-2.5,0.2-3.5,0.6c-1,0.4-1.9,1-2.5,1.8c-0.7,0.8-1.2,1.7-1.5,2.7
                             c-0.3,1-0.5,2.2-0.5,3.4c0,1.2,0.2,2.3,0.5,3.4c0.3,1,0.9,1.9,1.5,2.7c0.7,0.8,1.5,1.4,2.5,1.8c1,0.4,2.2,0.6,3.5,0.6
                             c1.3,0,2.5-0.2,3.5-0.6c1-0.4,1.9-1,2.5-1.8c0.7-0.8,1.2-1.7,1.5-2.7C149.3,35.2,149.5,34,149.5,32.8"/>
                         <polygon class="st0" points="86.3,56.3 86.3,59.8 82.1,59.8 82.1,71.3 78.1,71.3 78.1,59.8 73.8,59.8 73.8,56.3    "/>
                         <polygon class="st0" points="99.7,56.3 99.7,59.7 92.8,59.7 92.8,62 99.1,62 99.1,65.5 92.8,65.5 92.8,67.9 99.8,67.9 99.8,71.3
                             88.9,71.3 88.9,56.3     "/>
                         <path class="st0" d="M102.3,64c0-1.4,0.2-2.6,0.7-3.7c0.5-1,1.1-1.9,1.9-2.5c0.8-0.7,1.6-1.1,2.6-1.4c1-0.3,2-0.5,3-0.5
                             c0.8,0,1.5,0.1,2.3,0.2c0.7,0.2,1.4,0.4,2.1,0.7v3.8c-0.5-0.4-1-0.7-1.7-0.9c-0.7-0.2-1.3-0.3-2-0.3c-0.6,0-1.2,0.1-1.8,0.3
                             c-0.6,0.2-1.1,0.4-1.5,0.8c-0.4,0.4-0.8,0.8-1.1,1.4c-0.3,0.6-0.4,1.3-0.4,2.1c0,0.7,0.1,1.4,0.4,1.9c0.3,0.5,0.6,0.9,1.1,1.3
                             c0.4,0.3,0.9,0.6,1.5,0.7c0.6,0.2,1.1,0.2,1.7,0.2c0.8,0,1.5-0.1,2.2-0.3c0.7-0.2,1.2-0.6,1.7-1v3.9c-1.3,0.6-2.8,0.9-4.4,0.9
                             c-1,0-2-0.1-3-0.4c-1-0.3-1.9-0.7-2.6-1.4c-0.8-0.6-1.4-1.4-1.9-2.4C102.5,66.5,102.3,65.4,102.3,64"/>
                         <polygon class="st0" points="131.9,56.3 131.9,71.3 128,71.3 128,65.6 122.4,65.6 122.4,71.3 118.4,71.3 118.4,56.3 122.4,56.3
                             122.4,62.1 128,62.1 128,56.3    "/>
                         <path class="st0" d="M135.6,71.3V56.3h3.8l5.9,8.6c0-0.4-0.1-0.8-0.1-1.2c0-0.4,0-0.9,0-1.3v-6.2h4v15.1h-3.8l-5.9-8.6
                             c0,0.4,0.1,0.8,0.1,1.2c0,0.4,0,0.9,0,1.3v6.2H135.6z"/>
                         <path class="st0" d="M151.6,63.8c0-1,0.2-2,0.5-3c0.3-0.9,0.8-1.8,1.5-2.5c0.7-0.7,1.5-1.3,2.5-1.7c1-0.4,2.2-0.6,3.5-0.6
                             c1.3,0,2.5,0.2,3.5,0.6c1,0.4,1.8,1,2.5,1.7c0.7,0.7,1.2,1.6,1.5,2.5c0.3,0.9,0.5,1.9,0.5,3c0,1-0.2,2-0.5,3
                             c-0.3,0.9-0.8,1.8-1.5,2.5c-0.7,0.7-1.5,1.3-2.5,1.7c-1,0.4-2.2,0.6-3.5,0.6c-1.3,0-2.5-0.2-3.5-0.6c-1-0.4-1.8-1-2.5-1.7
                             c-0.7-0.7-1.2-1.6-1.5-2.5C151.8,65.9,151.6,64.9,151.6,63.8 M163.7,63.8c0-0.6-0.1-1.2-0.3-1.7c-0.2-0.5-0.4-1-0.8-1.3
                             c-0.3-0.4-0.7-0.7-1.2-0.9c-0.5-0.2-1.1-0.3-1.7-0.3s-1.2,0.1-1.7,0.3c-0.5,0.2-0.9,0.5-1.2,0.9c-0.3,0.4-0.6,0.8-0.8,1.3
                             c-0.2,0.5-0.3,1.1-0.3,1.7c0,0.6,0.1,1.2,0.3,1.7c0.2,0.5,0.4,1,0.8,1.3c0.3,0.4,0.7,0.7,1.2,0.9c0.5,0.2,1.1,0.3,1.7,0.3
                             s1.2-0.1,1.7-0.3c0.5-0.2,0.9-0.5,1.2-0.9c0.3-0.4,0.6-0.8,0.8-1.3C163.6,65,163.7,64.4,163.7,63.8"/>
                         <polygon class="st0" points="174.3,56.3 174.3,67.8 181.1,67.8 181.1,71.3 170.3,71.3 170.3,56.3  "/>
                         <path class="st0" d="M182.1,63.8c0-1,0.2-2,0.5-3c0.3-0.9,0.8-1.8,1.5-2.5c0.7-0.7,1.5-1.3,2.5-1.7c1-0.4,2.2-0.6,3.5-0.6
                             c1.3,0,2.5,0.2,3.5,0.6c1,0.4,1.8,1,2.5,1.7c0.7,0.7,1.2,1.6,1.5,2.5c0.3,0.9,0.5,1.9,0.5,3c0,1-0.2,2-0.5,3
                             c-0.3,0.9-0.8,1.8-1.5,2.5c-0.7,0.7-1.5,1.3-2.5,1.7c-1,0.4-2.2,0.6-3.5,0.6c-1.3,0-2.5-0.2-3.5-0.6c-1-0.4-1.8-1-2.5-1.7
                             c-0.7-0.7-1.2-1.6-1.5-2.5C182.2,65.9,182.1,64.9,182.1,63.8 M194.1,63.8c0-0.6-0.1-1.2-0.3-1.7c-0.2-0.5-0.4-1-0.8-1.3
                             c-0.3-0.4-0.7-0.7-1.2-0.9c-0.5-0.2-1.1-0.3-1.7-0.3c-0.6,0-1.2,0.1-1.7,0.3c-0.5,0.2-0.9,0.5-1.2,0.9c-0.3,0.4-0.6,0.8-0.8,1.3
                             c-0.2,0.5-0.3,1.1-0.3,1.7c0,0.6,0.1,1.2,0.3,1.7c0.2,0.5,0.4,1,0.8,1.3c0.3,0.4,0.7,0.7,1.2,0.9c0.5,0.2,1.1,0.3,1.7,0.3
                             c0.6,0,1.2-0.1,1.7-0.3c0.5-0.2,0.9-0.5,1.2-0.9c0.3-0.4,0.6-0.8,0.8-1.3C194,65,194.1,64.4,194.1,63.8"/>
                         <path class="st0" d="M199.5,63.8c0-1.4,0.2-2.6,0.7-3.6c0.5-1,1.1-1.8,1.9-2.4c0.8-0.6,1.7-1.1,2.7-1.4c1-0.3,2-0.4,3.1-0.4
                             c0.8,0,1.6,0.1,2.4,0.2c0.8,0.2,1.5,0.4,2.3,0.7v3.8c-0.6-0.4-1.2-0.7-1.9-0.9c-0.7-0.2-1.5-0.3-2.2-0.3c-0.6,0-1.2,0.1-1.8,0.2
                             c-0.6,0.2-1.1,0.4-1.5,0.8c-0.4,0.3-0.8,0.8-1.1,1.3c-0.3,0.6-0.4,1.2-0.4,2c0,0.9,0.2,1.7,0.5,2.3c0.3,0.6,0.7,1,1.1,1.3
                             c0.5,0.3,0.9,0.5,1.5,0.7c0.5,0.1,1,0.2,1.4,0.2c0.4,0,0.7,0,1-0.1v-5.1h3.8v7.6c-0.8,0.3-1.6,0.6-2.4,0.8
                             c-0.8,0.2-1.7,0.3-2.6,0.3c-1.1,0-2.1-0.2-3.1-0.5c-1-0.3-1.9-0.8-2.7-1.4c-0.8-0.6-1.4-1.5-1.9-2.4
                             C199.8,66.4,199.5,65.2,199.5,63.8"/>
                         <rect x="216.2" y="56.3" class="st0" width="4" height="15.1"/>
                         <polygon class="st0" points="235.1,56.3 235.1,59.7 228.3,59.7 228.3,62 234.5,62 234.5,65.5 228.3,65.5 228.3,67.9 235.2,67.9
                             235.2,71.3 224.3,71.3 224.3,56.3    "/>
                         <path class="st0" d="M238.3,60.4c0-0.7,0.2-1.4,0.5-2c0.3-0.6,0.7-1,1.2-1.4c0.5-0.4,1.1-0.6,1.8-0.8c0.7-0.2,1.4-0.3,2.2-0.3
                             c0.9,0,1.9,0.1,2.7,0.3c0.9,0.2,1.7,0.5,2.3,0.9v3.7c-0.6-0.5-1.4-0.8-2.2-1.1c-0.8-0.2-1.7-0.3-2.5-0.3c-0.7,0-1.2,0.1-1.5,0.3
                             c-0.3,0.2-0.4,0.4-0.4,0.7c0,0.3,0.2,0.6,0.6,0.8c0.4,0.2,0.9,0.4,1.5,0.6c0.6,0.2,1.2,0.4,1.9,0.7c0.7,0.2,1.3,0.5,1.9,0.9
                             c0.6,0.4,1.1,0.9,1.5,1.5c0.4,0.6,0.6,1.3,0.6,2.2c0,0.9-0.2,1.6-0.5,2.2c-0.3,0.6-0.7,1.1-1.3,1.4c-0.6,0.4-1.2,0.6-1.9,0.7
                             c-0.7,0.1-1.5,0.2-2.3,0.2c-1.1,0-2.1-0.1-3.1-0.4c-1-0.2-1.9-0.6-2.7-1v-3.8c0.9,0.6,1.8,1.1,2.8,1.3c0.9,0.3,1.9,0.4,2.7,0.4
                             c0.8,0,1.4-0.1,1.7-0.2c0.4-0.2,0.5-0.4,0.5-0.8c0-0.4-0.2-0.7-0.6-0.9c-0.4-0.2-0.9-0.4-1.5-0.7c-0.6-0.2-1.2-0.4-1.9-0.7
                             c-0.7-0.2-1.3-0.5-1.9-0.9c-0.6-0.4-1.1-0.9-1.5-1.5C238.5,62,238.3,61.3,238.3,60.4"/>
                         <rect x="76.1" y="17.4" class="st0" width="7.4" height="7.3"/>
                     </g>
                     </svg>
                 </a>
             </div>
             <div class="header-mobile-768-tel header-tel">
                 <a href="callto:+74953000880">+7 (495) 300-08-80</a>
             </div>
        </div>
    </div>
</header>
<!-- /HEADER -->

