<div class="hidden-block">

    <div id="call_success">
        <div class="call-success">
             <div class="call_success">
                 <div class="call-title">Спасибо за заявку!</div>
                 <div class="call-subtitle">Мы свяжемся с Вами в ближайшее время</div>
             </div>
        </div>
    </div>

    <div id="call-popup">
        <form action="ajax.php" class="contact-form">

            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input type="text" name="contact_name" required="required" placeholder="Как Вас зовут">
                        </div>
                    </div>
                </div>
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input type="tel" name="contact_tel" value="" required="required" placeholder="Номер телефона" class="tel-mask">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form-row submit-form-row cfix">
                <div class="contact-form-item">
                    <button type="submit" class="contact-submit button">
                        <span>ПОЗВОНИТЕ МНЕ</span>
                    </button>
                </div>
            </div>
        </form>
    </div>


    <div id="call-popup2">
        <form action="ajax.php" class="contact-form2">
            <div class="title">
                <h3>ВЫЗВАТЬ МАСТЕРА</h3>
            </div>
            <div class="form_row cfix">
                <div class="form_input half">
                    <input type="text" name="contact_name" required="required" placeholder="Имя">
                </div>
                <div class="form_input half">
                    <input type="tel" name="contact_tel" value="" required="required" placeholder="Ваш телефон" class="tel-mask">
                </div>
            </div>
            <div class="form_row">
                <div class="form_input">
                    <textarea required="required" placeholder="Опишите Вашу проблему"></textarea>
                </div>
            </div>
            <div class="form_row">
                    <button type="submit" class="contact-submit button">
                        <span>ОТПРАВИТЬ</span>
                    </button>
            </div>
        </form>
    </div>
    <div id="call-popup3">
        <form action="ajax.php" class="contact-form2">
            <div class="title">
                <h3>ОСТАВИТЬ СООБЩЕНИЕ</h3>
            </div>
            <div class="form_row cfix">
                <div class="form_input half">
                    <input type="text" name="contact_name" required="required" placeholder="Имя">
                </div>
                <div class="form_input half">
                    <input type="tel" name="contact_tel" value="" required="required" placeholder="Ваш телефон" class="tel-mask">
                </div>
            </div>
            <div class="form_row">
                <div class="form_input">
                    <textarea required="required" placeholder="Опишите Вашу проблему"></textarea>
                </div>
            </div>
            <div class="form_row">
                <button type="submit" class="contact-submit button">
                    <span>ОТПРАВИТЬ</span>
                </button>
            </div>
        </form>
    </div>
    
    <div id="call-popup4">
        <div class="serteficate-image-wrapper">
            <img src="images/serteficate-big.jpg">
        </div>
    </div>


</div>