<div class="hidden-block">

    <div id="call_success">
        <div class="call-success">
             <div class="call_success">
                 <div class="call-title">Спасибо за заявку!</div>
                 <div class="call-subtitle">Мы свяжемся с Вами в ближайшее время</div>
             </div>
        </div>
    </div>

    <div id="call-popup">
        <form action="ajax.php" class="contact-form">

            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input type="text" name="contact_name" required="required" placeholder="Как Вас зовут">
                        </div>
                    </div>
                </div>
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input type="tel" name="contact_tel" value="" required="required" placeholder="Номер телефона" class="tel-mask">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form-row submit-form-row cfix">
                <div class="contact-form-item">
                    <button type="submit" class="contact-submit button">
                        <span>ПОЗВОНИТЕ МНЕ</span>
                    </button>
                </div>
            </div>
        </form>
    </div>


</div>