<section class="interest_stat" id="interest_stat">
    <div class="mbox">
        <div class="title">
            <h2>ИНТЕРЕСНЫЕ СТАТЬИ</h2>
        </div>
        
        <div class="conteiner desktop-cd cfix">
            <div class="item">
                <a href="#" class="contein">
                    <div class="conv">
                        <img src="images/tr-1.jpg" alt="">
                    </div>
                    <div class="titl">Как ухаживать за домашним компьютером</div>
                </a>
            </div>
            <div class="item">
                <a href="#" class="contein">
                    <div class="conv">
                        <img src="images/tr-2.jpg" alt="">
                    </div>
                    <div class="titl">Настройка профессиональных внутриофисных сетей</div>
                </a>
            </div>
            <div class="item">
                <a href="#" class="contein">
                    <div class="conv">
                        <img src="images/tr-3.jpg" alt="">
                    </div>
                    <div class="titl">Как ухаживать за домашним компьютером</div>
                </a>
            </div>          
            <div class="item">
                <a href="#" class="contein">
                    <div class="conv">
                        <img src="images/tr-4.jpg" alt="">
                    </div>
                    <div class="titl">Замена куллеров охлаждения процессора</div>
                </a>
            </div>
        </div>
        <div class="conteiner mobile-sd cfix">
            <div class="item">
                <a href="#" class="contein">
                    <div class="conv">
                        <img src="images/tr-1.jpg" alt="">
                    </div>
                    <div class="titl">Как ухаживать за домашним компьютером</div>
                </a>
            </div>
            <div class="item">
                <a href="#" class="contein">
                    <div class="conv">
                        <img src="images/tr-2.jpg" alt="">
                    </div>
                    <div class="titl">Настройка профессиональных внутриофисных сетей</div>
                </a>
            </div>
            <div class="item">
                <a href="#" class="contein">
                    <div class="conv">
                        <img src="images/tr-3.jpg" alt="">
                    </div>
                    <div class="titl">Как ухаживать за домашним компьютером</div>
                </a>
            </div>          
            <div class="item">
                <a href="#" class="contein">
                    <div class="conv">
                        <img src="images/tr-4.jpg" alt="">
                    </div>
                    <div class="titl">Замена куллеров охлаждения процессора</div>
                </a>
            </div>
        </div>
    </div>
</section>