<div class="fixing-computers it-service-partial">
    
    <div class="fixing-computers-top">
        <div class="fixing-computers-mobile-img">
            <img src="images/fixing-computers-img.jpg" alt="">
        </div>
        <div class="fixing-computers-title fixing-computers-text">
            <h3>Что такое абонентское обслуживание IT инфраструктуры?</h3>
            <p>Абонентское обслуживание IT инфраструктуры (или IT-аутсорсинг) - это современная альтернатива штатному отделу информационных технологий (IT) или системному администратору. В большинстве случаев нет необходимости в содержании собственного IT отдела для осуществления поддержки IT инфраструктуры организации. Сейчас многие Компании склоняются к тенденции привлечения специалистов сторонних аутсорсинговых организаций. IT аутсорсинг позволяет вывести за штат подразделение, выполняющее вспомогательную роль и сосредоточиться на основных бизнес-процессах, при этом экономя время и средства. <br> 
            <br>
            IT-инфраструктура Компании – это система, состоящая из частей, обеспечивающих выполнение тех или иных задач. В состав IT инфраструктуры входят следующие основные элементы: компьютеры (стационарные и переносные), сервера, программное обеспечение, оргтехника, сети передачи информации, сетевое оборудование, телефонное оборудование.</p>
            <br>
            <strong>Поддержка в рамках абонентского обслуживания может осуществляться комплексно или по отдельности по каждому из направлений:</strong>

            <ul>
                <li>бонентское обслуживание рабочих станций (компьютеров);</li>
                <li>абонентское обслуживание серверов;</li>
                <li>обслуживание сетевого оборудования и поддержка компьютерной сети;</li>
                <li>обслуживание и ремонт оргтехники (принтеры, сканеры, МФУ);</li>
                <li>поддержка специализированного программного обеспечения (бухгалтерского, информационных систем, баз данных, электронного документооборота, отчётного ПО и др.) 
                обслуживание системы телефонии;</li>
                <li>техническая поддержка и сопровождение сайтов.</li>
            </ul>
            <h3>Что чего нужно абонентское обслуживание IT инфраструктуры?</h3>
            <ol>
                <li>Диагностика и своевременное выполнение регламентных работ позволяет существенно снизить вероятность поломок компьютерной техники и исключить простои в работе из-за технических проблем. Вы можете быть уверенными в том, что все необходимые работы с компьютерной техникой будут выполнены вовремя. В абонентское обслуживание IT инфраструктуры входят обязательные ежемесячные выезды для проведения необходимых работ.</li>

                <li>Абонентское обслуживание подразумевает незамедлительную реакцию в случае возникновения трудностей, поломок, проблем, связанных с обслуживаемой IT инфраструктурой. Это позволяет максимально сократить время возможного простоя при выполнении той или иной бизнес-задачи.</li>

                <li>В рамках абонентского обслуживания оказывается консультационная помощь сотрудникам Организации по возникающим техническим вопросам, что даёт преимущество в своевременном и грамотном выполнении служебных обязанностей сотрудников Компании.</li>

                <li>Вы получаете надёжного партнёра, полностью обеспечивающего выполнение технических задач, связанных с компьютерной техникой. В штате I do Technologies работают специалисты разных IT направлений, что позволяет профессионально выполнять любую IT задачу.</li>    
            </ol>
            <br>
            <h3>Отличия от штатного специалиста</h3>
            <br>
            <p>IT-аутсорсинг позволяет сэкономить рабочее пространство, избежать налоговых отчислений за работников IT-отдела, перерывов в обслуживании во время отпусков или болезни сотрудников, привлечения значительного числа специалистов разных областей или поиска квалифицированного специалиста широкого профиля.
            <br>
            Прибегая к услугам IT-аутсорсинга, даже небольшая фирма может себе позволить целое IT-подразделение по цене одного или нескольких специалистов. 
            </p>
            <h3>В чем отличие от сдельной работы</h3>
            <p>Иногда кажется, что обращаться к специалисту следует только при возникновении необходимости или аварийной ситуации и оплачивать устранение только той или иной проблемы, вместо ежемесячной оплаты абонентского обслуживания. Это, безусловно, оправданно в ряде случаев, например, при поломке принтера или замены блока питания монитора. Однако если речь идёт о компьютерах объединённых в локальную сеть, (возможно имеющую в своём составе сервера), дело обстоит по-другому. Каждая сеть, персональный компьютер или сервер обладают разными характеристиками, набором установленных программ, настройками, сделанными для работы в конкретной организации.  

            Приехавший по заявке разовый специалист, в первый раз видя оборудование и не зная о специфики его настройки, может устранять проблему долго и неэффективно. Абонентское обслуживание предполагает, что специалистам организации, занимающейся обслуживанием Вашей IT инфраструктуры, известны все тонкости настройки вашего оборудования и конфигурация системы. В случае возникновения сбоя, специалисту, приехавшему по вызову в рамках абонентского обслуживания, будет гораздо проще решить проблему.</p>

            <h3>Перечень регламентных работ, выполняемых ежемесячно</h3>
            <ul>
                <li>Установка обновлений ОС.
                <li>Установка обновлений ПО.</li>
                <li>Устранение сбоев в работе ПО.</li>
                <li>Проверка наличия вирусной активности.</li>
                <li>Удаление вирусов и ПО, наносящего вред безопасности компьютеров и серверов.</li>
                <li>Удаление «мусорного» ПО, установленного автоматически или пользователями.</li>
                <li>Проверка логов и настроек серверов, корректировка.</li>
                <li>Проверка логов и настроек сетевого оборудования.</li>
                <li>Противопылевая обработка, профилактика систем охлаждения.</li>
                <li>Удаление временных файлов, дефрагментация разделов жёстких дисков.</li>
                <li>Проверка целостности резервных копий.</li>
                <li>Установка нового программного обеспечения по заявкам.</li>
                <li>Модульный ремонт ПК.</li>
                <li>Замена батарей ИБП.</li>
                <li>Решение текущих (накопившихся) вопросов пользователей.</li>
            </ul>
            <h3>В чем отличие от сдельной работы</h3>
            <br>
            <p>Стоимость обслуживания IT инфраструктуры зависит от конфигурации, объёма, выдвигаемых требований к компьютерному обслуживанию. 

            Мы ориентированы на предоставление качественных услуг в области информационных технологий. Предоставление качественных услуг становится возможным благодаря привлечению к работе профессионалов. IT услуги – интеллектуальный труд, требующий специального образования, знаний и опыта. IT профессионалы не могут стоить как курьеры.

            Задумайтесь над предложениями IT аутсорсинга за 5 000 р. в месяц. Что будут делать специалисты за такую оплату? Правильно, ничего!
            </p>
        </div>
    </div>
    <div class="fixing-computers-center">
        <div class="fixing-computers-left">
            <div class="fixing-computers-title">
                <h3>Услуги и цены</h3>
            </div>
            <div class="fixing-computers-table">
                <table>
                    <tr>
                        <td>Диагностика компьютера:</td>
                        <td>Бесплатно</td>
                    </tr>
                    <tr>
                        <td>Чистка компьютера: </td>
                        <td>270 руб.</td>
                    </tr>
                    <tr>
                        <td>Нанесение защитной термопасны: </td>
                        <td>340 руб.</td>
                    </tr>
                    <tr>
                        <td>Замена видеокарты: </td>
                        <td>1320 руб.</td>
                    </tr>
                    <tr>
                        <td>Замена блока питания: </td>
                        <td>980 руб.</td>
                    </tr>
                    <tr>
                        <td>Замена кулера: </td>
                        <td>740 руб.</td>
                    </tr>
                    <tr>
                        <td>Установка операционной системы: </td>
                        <td>1000 руб.</td>
                    </tr>
                    <tr>
                        <td>Установка набора драйверов: </td>
                        <td>970 руб.</td>
                    </tr>
                </table>
            </div>
        </div>
        
    </div>

</div>