<div class="column-nav-wrap">

    <div class="column-nav-mobile-arrow">

    </div>

    <nav class="column-nav">
        <ul>
            <li class="active">
                <a href="#">Ремонт компьютеров</a>
            </li>
            <li>
                <a href="#">Установка программ</a>
            </li>
            <li>
                <a href="#">Удаление вирусов</a>
            </li>
            <li>
                <a href="#">Настройка</a>
            </li>
            <li>
                <a href="#">Диагностика</a>
            </li>
        </ul>
    </nav>


</div>