<section class="licens">
	<div class="licens-item-main">
		
		<div class="licens-item-row">
			<div class="licens-item">
				<img src="images/serteficate1.jpg">
				<a href="#call-popup4" class="fancybox-form3">
					<div class="bluring-layout">
						
					</div>
				</a>
				<div class="scale-image">
					<img src="images/zooming-scale.png">
				</div>
			</div>
			<div class="licens-item">
				<img src="images/serteficate2.jpg">
				<a href="#call-popup4" class="fancybox-form3">
					<div class="bluring-layout">					
					</div>
				</a>
				<div class="scale-image">
					<img src="images/zooming-scale.png">
				</div>
			</div>
			<div class="licens-item">
				<img src="images/serteficate3.jpg">
				<a href="#call-popup4" class="fancybox-form3">
					<div class="bluring-layout">					
					</div>
				</a>
				<div class="scale-image">
					<img src="images/zooming-scale.png">
				</div>
			</div>
			<div class="licens-item">
				<img src="images/serteficate1.jpg">
				<a href="#call-popup4" class="fancybox-form3">
					<div class="bluring-layout">					
					</div>
				</a>
				<div class="scale-image">
					<img src="images/zooming-scale.png">
				</div>
			</div>
			<div class="licens-item">
				<img src="images/serteficate2.jpg">
				<a href="#call-popup4" class="fancybox-form3">
					<div class="bluring-layout">	
					</div>
				</a>
				<div class="scale-image">
					<img src="images/zooming-scale.png">
				</div>
			</div>
			<div class="licens-item">
				<img src="images/serteficate3.jpg">
				<a href="#call-popup4" class="fancybox-form3">
					<div class="bluring-layout">					
					</div>
				</a>
				<div class="scale-image">
					<img src="images/zooming-scale.png">
				</div>
			</div>
		</div>

	</div>
</section>