<section class="comments">
	<div class="comments-container">
		<div class="comment">
			<div class="picture-side">
				<div class="picture-wrap">
					<img src="images/beatles1.jpg">
				</div>
				<div class="nick-name">
					<p>Иван Леннин</p>
				</div>
			</div>
			<div class="comment-text">
				<div class="text-wrapper">
					<p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, </p>
				</div>
				<div class="data">
					<p>18.12.2015 в 00:01</p>
				</div>
			</div>
		</div>
		<div class="comment">
			<div class="picture-side">
				<div class="picture-wrap">
					<img src="images/beatles2.jpg">
				</div>
				<div class="nick-name">
					<p>Георгий Харин</p>
				</div>
			</div>
			<div class="comment-text">
				<div class="text-wrapper">
					<p>Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах. </p>
				</div>
				<div class="data">
					<p>18.12.2015 в 00:01</p>
				</div>
			</div>
		</div>
		<div class="comment">
			<div class="picture-side">
				<div class="picture-wrap">
					<img src="images/beatles3.jpg">
				</div>
				<div class="nick-name">
					<p>Павел Маккаров</p>
				</div>
			</div>
			<div class="comment-text">
				<div class="text-wrapper">
					<p>Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах. </p>
				</div>
				<div class="data">
					<p>18.12.2015 в 00:01</p>
				</div>
			</div>
		</div>
		<div class="comment">
			<div class="picture-side">
				<div class="picture-wrap">
					<img src="images/beatles4.jpg">
				</div>
				<div class="nick-name">
					<p>Ринго Старый</p>
				</div>
			</div>
			<div class="comment-text">
				<div class="text-wrapper">
					<p>Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах. </p>
				</div>
				<div class="data">
					<p>18.12.2015 в 00:01</p>
				</div>
			</div>
		</div>
	</div>
	<div class="blog-footer">
        <div class="blog-load-more">
            <a href="#" class="blog-load-more-button">
                <img src="images/load-more.png" alt="">
                <span>Показать еще</span>
            </a>
        </div>

        <div class="paginator">
            <div class="paginator-prev">
                <a href="#"></a>
            </div>
            <ul>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li class="active">3</li>
                <li>...</li>
                <li>
                    <a href="#">8</a>
                </li>
            </ul>
            <div class="paginator-next">
                <a href="#"></a>
            </div>
        </div>
    </div>
    <div class="comment-form">
    	<div class="left-part">
    		<input type="text" name="name" placeholder="Имя">

    		<input type="email" name="e-mail" placeholder="E-mail">
			<label>
				<input type="file" name="image" placeholder="Выбрать фото" value="Выбрать фото">
				<div class="button-for-file">
					<span>Выбрать фото</span>
				</div>
			</label>
    	</div>
    	<div class="right-part">
    		<textarea placeholder="Отзыв"></textarea>
    	</div>
    	<div class="button-wrapper">
    		<button>Отправить</button>
    	</div>
    </div>
</section>