<section class="professional-form">
	<div class="mbox">

		<div class="professional-form-wrap">

			<div class="left-side">
				<div class="ctext">
					<h3>Профессиональный ремонт компьютеров, замена комплектующих</h3>
					<p>Мы производим высококвалифицированный ремонт компьютеров, настрйоку операционной системы, замену комплектующих, удаление вирусов и шпионских программ. бесплатная диагностика неполадок.</p>
				</div>
			</div>
			<div class="right-side">
				<div class="form-wrapper">
					<form class="profesional-form-main">
						<h3>БЫСТРАЯ ЗАЯВКА</h3>
						<div class="form_row">
							<div class="form_input">
								<input type="tel" name="user_telephone" placeholder="Ваш телефон" class="tel-mask" required="required" />
							</div>
						</div>
						<div class="form_row submit_row">
							<button type="submit" class="button">
								<span>ПЕРЕЗВОНИТЕ МНЕ</span>
							</button>
						</div>
					</form>
				</div>
			</div>

		</div>

	</div>
</section>