<section class="professional-sevices">
    <div class="mbox">
        <div class="professional-serives-wrap">
            <table>
                <tr>
                    <td class="background-grey">
                        <div class="professional-serices-item">
                            <div class="professional-services-text">
                                <div class="ctext">
                                    <h3>
                                        <a href="#">Ремонт компьютеров</a>
                                    </h3>
                                    <p>Оценка текущего уровня инвестиций в ИТ и обеспечение их управляемости на базе</p>
                                </div>
                                <div class="professional-services-price">От 190 руб.</div>
                            </div>
                            <div class="profesional-services-img">
                                <a href="#">
                                    <img src="images/professional-services-img1.png" alt="" />
                                </a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="professional-serices-item">
                            <div class="professional-services-text">
                                <div class="ctext">
                                    <h3>
                                        <a href="#">Установка программ</a>
                                    </h3>
                                    <p>Инсталляция самых различных программ. Приобретение лицензий</p>
                                </div>
                                <div class="professional-services-price">От 145 руб.</div>
                            </div>
                            <div class="profesional-services-img">
                                <a href="#">
                                    <img src="images/professional-services-img2.png" alt="" />
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="professional-serices-item">
                            <div class="professional-services-text">
                                <div class="ctext">
                                    <h3>
                                        <a href="#">Удаление вирусов</a>
                                    </h3>
                                    <p>Удаление вирусов, блокировок, скрытых программ. Используем сразу 3 антивируса</p>
                                </div>
                                <div class="professional-services-price">От 300 руб.</div>
                            </div>
                            <div class="profesional-services-img">
                                <a href="#">
                                    <img src="images/professional-services-img3.png" alt="" />
                                </a>
                            </div>
                        </div>
                    </td>
                    <td class="background-grey">
                        <div class="professional-serices-item">
                            <div class="professional-services-text">
                                <div class="ctext">
                                    <h3>
                                        <a href="#">Настройка</a>
                                    </h3>
                                    <p>Отлаживание работоспособности компьютера. Замена комплектующих. Разгон компьютера</p>
                                </div>
                                <div class="professional-services-price">От 430 руб.</div>
                            </div>
                            <div class="profesional-services-img">
                                <a href="#">
                                    <img src="images/professional-services-img4.png" alt="" />
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="background-grey">
                        <div class="professional-serices-item">
                            <div class="professional-services-text">
                                <div class="ctext">
                                    <h3>
                                        <a href="#">Диагностика</a>
                                    </h3>
                                    <p>Оценка текущего состояния компьютера. Выявление неисправностей</p>
                                </div>
                                <div class="professional-services-price">Бесплатно</div>
                            </div>
                            <div class="profesional-services-img">
                                <a href="#">
                                    <img src="images/professional-services-img5.png" alt="" />
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>