<section class="professional-sevices">
    <div class="mbox">
        <div class="professional-serives-wrap">
            <table>
                <tr>
                    <td>
                        <div class="professional-services-text">
                            <div class="ctext">
                                <h3>Ремонт компьютеров</h3>
                                <p>Оценка текущего уровня инвестиций в ИТ и обеспечение их управляемости на базе</p>
                            </div>
                            <div class="professional-services-price">От 190 руб.</div>
                        </div>
                        <div class="profesional-services-img">
                            <img src="images/professional-services-img1.png" alt="" />
                        </div>
                    </td>
                    <td>
                        <div class="professional-services-text">
                            <div class="ctext">
                                <h3>Установка программ</h3>
                                <p>Инсталляция самых различных программ. Приобретение лицензий</p>
                            </div>
                            <div class="professional-services-price">От 145 руб.</div>
                        </div>
                        <div class="profesional-services-img">
                            <img src="images/professional-services-img2.png" alt="" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="professional-services-text">
                            <div class="ctext">
                                <h3>Удаление вирусов</h3>
                                <p>Удаление вирусов, блокировок, скрытых программ. Используем сразу 3 антивируса</p>
                            </div>
                            <div class="professional-services-price">От 300 руб.</div>
                        </div>
                        <div class="profesional-services-img">
                            <img src="images/professional-services-img3.png" alt="" />
                        </div>
                    </td>
                    <td>
                        <div class="professional-services-text">
                            <div class="ctext">
                                <h3>Настройка</h3>
                                <p>Отлаживание работоспособности компьютера. Замена комплектующих. Разгон компьютера</p>
                            </div>
                            <div class="professional-services-price">От 430 руб.</div>
                        </div>
                        <div class="profesional-services-img">
                            <img src="images/professional-services-img4.png" alt="" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="professional-services-text">
                            <div class="ctext">
                                <h3>Диагностика</h3>
                                <p>Оценка текущего состояния компьютера. Выявление неисправностей</p>
                            </div>
                            <div class="professional-services-price">Бесплатно</div>
                        </div>
                        <div class="profesional-services-img">
                            <img src="images/professional-services-img5.png" alt="" />
                        </div>
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</section>