<div class="service-bottom">

    <div class="line-slider">
        <div class="line-item">
            <div class="line-item-wrap">
                <div class="line-img">
                    <svg version="1.1" id="q1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="42" height="42"
                        viewBox="0 0 40 42" style="enable-background:new 0 0 42 42;" xml:space="preserve">
                        <style type="text/css">
                            #q1 .st0 {
                                fill: #407EC1;
                            }

                            #q1 .st1 {
                                fill: #7ECFDD;
                            }
                        </style>
                        <g>
                            <g>
                                <g>
                                    <path class="st0" d="M40.5,9.2L37,6c-0.5-0.4-1.2-0.4-1.6,0.1l-0.9,1c-0.4,0.5-0.4,1.2,0.1,1.6l3.4,3.1c0.5,0.4,1.2,0.4,1.6-0.1
                                    l0.9-1C41,10.3,40.9,9.6,40.5,9.2z M24.4,6.8V4.3h2c0.6,0,1.1-0.5,1.1-1.1V2c0-0.6-0.5-1.1-1.1-1.1h-8.5c-0.6,0-1.1,0.5-1.1,1.1
                                    v1.1c0,0.6,0.5,1.1,1.1,1.1h1.8v2.5c-2.8,0.3-5.5,1.3-7.8,2.9c-1.1,0.7-1.3,2.2-0.5,3.2c0.7,0.9,2.2,1.1,3.2,0.4
                                    c2.2-1.4,4.8-2.2,7.4-2.2c8.2,0,14.7,7.2,13.2,15.4c-1,5.5-5.6,9.9-11.2,10.7c-7.7,1.1-14.3-4.2-15.3-11.2h1.5
                                    c1.1,0,1.8-1.1,1.2-2.1l-4-6.7c-0.5-0.9-1.9-0.9-2.4,0l-4,6.7c-0.5,0.9,0.1,2.1,1.2,2.1H4c1,9.4,9.6,16.6,19.6,15.7
                                    c8.5-0.8,15.4-7.4,16.2-15.7C40.9,16.4,33.7,8.1,24.4,6.8z" />
                                </g>
                            </g>
                            <path class="st1" d="M21.9,13.4v10.9H33C33,17.7,27.8,13.4,21.9,13.4z" />
                        </g>
                    </svg>
                </div>
                <div class="line-text">СРОЧНЫЙ ВЫЕЗД В ТЕЧЕНИИ ЧАСА</div>
            </div>
        </div>
        <div class="line-item">
            <div class="line-item-wrap">
                <div class="line-img">
                    <svg version="1.1" id="q2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="42" height="42"
                        viewBox="0 0 43 43" style="enable-background:new 0 0 43 43;" xml:space="preserve">
                        <style type="text/css">
                            #q2 .st0 {
                                fill: #407EC1;
                            }
                            #q2 .adjustable-wrench { transform: translate(0px, 0px);

                            }
                        </style>
                        <path class="st0 adjustable-wrench" d="M42.9,19.1c-0.1-0.6-0.8-1.1-1.4-1.1c-2,0-3.7-1.2-4.5-2.9c-0.7-1.8-0.3-4,1.2-5.3c0.5-0.4,0.5-1.1,0.1-1.6
                        c-1-1.3-2.2-2.4-3.4-3.4c-0.5-0.4-1.2-0.3-1.6,0.1C32,6.3,29.7,6.8,28,6.1c-1.9-0.8-3-2.7-2.9-4.7c0-0.6-0.4-1.2-1.1-1.3
                        c-1.6-0.2-3.2-0.2-4.8,0c-0.6,0.1-1.1,0.6-1.1,1.2c0.1,2-1.1,3.8-2.9,4.6c-1.8,0.7-4,0.2-5.3-1.2C9.4,4.3,8.7,4.2,8.2,4.6
                        C6.9,5.6,5.8,6.8,4.7,8C4.3,8.5,4.4,9.2,4.9,9.7c1.5,1.4,2,3.5,1.2,5.4c-0.7,1.8-2.6,2.9-4.7,2.9c-0.7,0-1.2,0.4-1.2,1.1
                        c-0.2,1.6-0.2,3.3,0,4.9c0.1,0.6,0.8,1.1,1.4,1.1c1.9,0,3.7,1.1,4.4,2.9c0.8,1.8,0.3,4-1.2,5.3c-0.5,0.4-0.5,1.1-0.1,1.6
                        c1,1.3,2.1,2.4,3.4,3.4c0.5,0.4,1.2,0.3,1.6-0.1c1.3-1.4,3.6-1.9,5.4-1.2c1.9,0.8,3,2.7,2.9,4.7c0,0.6,0.4,1.2,1.1,1.3
                        c0.8,0.1,1.6,0.1,2.5,0.1c0.8,0,1.6,0,2.4-0.1c0.6-0.1,1.1-0.6,1.1-1.2c-0.1-2,1.1-3.8,2.9-4.6c1.8-0.7,4-0.2,5.3,1.2
                        c0.4,0.5,1.1,0.5,1.6,0.1c1.3-1,2.5-2.2,3.5-3.4c0.4-0.5,0.3-1.2-0.1-1.6c-1.5-1.4-2-3.5-1.2-5.4c0.7-1.7,2.5-2.9,4.4-2.9l0.3,0
                        c0.6,0.1,1.2-0.4,1.3-1.1C43,22.4,43,20.7,42.9,19.1z M21.5,33.9c-6.8,0-12.4-5.5-12.4-12.4c0-6.8,5.5-12.4,12.4-12.4
                        c6.8,0,12.4,5.5,12.4,12.4c0,2.3-0.6,4.5-1.8,6.4l-5.4-5.4c0.4-0.9,0.6-1.9,0.6-3c0-2-0.8-3.9-2.2-5.4c-1.4-1.4-3.3-2.2-5.4-2.2
                        c-0.7,0-1.4,0.1-2,0.3c-0.3,0.1-0.5,0.3-0.6,0.6c-0.1,0.3,0,0.6,0.2,0.8c0,0,2.7,2.7,3.6,3.6c0.1,0.1,0.1,0.3,0.1,0.4l0,0.1
                        c-0.1,1-0.3,2.2-0.4,2.6c0,0,0,0-0.1,0.1c0,0,0,0-0.1,0.1c-0.5,0.1-1.7,0.3-2.7,0.4l0,0l0,0c0,0,0,0,0,0c-0.1,0-0.3,0-0.4-0.2
                        c-0.9-0.9-3.5-3.5-3.5-3.5c-0.2-0.2-0.5-0.3-0.6-0.3c-0.4,0-0.7,0.3-0.8,0.6c-0.7,2.6,0,5.4,2,7.4c1.4,1.4,3.3,2.2,5.4,2.2
                        c1,0,2-0.2,3-0.6l5.5,5.5C26.2,33.2,24,33.9,21.5,33.9z" />
                    </svg>

                </div>
                <div class="line-text">Профессиональные Обученые мастера</div>
            </div>
        </div>
        <div class="line-item">
            <div class="line-item-wrap">
                <div class="line-img">
                    <svg version="1.1" id="q3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="42" height="42"
                        viewBox="0 0 43.1 34" style="enable-background:new 0 0 43.1 34;" xml:space="preserve">
                        <style type="text/css">
                            #q3 .st0 {
                                fill: #407EC1;
                            }

                            #q3 .st1 {
                                fill: #7ECFDD;
                            }
                            #q3 .label-star { transform: translate(0px, -1px);

                            }
                        </style>
                        <g>
                            <g>
                                <g>
                                    <path class="st0 label-star" d="M40.6,15.6c-1-3.5-2.4-7.1-3.3-9c-0.3-0.7-1.1-1-1.9-0.7c-0.7,0.3-1,1.1-0.7,1.8c1.1,2.3,2.3,5.5,3.1,8.5
                                    c0,0,0,0,0,0c0.7,2.6,1.4,5.7,1.3,8.4c0,1.3-0.3,2.4-0.7,3.4c-0.6,1.2-1.5,1.9-2.8,2.2c-0.5,0.1-1.1-0.1-1.6-0.5
                                    c-0.7-0.6-2.2-2.3-2.1-6.8c4.6-2.6,4.4-2.5,4.7-2.8c-0.9-4.4-2.8-9.2-3.8-11.4c-0.8-1.7-0.1-3.8,1.7-4.6c1.8-0.8,3.8,0,4.6,1.7
                                    c0,0.1,0.6,1.2,1.2,2.9l0.8-2.5c0.2-0.6,0.1-1.2-0.2-1.7c-0.3-0.5-0.8-0.9-1.4-1L26.1,0.1C25.6-0.1,25,0,24.5,0.3L1.1,13.5
                                    c-1.1,0.6-1.4,1.9-0.8,3l9.4,16.4c0.6,1,1.9,1.4,3,0.8l16.5-9.3c0.3,4.4,2,6.5,3.1,7.4c1.1,0.9,2.6,1.4,4.1,1.1
                                    c2.1-0.5,3.7-1.8,4.6-3.7c0.5-1.1,0.9-2.4,1-4C42.2,22.1,41.5,18.6,40.6,15.6z M31.5,18.6l-18,10.2c-0.7,0.4-1.6,0.2-2-0.6
                                    L5.2,17.3c-0.4-0.7-0.2-1.6,0.6-2l18-10.2c0.7-0.4,1.6-0.2,2,0.6l6.3,10.9C32.5,17.3,32.2,18.2,31.5,18.6z" />
                                </g>
                            </g>
                            <path class="st1 label-star" d="M23.1,14.1l-3,0.2c-0.4,0-0.8-0.1-1-0.4l-1.8-2.3c-0.1-0.1-0.2-0.2-0.4-0.1c-0.1,0-0.2,0.1-0.3,0.3l-0.8,2.9
                            c-0.1,0.4-0.4,0.7-0.7,0.8l-2.8,1c-0.1,0-0.2,0.2-0.2,0.3c0,0.1,0,0.3,0.2,0.4l2.5,1.6c0.3,0.2,0.5,0.6,0.5,0.9l0.1,3
                            c0,0.1,0.1,0.3,0.2,0.3c0.1,0.1,0.3,0,0.4-0.1l2.3-1.9c0.3-0.2,0.7-0.3,1.1-0.2l2.9,0.8c0.1,0,0.3,0,0.4-0.1
                            c0.1-0.1,0.1-0.3,0.1-0.4l-1.1-2.8c-0.1-0.4-0.1-0.8,0.1-1.1l1.7-2.5c0.1-0.1,0.1-0.3,0-0.4C23.4,14.1,23.3,14.1,23.1,14.1z"
                            />
                        </g>
                    </svg>

                </div>
                <div class="line-text">Честные открытые цены на услуги</div>
            </div>
        </div>
        <div class="line-item">
            <div class="line-item-wrap">
                <div class="line-img">
                    <svg version="1.1" id="q4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="42" height="42"
                        viewBox="0 0 44.7 39.3" style="enable-background:new 0 0 44.7 39.3;" xml:space="preserve">
                        <style type="text/css">
                            #q4 .st0 {
                                fill: #407EC1;
                            }

                            #q4 .st1 {
                                fill: #7ECFDD;
                            }
                            #q4 .mon-shield{transform: translate(0px, 2px) ;

                            }
                        </style>
                        <g>
                            <g>
                                <g>
                                    <path class="st0 mon-shield" d="M30.4,0H4.8C2.1,0,0,2.2,0,4.8v13.9c0,2.7,2.1,4.8,4.8,4.8h8.7v3.1h-0.8c-1.2,0-2.3,0.9-2.3,2.2
                                    c-0.1,1.3,1,2.4,2.2,2.4h10c0.2,0,0.5,0,0.7-0.1c-1.7-3.6-2.8-7.7-3.1-11.3c0,0,0-0.1,0-0.1c0-0.3,0-0.5,0-0.8H5.5
                                    c-0.5,0-1-0.4-1-1V5.5c0-0.5,0.4-1,1-1h24.3c0.5,0,1,0.4,1,1v6.6l1-0.4c0.4-0.2,0.8-0.3,1.2-0.3c0.8-0.1,1.5,0,2.2,0.3l0,0V4.8
                                    C35.2,2.2,33.1,0,30.4,0z" />
                                </g>
                            </g>
                            <path class="st1 mon-shield" d="M43.1,17l-8.6-3.3c-0.3-0.1-0.6-0.2-0.9-0.2c-0.3,0-0.6,0.1-0.9,0.2L23.9,17c-1.1,0.4-1.8,1.5-1.7,2.7
                            c0.8,7.7,5.5,18.6,11.2,18.6S44,27.4,44.7,19.7C44.8,18.5,44.2,17.4,43.1,17z M41.3,21.6c-0.5,5.4-3.8,12.9-7.8,12.9
                            s-7.3-7.5-7.8-12.9c-0.1-0.8,0.4-1.6,1.2-1.9l6-2.3c0.2-0.1,0.4-0.1,0.6-0.1c0.2,0,0.4,0,0.6,0.1l6,2.3
                            C40.9,20,41.4,20.8,41.3,21.6z" />
                            <path class="st1" d="M28,21.7c0.6,5.2,3.6,10.5,5.5,10.5l0,0V19.6l0,0L28,21.7z" />
                        </g>
                    </svg>

                </div>
                <div class="line-text">Гарантия качественно выполненной работы</div>
            </div>
        </div>
    </div>

    <div class="service-bottom-reviews">
        <div class="service-bottom-reviews-title">
            <h3>Отзывы клиентов</h3>
            <div class="service-slider-arrows-wrap">
                <span class="service-slider-prev-button"></span>
                <span class="service-slider-next-button"></span>
            </div>
        </div>
        <div class="service-bottom-reviews-slider">
            <div class="item">
                <div class="item-img"><img src="images/service-bottom-reviews.jpg" alt=""></div>
                <div class="item-description">
                    <div class="item-description-title">Наталья Кохарева</div>
                    <div class="item-description-text">
                        <p>Какие тексты «не любит» алгоритм <br> Данный алгоритм проверки текста на плагиат онлайн принципиально отличается от проверки методом шинглов. Какие последствия это имеет для работы с текстами?</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-img"><img src="images/service-bottom-reviews.jpg" alt=""></div>
                <div class="item-description">
                    <div class="item-description-title">Наталья Кохарева</div>
                    <div class="item-description-text">
                        <p>Какие тексты «не любит» алгоритм <br> Данный алгоритм проверки текста на плагиат онлайн принципиально отличается от проверки методом шинглов. Какие последствия это имеет для работы с текстами?</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-img"><img src="images/service-bottom-reviews.jpg" alt=""></div>
                <div class="item-description">
                    <div class="item-description-title">Наталья Кохарева</div>
                    <div class="item-description-text">
                        <p>Какие тексты «не любит» алгоритм <br> Данный алгоритм проверки текста на плагиат онлайн принципиально отличается от проверки методом шинглов. Какие последствия это имеет для работы с текстами?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service-bottom-button">
        <a href="#" class="button">
            <span>Оформить заказ</span>
        </a>
    </div>

</div>