<section class="video-library-opened-partials blog">
	<div class="blog-tags">
        <ul>
            <li>
                <a href="#" class="tag active" data-tag="show_all">ВСЕ ТЕМЫ</a>
                <!--<span class="close-tag"></span>-->
            </li>
            <li>
                <a href="#" class="tag" data-tag="lifehuck">ЛАЙФКАХ</a>
                <!--<span class="close-tag"></span>-->
            </li>
            <li>
                <a href="#" class="tag" data-tag="lifehuck">ЛАЙФКАХ</a>
                <!--<span class="close-tag"></span>-->
            </li>
            <li>
                <a href="#" class="tag" data-tag="lifehuck">ПОЛЕЗНЫЕ СОВЕТЫ</a>
                <!--<span class="close-tag"></span>-->
            </li>
        </ul>
	</div>
    <div class="video-block-container">
    	<div class="video-wrapper">
			<div class="video-placeholder">
	            <div class="triangle-button">
					<img src="images/video-triangle.png">
				</div>
			</div>
            <div class="video">
                <iframe id="player" frameborder="0" allowfullscreen="1" title="YouTube video player" width="730" height="410" src="https://www.youtube.com/embed/GI6CfKcMhjY?enablejsapi=1&amp;origin=http%3A%2F%2Ftest119.sheep.fish&amp;widgetid=1"></iframe>
                <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/EwDP_bAb-OI?list=PLPltKsCTLqkxxwRUJGapnp3JzwYH8auSc" frameborder="0" allowfullscreen class="iframe-video"></iframe>-->
            </div>     
    	</div>

    	<div class="video-block-heading">
    		<h3>Компьютер включается, но нет изображения на мониторе! Черный экран</h3>
    	</div>
    	<div class="video-block-text-container">
    		<p>Компьютер включается, все кулеры крутятся, светодиоды и индикаторы светятся, но отсутствует изображение на мониторе. Нет изображения не с видеокарты, не с материнской платы. Проблема оказалось в испорченной планке оперативной памяти.</p>
    	</div>
    	<div class="share-block">
    		<div class="share-heading">
    			<h5>Поделиться</h5>
    		</div>
    		<div class="share-socials">
    			<script type="text/javascript">(function() {
				  if (window.pluso)if (typeof window.pluso.start == "function") return;
				  if (window.ifpluso==undefined) { window.ifpluso = 1;
				    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
				    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
				    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
				    var h=d[g]('body')[0];
				    h.appendChild(s);
				  }})();
				 </script>
				<div class="pluso" data-background="transparent" data-options="big,square,line,horizontal,nocounter,theme=04" data-services="facebook,vkontakte">
				</div>
    		</div>
    		<div class="sharing-link">
    			<a href="" target="_blank">
    				<span>https://youtu.be/tTnxmn2jWjo</span>
    			</a>
    		</div>
    	</div>
    </div>
   
</section>