<section class="video-library blog">

	<div class="blog-tags">
        <ul>
            <li>
                <a href="#" class="tag active" data-tag="show_all">ВСЕ ТЕМЫ</a>
                <!--<span class="close-tag"></span>-->
            </li>
            <li>
                <a href="#" class="tag" data-tag="lifehuck">ЛАЙФКАХ</a>
                <!--<span class="close-tag"></span>-->
            </li>
            <li>
                <a href="#" class="tag" data-tag="lifehuck">ЛАЙФКАХ</a>
                <!--<span class="close-tag"></span>-->
            </li>
            <li>
                <a href="#" class="tag" data-tag="lifehuck">ПОЛЕЗНЫЕ СОВЕТЫ</a>
                <!--<span class="close-tag"></span>-->
            </li>
        </ul>
    </div>
	
	<div class="blog-items-main video-items-row append-here">

        <div class="blog-items-row video-lib-items-row">
            
            <div class="text-items-row-wrap">
				<div class="item-tag-line">
                    <span class="tag">ЛАЙФХАК</span>
                </div>
                <div class="item-heading">
                	<a href="#">
                		<h3>Компьютер включается, но нет изображения на мониторе! Черный экран</h3>
                	</a>
                </div>
                <div class="text-conteiner">
                	<p>Компьютер включается, все кулеры крутятся, светодиоды и индикаторы светятся, но отсутствует изображение на мониторе. Нет изображения не с видеокарты, не с материнской платы.Проблема оказалось в испорченной планке оперативной памяти.</p>
                </div>
            </div>
             <div class="items-row-video-wrap" >
				<a href="#">
					<img src="images/video-image1.jpg">

					<div class="triangle-button">
						<img src="images/video-triangle.png">
					</div>
				
				</a>
            </div>

        </div>

        <div class="blog-items-row video-lib-items-row">
            <div class="text-items-row-wrap">
				<div class="item-tag-line">
                    <span class="tag">ЛАЙФХАК</span>
                </div>
                <div class="item-heading">
                	<a href="#">
                		<h3>Диагностика и ремонт компьютера (ну очень тормозит)</h3>
                	</a>
                </div>
                <div class="text-conteiner">
                	<p>Принесли в ремонт ПК. Жалобы: Очень тормозит, долго загружается, пропадает указатель мыши и тд. Смотрим как диагностировать неисправность.</p>
                </div>
            </div>
             <div class="items-row-video-wrap" >
				<a href="#">
					<img src="images/video-image2.jpg">
					<div class="triangle-button">
						<img src="images/video-triangle.png">
					</div>
				</a>
            </div>

        </div>

        <div class="blog-items-row video-lib-items-row">
            <div class="text-items-row-wrap">
				<div class="item-tag-line">
                    <span class="tag">ЛАЙФХАК</span>
                </div>
                <div class="item-heading">
                	<a href="#">
                		<h3>Компьютер включается, но нет изображения на мониторе! Черный экран</h3>
                	</a>
                </div>
                <div class="text-conteiner">
                	<p>Компьютер включается, все кулеры крутятся, светодиоды и индикаторы светятся, но отсутствует изображение на мониторе. Нет изображения не с видеокарты, не с материнской платы. Проблема оказалось в испорченной планке оперативной памяти.</p>
                </div>
            </div>
             <div class="items-row-video-wrap" >
				<a href="#">
					<img src="images/video-image3.jpg">					
						<div class="triangle-button">
							<img src="images/video-triangle.png">
						</div>					
				</a>
            </div>

        </div>


    </div>

   	<div class="blog-footer">

        <div class="blog-load-more">
            <a href="ajax-blog.json" class="blog-load-more-button" data-next-page="next-page-2">
                <img src="images/load-more.png" alt="" />
                <span>Показать еще</span>
            </a>
        </div>

        <div class="paginator">
            <div class="paginator-prev">
                <a href="#"></a>
            </div>
            <ul>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li class="active">3</li>
                <li>...</li>
                <li>
                    <a href="#">8</a>
                </li>
            </ul>
            <div class="paginator-next">
                <a href="#"></a>
            </div>
        </div>
    </div>

</section>